<div class="page-post-box py-3">
    <div class="container ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a routerLink="/bai-viet">Bài viết</a></li>
            </ol>
        </nav>
        <div class="post-main">
            <div class="post-main-content">
                <h1 class="post-detail__title">
                    {{postDetail.title}}
                </h1>
                <div class="post-detail__head-info">
                    <div class="post-detail__head-info-item"><span
                            class="post-detail__head-info-item-cate">Bài viết thuộc: {{postDetail.postable_type}}</span>
                        <app-list-social></app-list-social>
                    </div>
                    <div class="post-detail__head-info-item">
                        <span class="post-detail__head-info-item-text"><i class="fa-solid fa-user"></i>&ensp; {{postDetail.user.name}}</span>
                        <span class="post-detail__head-info-item-text"><i class="fa-solid fa-clock"></i>&ensp; {{postDetail.published_at}}</span>
                    </div>
                </div>
                <div class="post_upload-cv"></div>
                <div class="post-detail__short-desc" [innerHTML]="postDetail.description">
                </div>
                <div class="post-detail__img-section">
                    <img [src]="postDetail.thumbnail_url"
                        alt="" class="post-detail__img">
                </div>
                <div class="post-detail__content-text"  [innerHTML]="postDetail.content">
                </div>
                <div class="post-detail__tag-section">
                    <app-list-tag></app-list-tag>
                </div>
                <div class="post-detail__social-section">
                    <app-list-social></app-list-social>
                </div>
            </div>
            <app-aside-post></app-aside-post>
        </div>
    </div>
</div>