<div class="page-post-box py-3">
  <div class="container">
    <div class="post-main">
      <div class="post-main-content">
        <h1 class="post-detail__title" *ngIf="statusPost">
          {{ postDetail?.title }}
        </h1>
        <ngx-skeleton-loader *ngIf="!statusPost" [theme]="{
            'height.px': 30,
            'margin-bottom': '8px',
            'border-radius': '8px'
          }" appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader *ngIf="!statusPost" [theme]="{
                      'height.px': 30,
                      'border-radius': '8px'
                    }" appearance="line">
        </ngx-skeleton-loader>
        <div class="post-detail__head-info">
          <div *ngIf="statusPost" class="post-detail__head-info-item">
            <span class="post-detail__head-info-item-cate">
              Bài viết thuộc:
              <a (click)="clickChangeUrlToCategoryPost(routeCategoryPost)" class="post-detail__router-category">
                {{ postDetail?.postable_type }}
              </a>
            </span>
            <app-list-social></app-list-social>
          </div>
          <div *ngIf="statusPost" class="post-detail__head-info-item">
            <span class="post-detail__head-info-item-text"><i class="fa-solid fa-user"></i>&ensp;
              {{ postDetail?.user?.name }}</span>
            <span class="post-detail__head-info-item-text"><i class="fa-solid fa-clock"></i>&ensp;
              {{ postDetail?.published_at }}</span>
          </div>
        </div>
        <ngx-skeleton-loader *ngIf="!statusPost" [theme]="{
              'height.px': 60,
              'border-radius': '8px'
            }" appearance="line">
        </ngx-skeleton-loader>
        <div class="post-detail__short-desc" [innerHTML]="postDetail?.description"></div>
        <!-- Upload cv -->
        <div class="post_upload-cv text-center" *ngIf="postDetail?.postable_type == 'Tuyển dụng'">
          <button class="my-btn-primary my-btn-m" (click)="openModal()">
            Ứng tuyển ngay
          </button>
        </div>
        <div class="post-detail__img-section">
          <img *ngIf="statusPost" [src]="postDetail?.thumbnail_url" alt="" class="post-detail__img" />
          <ngx-skeleton-loader *ngIf="!statusPost" [theme]="{
            'height.px': 500,
            'border-radius': '8px'
          }" appearance="line">
          </ngx-skeleton-loader>
        </div>
        <div class="post-detail__content-text" [innerHTML]="postDetail?.content"></div>
        <!-- Upload cv -->
        <div class="post_upload-cv text-center" *ngIf="postDetail?.postable_type == 'Tuyển dụng'">
          <button class="my-btn-primary my-btn-m" (click)="openModal()">
            Ứng tuyển ngay
          </button>
        </div>
        <div class="post-detail__tag-section">
          <app-list-tag></app-list-tag>
        </div>
        <div class="post-detail__social-section">
          <app-list-social></app-list-social>
        </div>
      </div>
      <app-aside-post></app-aside-post>
    </div>
  </div>
</div>