<div id="main-wrapper">
    <div class="header bg-white">
        <nav class="container d-flex justify-content-between align-items-center">
            <div class="nav-response">
                <label class="" for="input_check">
                    <fa-icon class="fa-icon-menu" [icon]="['fas' , 'bars']"></fa-icon>
                </label>
                <input class="input-menu" hidden type="checkbox" id="input_check">
                <!-- <h1>Nguyễn Ngọc Uy</h1> -->

                <label for="input_check" class="over__lay">
                </label>

                <div class="menu-response">
                    <div class="border-bottom">
                        <label for="input_check" class="close-menu h-1 float-end">
                            <fa-icon class="" [icon]="['fas' , 'times']"></fa-icon>
                        </label>
                    </div>

                    <ul class="menu-res mt-5 border-top">
                        <li class="menu-res-item py-3"><a routerLink="/"
                                class="menu-res-link text-decoration-none text-uppercase fw-bold py-3">Trang
                                chủ</a>
                        </li>
                        <li class="menu-res-item py-3"><a routerLink="/cuoc-thi"
                                class="menu-res-link text-decoration-none text-uppercase fw-bold">
                                Cuộc thi
                            </a></li>
                        <li class="menu-res-item py-3"><a href=""
                                class="menu-res-link text-decoration-none text-uppercase fw-bold">
                                Test năng lực
                            </a></li>
                    </ul>
                    <div class="exam-now text-center">
                        <p class="mt-3"> <img style="width: 200px;"
                                src="https://i.pinimg.com/originals/69/2d/e0/692de06a73666b614d3319f206f51d9b.gif"
                                alt=""></p>
                        <a href="" class="btn-exam-now text-decoration-none text-white">Thi ngay</a>
                    </div>
                    <div class="logo-nav-bar-res text-center">
                        <img class="w-75 mt-5" src="./../../../assets/img/logo.png" alt="">
                    </div>
                </div>
            </div>

            <a href="" class="img-header-box"><img class="" src="./../../../assets/img/logo.png" alt=""></a>
            <div class="d-flex" id="menu_login-box">
                <ul class="nav menu_login-box d-flex align-items-center mr-auto home-nav pr-2">
                    <li class="nav-item active"><a class=" fw-bold text-decoration-none text-uppercase nav-link-item "
                            routerLink="">Trang
                            Chủ</a>
                    </li>
                    <li class="nav-item active"><a class="  fw-bold nav-link-item  text-uppercase  text-decoration-none"
                            [routerLink]="['/cuoc-thi']">Các
                            cuộc
                            thi</a>
                    </li>
                    <li class="nav-item active"><a class=" fw-bold nav-link-item  text-uppercase  text-decoration-none "
                            href="">Test
                            năng
                            lực</a></li>
                    <li>
                        <a href="" class="text-decoration-none  btn-outline-login">Đăng nhập</a>
                    </li>
                </ul>
            </div>
            <a href="" class="fa-icon-login">
                <fa-icon [icon]="['fas' , 'sign-in-alt']"></fa-icon>
            </a>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <div class="container_fluid" id="footer">
        <div class="container">
            <footer>
                <div class="row pt-5 pb-2">
                    <div class="col-12 col-md-3 col-sm-12 ">
                        <a href="" class="navbar-brand">
                            <span>
                                <img src="./../assets/img/loginpng.png" alt="" class="" style="height:80px">
                            </span>
                            <div class="mt-4  d-flex align-items-center list-social-img">
                                <div class="list-social-item"><a href="">
                                        <img src="https://caodang.fpt.edu.vn/wp-content/themes/poly-2015/images/ico-fb-landing.png"
                                            alt="">
                                    </a></div>
                                <div class="list-social-item"><a href="">
                                        <img src="https://caodang.fpt.edu.vn/wp-content/themes/poly-2015/images/ico-youtube-landing.png"
                                            alt="">
                                    </a></div>
                                <div class="list-social-item"><a href="">
                                        <img src="https://caodang.fpt.edu.vn/wp-content/uploads/icon-tiktok.png" alt="">
                                    </a></div>
                                <div class="list-social-item"><a href="">
                                        <img src="https://caodang.fpt.edu.vn/wp-content/themes/poly-2015/images/ico-wiki-landing.png"
                                            alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="footer-info-contact">
                                <h5 class="footer-title-color pt-5 fs-5">THÔNG TIN LIÊN HỆ</h5>
                                <p class="py-1 text-white footer-size-p">Điện thoại : (024) 7300 1955</p>
                                <p class="text-white footer-size-p">Email : caodang@fpt.edu.vn</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-9  col-sm-12">
                        <h4 class="footer-title-color fs-5 pb-3">HỆ THỐNG VĂN PHÒNG TUYỂN SINH</h4>
                        <div class="row">
                            <div class="col-6">
                                <div>
                                    <h6>Cơ sở Hà Nội</h6>
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-geo-alt-fill footer-title-color "
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>&nbsp;
                                        Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
                                    </p>
                                    <p>
                                        <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
                                        &nbsp;
                                        (024) 7300 1955
                                    </p>
                                </div>
                                <div>
                                    <!-- <fa-duotone-icon [icon]="['fad', 'coffee']"></fa-duotone-icon> -->
                                    <h6>Cơ sở Đà Nẵng</h6>
                                    <p>
                                        <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-geo-alt-fill footer-title-color "
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>&nbsp;Số 137 Nguyễn Thị Thập, Phường Hòa Minh, Quận Liên Chiểu, TP. Đà
                                        Nẵng
                                    </p>
                                    <p>
                                        <fa-icon class="fa-icon-phone " [icon]="['fas' , 'phone-square']"></fa-icon>
                                        &nbsp;
                                        (0236) 3710 999
                                    </p>
                                </div>
                                <div>
                                    <h6>Cơ sở Cần Thơ</h6>
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-geo-alt-fill footer-title-color "
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>&nbsp;Số 288, Nguyễn Văn Linh, phường An Khánh, quận Ninh Kiều, Tp.
                                        Cần
                                        Thơ.
                                    </p>
                                    <p>
                                        <!-- <fa-icon class="fa-icon-phone " [icon]="['fas' , 'phone-square']"></fa-icon> -->
                                        &nbsp;(0292) 7300 468
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <h6>Cơ sở Hồ Chí Minh</h6>
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-geo-alt-fill footer-title-color "
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>&nbsp;391A Nam Kỳ Khởi Nghĩa, Q. 3, TP. Hồ Chí Minh</p>
                                    <p>778/B1 Nguyễn Kiệm, P.4, Q. Phú Nhuận, TP. Hồ Chí Minh</p>
                                    <p>Toà nhà Innovation, lô 24, Công viên phần mềm Quang Trung, Quận 12, Hồ Chí
                                        Minh
                                    </p>
                                    <p>
                                        <!-- <fa-icon class="fa-icon-phone " [icon]="['fas' , 'phone-square']"></fa-icon> -->
                                        &nbsp;
                                        (028) 3526 8799 – (028)
                                        62523434
                                    </p>
                                </div>
                                <div>
                                    <h6>Cơ sở Tây Nguyên</h6>
                                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-geo-alt-fill footer-title-color"
                                            viewBox="0 0 16 16 ">
                                            <path
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>&nbsp;Số 300/6 đường Hà Huy Tập, p. Tân An, TP. Buôn Ma Thuột, Đắk Lắk
                                    </p>
                                    <p>
                                        <!-- <fa-icon class="fa-icon-phone " [icon]="['fas' , 'phone-square']"></fa-icon> -->
                                        &nbsp;(0262) 355 5678
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<app-back-top></app-back-top>
<script src="./../../../../src/assets/js/back-top.js"></script>