.banner-img-box {
  max-height: 90%;
  min-width: 100%;
}

.banner-img-box img{
  min-height: 570px;
  object-fit: cover;
}

.banner-name-major {
  font-size: 35px;
  text-shadow: 0px 2px 10px var(--primary-color);
}
