<div class="banner">
    <owl-carousel-o class="mt-5" [options]="banner">
        <ng-template class="banner-box" carouselSlide>
            <img content-mg src="./../assets/img/Banner-AP.png" alt="">
        </ng-template>
        <ng-template class="banner-box" carouselSlide>
            <img content-mg src="./../assets/img/Banner-AP.png" alt="">
        </ng-template>
        <ng-template class="banner-box" carouselSlide>
            <img content-mg src="./../assets/img/Banner-AP.png" alt="">
        </ng-template>
        <ng-template class="banner-box" carouselSlide>
            <img content-mg src="./../assets/img/Banner-AP.png" alt="">
        </ng-template>
        <ng-template class="banner-box" carouselSlide>
            <img content-mg src="./../assets/img/Banner-AP.png" alt="">
        </ng-template>
        <ng-template class="banner-box" carouselSlide>
            <img content-mg src="./../assets/img/Banner-AP.png" alt="">
        </ng-template>
    </owl-carousel-o>
</div>