<div class="container my-4">
  <div class="capacity__exam-heading">
    <div class="capacity__exam-heading-inner d-flex align-items-center justify-content-center">
      <span class="capacity__exam-heading-line"></span>
      <h1 class="capacity__exam-heading-title text-center">Bài thi test năng lực: Test năng lực Front-End Developer</h1>
      <span class="capacity__exam-heading-line"></span>
    </div>

    <div class="text-center">
      <p>Câu hỏi: <span class="text-red">45 câu</span>, thời gian: <span class="text-red">60 phút</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col col-3">
      <div class="sidebar">
        <h2 class="sidebar__title">Đề thi kiểm tra số 1</h2>

        <ul class="sidebar__list m-0 p-0">
          <li class="sidebar__list-item d-flex align-items-center">
            <div class="sidebar__list-item-icon">
              <i class="fa-solid fa-list"></i>
            </div>

            <div class="sidebar__list-item-text">
              <strong>45</strong> câu hỏi
            </div>
          </li>

          <li class="sidebar__list-item d-flex align-items-center">
            <div class="sidebar__list-item-icon">
              <i class="fa-solid fa-clock"></i>
            </div>

            <div class="sidebar__list-item-text">
              <strong>60</strong> phút làm bài
            </div>
          </li>

          <li class="sidebar__list-item d-flex align-items-center primary-color">
            <div class="sidebar__list-item-icon primary-color">
              <i class="fa-solid fa-hourglass"></i>
            </div>

            <div class="sidebar__list-item-text">
              Thời gian còn lại
            </div>
          </li>
        </ul>

        <ul class="sidebar__countdown d-flex justify-content-center p-0">
          <li class="sidebar__countdown-item text-center">
            <strong class="sidebar__countdown-item-time d-block primary-color">12</strong>
            Phút
          </li>

          <li class="primary-color sidebar__countdown-item-time">:</li>

          <li class="sidebar__countdown-item text-center">
            <strong class="sidebar__countdown-item-time d-block primary-color">59</strong>
            Giây
          </li>
        </ul>

        <button class="btn btn-register sidebar__countdown-btn">Nộp bài</button>

        <section class="question">
          <span class="question__title">Câu hỏi</span>

          <div class="question__list">
            <div class="question__list-item active">
              <div class="question__list-item-inner">1</div>
            </div>
          
            <div class="question__list-item">
              <div class="question__list-item-inner">2</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">3</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">4</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">5</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">6</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">7</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">8</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">9</div>
            </div>

            <div class="question__list-item">
              <div class="question__list-item-inner">10</div>
            </div>
          </div>
        </section>

        <section class="sidebar__note">
          <span class="sidebar__note-title primary-color">* Lưu ý</span>

          <ul class="sidebar__note-list">
            <li class="sidebar__note-list-item">1. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li class="sidebar__note-list-item">2. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </section>
      </div>
    </div>

    <div class="col col-9 question__content">
      <ul class="question__content-list">
        <li class="question__content-item">
          <span class="question__content-item-num d-block">Câu 1</span>

          <p class="question__content-item-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis deleniti commodi ducimus corporis cum, magni at, voluptates ratione eius unde necessitatibus placeat omnis dolorum inventore debitis velit consequatur iusto quo!</p>

          <ul class="answers">
            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">A</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>

            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">B</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>

            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">C</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>

            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">D</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>
          </ul>
        </li>

        <li class="question__content-item">
          <span class="question__content-item-num d-block">Câu 2</span>

          <p class="question__content-item-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis deleniti commodi ducimus corporis cum, magni at, voluptates ratione eius unde necessitatibus placeat omnis dolorum inventore debitis velit consequatur iusto quo!</p>

          <ul class="answers">
            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">A</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>

            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">B</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>

            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">C</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>

            <li class="answer d-flex align-items-center">
              <span class="answer__num d-flex justify-content-center align-items-center">D</span>
              <p class="answer__content m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deleniti alias maxime nemo eius autem praesentium in totam natus? Consectetur nihil, provident fuga in molestias architecto rem tempora alias facilis.</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>