<div class="container my-4">
  <div class="capacity__exam-heading" *ngIf="!isFetchingRound">
    <div class="capacity__exam-heading-inner d-flex align-items-center justify-content-center">
      <span class="capacity__exam-heading-line"></span>
      <h1 class="capacity__exam-heading-title text-center">Bài thi test năng lực: {{ roundDetail.contest.name }}</h1>
      <span class="capacity__exam-heading-line"></span>
    </div>

    <div class="text-center">
      <p *ngIf="statusTakingExam === 1">Câu hỏi: <span class="text-red">45 câu</span>, thời gian: <span class="text-red">60 phút</span></p>

      <div *ngIf="statusTakingExam === 0 || statusTakingExam === 2">
        <span>Phần thi: {{ roundDetail.name }}</span>,
        bắt đầu: <span class="text-red">{{ roundDetail.start_time | formatDate }}</span>,
        hạn chót: <span class="text-red">{{ roundDetail.end_time | formatDate }}</span>
      </div>
    </div>
  </div>

  <!-- chờ làm bài -->
  <section class="capacity__exam-description text-center" *ngIf="statusTakingExam === 0 && !isFetchingRound">
    <h2 class="text-center capacity__exam-description-title">
      Hãy nhấn
      <span class="text-uppercase text-red">bắt đầu</span>
      để làm bài
    </h2>

    <button class="btn btn-register text-center btn-base-type-bg" (click)="handleTakeExam()">Bắt đầu</button>
  </section>

  <!-- làm bài -->
  <form (ngSubmit)="handleSubmitExam()" [formGroup]="formAnswers" *ngIf="statusTakingExam === 1">
    <div class="row">
      <div class="col col-12 col-md-3">
        <div class="sidebar">
          <h2 class="sidebar__title">Đề thi kiểm tra số 1</h2>
  
          <ul class="sidebar__list m-0 p-0">
            <li class="sidebar__list-item d-flex align-items-center">
              <div class="sidebar__list-item-icon">
                <i class="fa-solid fa-list"></i>
              </div>
  
              <div class="sidebar__list-item-text">
                <strong>45</strong> câu hỏi
              </div>
            </li>
  
            <li class="sidebar__list-item d-flex align-items-center">
              <div class="sidebar__list-item-icon">
                <i class="fa-solid fa-clock"></i>
              </div>
  
              <div class="sidebar__list-item-text">
                <strong>60</strong> phút làm bài
              </div>
            </li>
  
            <li class="sidebar__list-item d-flex align-items-center primary-color">
              <div class="sidebar__list-item-icon primary-color">
                <i class="fa-solid fa-hourglass"></i>
              </div>
  
              <div class="sidebar__list-item-text">
                Thời gian còn lại
              </div>
            </li>
          </ul>
  
          <ul class="sidebar__countdown d-flex justify-content-center p-0">
            <li class="sidebar__countdown-item text-center">
              <strong class="sidebar__countdown-item-time d-block primary-color">{{ countDownTimeExam.minutes }}</strong>
              Phút
            </li>
  
            <li class="primary-color sidebar__countdown-item-time">:</li>
  
            <li class="sidebar__countdown-item text-center">
              <strong class="sidebar__countdown-item-time d-block primary-color">{{ countDownTimeExam.seconds }}</strong>
              Giây
            </li>
          </ul>
  
          <button class="btn btn-register sidebar__countdown-btn">Nộp bài</button>
  
          <section class="question">
            <span class="question__title">Câu hỏi</span>
  
            <div class="question__list">
              <!-- active câu hỏi đã làm -->
              <div class="question__list-item" (click)="scrollToQuestion(i)" [ngClass]="{active: checkQuesAnswered(ques.id)}" *ngFor="let ques of fakeQuestionData; let i = index">
                <div class="question__list-item-inner">{{ i + 1 }}</div>
              </div>
            </div>
          </section>
  
          <section class="sidebar__note">
            <span class="sidebar__note-title primary-color">* Lưu ý</span>
  
            <ul class="sidebar__note-list">
              <li class="sidebar__note-list-item">1. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
              <li class="sidebar__note-list-item">2. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
          </section>
        </div>
      </div>
  
      <div class="col col-12 col-md-9 question__content">
        <ul class="question__content-list">
          <li class="question__content-item" *ngFor="let question of fakeQuestionData; let i = index" #questions>
            <span class="question__content-item-num d-block">Câu {{ i + 1 }}:</span>
  
            <p class="question__content-item-content" [innerHTML]="question.content"></p>
  
            <ul class="answers">
              <li class="answers__item" *ngFor="let answer of question.answers; let j = index" (click)="handleChooseAnswer(question.id)">
                <input class="answers__input" type="radio" hidden [id]="'answer-' + answer.id" [formControlName]="'question-' + (i + 1) + '-' + question.id" [value]="answer.id">
                <label [for]="'answer-' + answer.id" class="answer d-flex align-items-center">
                  <span class="answer__num d-flex justify-content-center align-items-center">{{ (j + 10).toString(36).toUpperCase() }}</span>
                  <p class="answer__content m-0">{{ answer.content }}</p>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </form>

  <!-- kết quả làm bài -->
  <div class="capacity__exam-result text-center" *ngIf="statusTakingExam === 2">
    <h2>Kết quả làm bài</h2>
    <span class="text-uppercase text-red capacity__exam-result-point">8/10</span>

    <ul class="capacity__exam-result-list">
      <li class="capacity__exam-result-list-item d-flex justify-content-between align-items-center my-1">
        <span>Thời gian</span>
        <span class="fw-bolder">10 phút 59 giây</span>
      </li>

      <li class="capacity__exam-result-list-item d-flex justify-content-between align-items-center my-1">
        <span>Nộp lúc</span>
        <span class="fw-bolder">28 tháng 6 lúc 9:40</span>
      </li>

      <li class="capacity__exam-result-list-item d-flex justify-content-between align-items-center my-1">
        <span>Số câu đúng</span>
        <span class="fw-bolder">8</span>
      </li>

      <li class="capacity__exam-result-list-item d-flex justify-content-between align-items-center my-1">
        <span>Số câu sai</span>
        <span class="fw-bolder">3</span>
      </li>

      <li class="capacity__exam-result-list-item d-flex justify-content-between align-items-center my-1">
        <span>Chưa làm</span>
        <span class="fw-bolder">1</span>
      </li>
    </ul>

    <ul class="flex-wrap capacity__exam-result-actions d-flex justify-content-center align-items-center">
      <li class="capacity__exam-result-actions-item btn btn-register mx-1 my-1">Lịch sử làm bài</li>

      <li (click)="handleGoToNextRound(getNextRound().round_id)" class="capacity__exam-result-actions-item btn btn-register d-flex align-items-center mx-1 my-1" *ngIf="getNextRound().status">
        Phần thi tiếp theo
        <div class="capacity__exam-result-actions-item-icon mx-1">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </li>

      <li class="capacity__exam-result-actions-item mx-1 my-1" *ngIf="!getNextRound().status">
        <a href="" class="btn btn-register">Bảng xếp hạng</a>
      </li>
    </ul>
  </div>
</div>