<div class="contest-detail-left-header">
    <div class="p-3" *ngIf="status == 'done'">
        <p class="fw-bold fs-5 color-blue">{{contestDetail.name}}</p>
        <p class="color-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">{{contestDetail.date_start |
                formatDate}}</span></p>
        <p class="color-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">{{contestDetail.register_deadline |
                formatDate}}</span></p>
        <p class="fw-bold color-gray p-justify fs-text">Nội dung : <span
                class="fw-normal">{{contestDetail.description}}</span></p>
        <div class="d-flex justify-content-start align-items-center">
            <p class="fw-bold fs-text color-gray">Tổng số đội :
            </p>
            &nbsp;
            &nbsp;
            <p class="" *ngIf="contestDetail.teams == ''">Chưa có team nào !</p>
            <div class="" *ngIf="contestDetail.teams.length > 0">
                <app-list-avatar-user [listTeam]="contestDetail.teams">
                </app-list-avatar-user>
            </div>
        </div>
    </div>
    <div *ngIf="status == 'pending'" class="p-3">
        <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 'margin-bottom' : '10px' , 'width' : '50%' }"
            appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 10, 'margin-bottom' : '10px'}" appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 10, 'margin-bottom' : '10px'  }" appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 30, 'margin-bottom' : '10px'  }" appearance="line">
        </ngx-skeleton-loader>
        <div class="d-flex align-items-center">
            <div class="col-3">
                <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 'margin-bottom' : '10px' }" appearance="line">
                </ngx-skeleton-loader>
            </div>
            <div class="col-7">
                <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }" appearance="circle">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }" appearance="circle">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }" appearance="circle">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }" appearance="circle">
                </ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>