
<div class="container py-4">
    <form [formGroup]="formFilter" (submit)="filterRankingCapacity()" class="rankingCapacity-filter-box py-3 rounded row">
        <div class="col-3">
          <div ngbDropdown class="d-inline-block w-100">
            <input
              type="text"
              (keyup)="
                filterSelect(majors, $any($event.target).value, 'major')
              "
              formControlName="filterMajor"
              class="form-control w-100"
              placeholder="Chuyên ngành"
              id="dropdownBasic1"
              ngbDropdownToggle
            />
            <div
              ngbDropdownMenu
              class="w-100"
              aria-labelledby="dropdownBasic1"
            >
              <div *ngIf="!majors" class="d-flex justify-content-center">
                <app-loading-item class="py-2"></app-loading-item>
              </div>
              <a
                *ngFor="let item of majors"
                (click)="setValueFilterMajor(item)"
                class="text-collapse"
                ngbDropdownItem
                >{{ item.name }}</a
              >
            </div>
          </div>
        </div>
      <div class="col-2">
          <button class="btn-search-rankingCapacity w-100 h-100">
            Tìm kiếm
          </button>
        </div>
  </form>
</div>
<div class="no-results" *ngIf="statusNotResultReturn">
    Không tìm thấy kết quả nào
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">TOP</th>
        <th scope="col">Tên</th>
        <th scope="col">Avatar</th>
        <th scope="col">Email</th>
        <th scope="col">Điểm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rank of listRanking, ,let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{rank.user.name}}</td>
        <td><img src={{rank.user.avatar}} alt="" width="100"></td>
        <td>{{rank.user.email}}</td>
        <td>{{rank.total_scores}} Điểm</td>
      </tr>
    </tbody>
  </table>