<div class="recruitment-box">
    <div class="ability-test-box">
        <h2 class="fw-bold color-blue mb-0">Test năng lực</h2>
        <div class="title-line">
        </div>
        <div class=" ability-test-all-box">
            <mat-accordion class="mt-3">
                <mat-expansion-panel class="ability-test-item mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="ability-test-title">
                            Bài 1 :
                        </mat-panel-title>
                        <mat-panel-description>
                            Test lập trình php
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row  my-3">
                        <div class="col-4 ability-test-img">
                            <img class="w-100"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCXMMl-QUyfqq1UZlkvBAHHtG4Rijd20pxg&usqp=CAU"
                                alt="">
                        </div>
                        <div class="col-8">
                            <ul class="sidebar__content-list">
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>

                                    <span>Bài Test được mở lúc:</span>
                                    <strong class="sidebar__content-list-item-time">10:30 03/05/2022</strong>
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </div>

                                    3 bài thi
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>

                                    Số lượt làm bài: 1000
                                </li>
                            </ul>
                            <button class="btn btn-register">Test ngay</button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="ability-test-item mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="ability-test-title">
                            Bài 1 :
                        </mat-panel-title>
                        <mat-panel-description>
                            Test lập trình php
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row  my-3">
                        <div class="col-4 ability-test-img">
                            <img class="w-100"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCXMMl-QUyfqq1UZlkvBAHHtG4Rijd20pxg&usqp=CAU"
                                alt="">
                        </div>
                        <div class="col-8">
                            <ul class="sidebar__content-list">
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>

                                    <span>Bài Test được mở lúc:</span>
                                    <strong class="sidebar__content-list-item-time">10:30 03/05/2022</strong>
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </div>

                                    3 bài thi
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>

                                    Số lượt làm bài: 1000
                                </li>
                            </ul>
                            <button class="btn btn-register">Test ngay</button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="ability-test-item mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="ability-test-title">
                            Bài 1 :
                        </mat-panel-title>
                        <mat-panel-description>
                            Test lập trình php
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row  my-3">
                        <div class="col-4 ability-test-img">
                            <img class="w-100"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCXMMl-QUyfqq1UZlkvBAHHtG4Rijd20pxg&usqp=CAU"
                                alt="">
                        </div>
                        <div class="col-8">
                            <ul class="sidebar__content-list">
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>

                                    <span>Bài Test được mở lúc:</span>
                                    <strong class="sidebar__content-list-item-time">10:30 03/05/2022</strong>
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </div>

                                    3 bài thi
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>

                                    Số lượt làm bài: 1000
                                </li>
                            </ul>
                            <button class="btn btn-register">Test ngay</button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="ability-test-item mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="ability-test-title">
                            Bài 1 :
                        </mat-panel-title>
                        <mat-panel-description>
                            Test lập trình php
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row  my-3">
                        <div class="col-4 ability-test-img">
                            <img class="w-100"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCXMMl-QUyfqq1UZlkvBAHHtG4Rijd20pxg&usqp=CAU"
                                alt="">
                        </div>
                        <div class="col-8">
                            <ul class="sidebar__content-list">
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>

                                    <span>Bài Test được mở lúc:</span>
                                    <strong class="sidebar__content-list-item-time">10:30 03/05/2022</strong>
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </div>

                                    3 bài thi
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>

                                    Số lượt làm bài: 1000
                                </li>
                            </ul>
                            <button class="btn btn-register">Test ngay</button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="ability-test-item mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="ability-test-title">
                            Bài 1 :
                        </mat-panel-title>
                        <mat-panel-description>
                            Test lập trình php
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row  my-3">
                        <div class="col-4 ability-test-img">
                            <img class="w-100"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCXMMl-QUyfqq1UZlkvBAHHtG4Rijd20pxg&usqp=CAU"
                                alt="">
                        </div>
                        <div class="col-8">
                            <ul class="sidebar__content-list">
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>

                                    <span>Bài Test được mở lúc:</span>
                                    <strong class="sidebar__content-list-item-time">10:30 03/05/2022</strong>
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </div>

                                    3 bài thi
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>

                                    Số lượt làm bài: 1000
                                </li>
                            </ul>
                            <button class="btn btn-register">Test ngay</button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="ability-test-item mb-2">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="ability-test-title">
                            Bài 1 :
                        </mat-panel-title>
                        <mat-panel-description>
                            Test lập trình php
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row  my-3">
                        <div class="col-4 ability-test-img">
                            <img class="w-100"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCXMMl-QUyfqq1UZlkvBAHHtG4Rijd20pxg&usqp=CAU"
                                alt="">
                        </div>
                        <div class="col-8">
                            <ul class="sidebar__content-list">
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>

                                    <span>Bài Test được mở lúc:</span>
                                    <strong class="sidebar__content-list-item-time">10:30 03/05/2022</strong>
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </div>

                                    3 bài thi
                                </li>
                                <li class="sidebar__content-list-item">
                                    <div class="sidebar__content-list-item-icon">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>

                                    Số lượt làm bài: 1000
                                </li>
                            </ul>
                            <button class="btn btn-register">Test ngay</button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
    <div class="about-the-business-box">
        <h2 class="fw-bold color-blue mb-0">Tuyển dụng</h2>
        <div class="title-line">
        </div>
        <h3 class="fs-4" style="margin-bottom:0px ;">Fullstack Dev (JavaScript, PHP, Laravel)
        </h3>
        <p>IHOUZZ TECH</p>
        <mat-tab-group>
            <mat-tab label=" Nội dung">
                <div class="recruitment-content">
                    <img class="w-100" src="./../../../assets/img/Screenshot 2022-06-18 105541.jpg" alt="">
                    <img class="w-100" src="./../../../assets/img/Screenshot 2022-06-18 105541.jpg" alt="">
                </div>
            </mat-tab>
            <mat-tab label="Về chúng tôi">
                <div class="recruitment-content">
                    <img class="w-100" src="./../../../assets/img/Screenshot 2022-06-18 105541.jpg" alt="">
                    <img class="w-100" src="./../../../assets/img/Screenshot 2022-06-18 105541.jpg" alt="">
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button (click)="closeDialog()" mat-raised-button>Đóng</button>
</div>