.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 30px 0;
  text-align: center;
  list-style: none;
}

.pagination-list_box {
  background: var(--my-gray);
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  display: inline-block;
  margin: 0px 3px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  color: #000;
  transition: all 0.25s linear;
  cursor: pointer;
}

.pagination-list_box:hover {
  background: var(--my-primary);
  color: #ffffff;
}

.pagination-list_dot {
  text-align: center;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  display: inline-block;
  margin: 0px 3px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
}

.pagination-item.active {
  background-color: var(--my-primary);
  color: #fff;
}
