<div class="post-item">
    <div class="post-item-img-section">
        <ngx-skeleton-loader [theme]="{ 'height.px' : 260, 'border-radius': '8px' }" appearance="line">
        </ngx-skeleton-loader>
        <div class="post-item-content post-item-content--new-in-cate my-shadow-2">
            <h3 class="post-item__title">
                <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 'border-radius': '8px' }" appearance="line">
                </ngx-skeleton-loader>
            </h3>
            <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 'border-radius': '8px' }" appearance="line">
            </ngx-skeleton-loader>
            <div class="post-item-bottom">
                <ngx-skeleton-loader [theme]="{ 'height.px' :50, 'border-radius': '8px' }" appearance="line">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ 'height.px' : 30, 'width.px' : 50, 'border-radius': '8px' }"
                    appearance="line">
                </ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>