<mat-progress-bar class="mb-3" *ngIf="statusAddMember == false" color="warn" mode="indeterminate"></mat-progress-bar>
<div *ngIf="statusArrayMember == true">
    <form class="input-group ">
        <input type="text" placeholder="Tìm kiếm thành viên ..."
           class="input-search form-control" (keyup)="setValueSearchMember($event)">
        <button (click)="searchMembers()" class="input-group-text btn__search-major"><i class="fa-solid fa-magnifying-glass"></i
            ></button>
    </form>
    <div mat-dialog-content *ngIf="statusResultMembers == false">
        <table mat-table class=" w-100 example-container" [dataSource]="arrayMembers">

            <div class="example-table-container">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef class=" table-member-th"> STT </th>
                    <td mat-cell *matCellDef="let element"> {{configFunctionService.indexTable(element.id ,
                        arrayMembers , 0 , 0)}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class=" table-member-th">Tên </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="img">
                    <th mat-header-cell *matHeaderCellDef class=" table-member-th"> Ảnh </th>
                    <td mat-cell *matCellDef="let element">
                        <img width="30px" class="rounded-circle item-member-img" [src]="element.avatar" alt="">
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class=" table-member-th"> Email </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.email}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="check-box">
                    <th mat-header-cell *matHeaderCellDef class="text-center table-member-th">
                        Chọn
                    </th>
                    <td mat-cell class="text-center" *matCellDef=" let element">
                        <mat-checkbox (change)=addItemUser(element.id) color="warn" class="text-center example-margin"
                            [(ngModel)]="element.checked">
                        </mat-checkbox>
                    </td>
                </ng-container>
            </div>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>
<div *ngIf="statusArrayMember == false" class="text-center mt-3">
    <ngx-skeleton-loader count="5" [theme]="{ 'height.px' : 35, 'margin-bottom' : '7px'}" appearance="line">
    </ngx-skeleton-loader>
</div>

<div *ngIf="statusResultMembers == true">
    <div class="my-3" mat-dialog-content>
        Không tìm thấy thành viên này!!!;
    </div>
</div>
<div  mat-dialog-actions class="float-end">
    <button mat-stroked-button class="mx-2" (click)="closeListMember()">Đóng</button>
    <button *ngIf="statusArrayMember && !statusResultMembers " class="my-btn-primary my-btn-s"  [disabled]="!statusSubmit" (click)="addUserTeam()">Thêm thành
         viên</button>
</div>