.icon-add-team {
  padding: 10px 9px;
  color: white;
  background-color: #ff5622;
  border-radius: 50px;
  font-size: 13px;
}

.item-member-img {
  height: 30px;
  object-fit: cover;
}

.member-item-img {
  width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.member-item-name {
  margin-top: 3px;

}

.btn__search-major {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.item-member-img {
  height: 30px;
  object-fit: cover;
}

th {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.btn-add-member {
  border: 1px solid var(--primary-color);
}

