.container-fluid {
  background-image: url("../../../assets/img/login-bg.jpg");
  background-repeat: no-repeat;
}

.login-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btn_login-google {
  border: none;
  padding: 10px 150px;
  background-color: var(--primary);
  color: #ffff;
  border-radius: 6px;
}

.btn_login-google:hover {
  opacity: 0.8;
}

/*
*   responsive
*/
/* -----Mobile----- */
@media (max-width :767px) {
  .login-box {
    height: 40%;
  }

  .logo_go-img {
    width: 55%;
    display: block;
    margin: 0 auto;
  }

  .btn_login-google {
    padding: 10px 90px;
  }

}
