* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    /* height: 2000px; */
    /* position: relative; */

}

a{
    text-decoration: none;
}

:root {
    --color-primary: #0975f5;
    --color-sub: #1fb5d4;
    --color-black: #000;
    --color-white: #ffff;
    --color-container: #F8F8F8;
    --color-text: rgb(85, 83, 83);
}

.header-cart {
    cursor: pointer;
}


.w-100 {
    width: 100%;
}

.h-100 {
    width: 100%;
}

.padding-container {
    padding: 0px 80px;
}

.text-center {
    text-align: center;
}

.color-primary {
    color: var(--color-primary);
}

.color-text {
    color: var(--color-text);
}

.commom-title {
    font-weight: bold;
    color: var(--color-primary);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.commom-text {
    font-weight: bold;
    color: var(--color-primary);
    font-size: 1.2rem;
    text-align: center;
}


/* HEADER */
.header-top {
    background-color: var(--color-sub);
    height: 40px;
    color: var(--color-white);
    text-align: center;
    line-height: 40px;
    font-size: 0.9rem;
}

.header-main {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main_log {
    font-size: 2rem;
    font-weight: bold;
}

.header-search_form-box {
    position: relative;
}

.header-search_form-input:focus {
    outline: none;
}

.header-search_form-input:focus .product-result-search {
    overflow: visible;
}

.header-search_form-input {
    width: 300px;
    height: 35px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.header-info-user-img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.product-result-search {
    position: absolute;
    top: 35px;
    width: 100%;
    background-color: var(--color-white);
    height: 320px;
    overflow-y: auto;
    z-index: 1;
}

.product-result-search::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(235, 232, 232);
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
}

.product-search-item-img {
    width: 60px;
    object-fit: cover;
    height: 40px;
    border-radius: 50px;
}

.product-search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.product-search-item:hover {
    background-color: rgb(219, 218, 218);
    cursor: pointer;
}

.product-search-item-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    margin-left: 15px;
}

.product-search-item-price {
    color: #8E0007;
}

.header-search_btn-primary {
    height: 35px;
    padding: 0px 13px;
    background-color: var(--color-primary);
    border: none;
    font-size: 0.8rem;
    color: var(--color-white);
    border-radius: 2px;
}

.header-main_sub {
    display: flex;
    align-items: center;
}

.header-main_sub .icon {
    font-size: 1.3rem;
    margin-right: 15px;
    color: var(--color-text);
}

.header-main_sub span {
    font-weight: 400;
    font-size: 0.8rem;
}

.header-main_sub p {
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--color-text)
}

.header-info-user-name p {
    font-size: 0.9rem;
}

.header-info-user-name p:hover {
    cursor: pointer;
    color: var(--color-primary)
}

.header-icon-cart {
    position: relative;
}

.header-icon-cart span {
    padding: 3px 6px;
    background-color: var(--color-primary);
    position: absolute;
    top: -15px;
    border-radius: 40px;
    right: 5px;
    color: var(--color-white);
}

.header-menu {
    height: 40px;
    margin-top: 10px;
}

.header-menu_list{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-menu_list li{
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 20px;
}

.header-menu_list li a {
    text-decoration: none;
    color: #666;
}

/* FOOTER */
.header-footer {
    border-bottom: 1px solid #ccc;
    padding: 30px 0px;
}

.footer {
    background-color: var(--color-container);
}

.header-footer-form-box {
    margin: 20px 0px;

}

.header-footer-form-input {
    width: 350px;
    height: 40px;
    padding-left: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
}


.product-search-item {
    display: flex;
}

.header-footer-form-btn {
    height: 40px;
    padding: 0px 20px;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: #ffff;
    border: none;
}

.footer-intro-box {
    display: flex;
    justify-content: space-between;
    height: 160px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.footer-intro-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-intro-item img {
    margin-right: 15px;
}

.footer-intro-item p {
    font-size: 0.9rem;
    color: var(--color-primary);
    font-weight: 600;
}

.footer-intro-item span {
    font-weight: 400px;
    color: var(--color-text);
}

/* -------- */

.header-footer_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 30px; */
    grid-gap: 40px;
    padding: 20px 80px;
    border-bottom: 1px solid #ccc;
}

.title-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.header-footer_description img {
    height: 70px;
}

.header-contact_list {
    list-style-type: none;
}

.header-contact_list li {
    margin-bottom: 10px;
}


.header-contact_list i {
    color: var(--color-primary);
}

.footer-end {
    height: 50px;
}

.footer-end p {
    line-height: 50px;
}

#backTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: var(--color-white);
    cursor: pointer;
}

/* --------------- */

.list-contact-icon-box {
    position: fixed;
    bottom: 200px;
    left: 15px;
}

.list-contact-icon {
    list-style-type: none;
}

.list-contact-icon li {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 50px;
    color: var(--color-white);
    border-radius: 50px;
}

.list-contact-icon li:hover{
    cursor: pointer;
}

.bg-facebook {
    background-color: #4267B2;
}

.bg-phone{
    background-color: #EF5B0C;
}

.bg-youtobe{
    background-color: #EB1D36;
}

.bg-twiter{
    background-color: #3AB0FF;
}

.container {
    height: 600px;
    position: relative;
}

.container__image--box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.container__image--box .active {
    display: block;
}

.container__dots--box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container__dots--box .active {
    background-color: #ffff;
}

.container__dots--item {
    width: 15px;
    height: 15px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 50px;
}

.container__btn-commom {
    position: absolute;
    top: 60%;
    transform: translateY(-170%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
}

.container__btn-prev {
    left: 30px;
}

.container__btn-next {
    right: 30px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

.product-list_box {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
 }
 
 .product-item {
    border: 1px solid #e1e3e4;
    background-color: #ffff;
    padding: 15px;
    cursor: pointer;
    position: relative;
 }
 
 .product-item_name a:hover  {
    color: var(--color-primary);
 }
 
 .product-item_name a{
    margin: 4px 0px;
    text-decoration: none;
    color: var(--color-black);
    font-size: 18px;
    justify-content:space-between;
    font-weight: bold;
 }
 
 .product-item_price-wraper{
    display: flex;
    justify-content: start;
    margin-top: 10px;
 }


 .product-item_img-box img{
    height: 250px;
 }
 
 .product-item_price-wraper .product-price-main{
    color: #b6030c;
    font-weight: bold;
    font-size: 1.1rem;
 }
 
 .product-item_price-wraper .product-price_sale{
    margin-left: 15px;
    font-size: 0.9rem;
    margin-top: 4px;
    text-decoration: line-through;
    color: #444;
 }
 
 .product-item_percent{
    position: absolute;
    width: 60px;
    text-align: center;
    font-weight: 600;
    color: var(--color-white);
    top: 0;
    left: 0;
 }
 
 .product-item_icon{
    position: absolute;
    top: 40%;
    left: 37%;
    background-color: var(--color-black);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    transform: scale(0);
    transition: all ease 0.3s;
 }

 .product-item_percent--title{
    padding: 6px;
    color: black;
    background-color: #FCE700;
 }

 .product-item_percent--data{
    padding: 5px;
    background-color: #8E0007;
 }
 
 .product-item_img-box:hover .product-item_icon{
    transform: scale(1);
    transition: all ease 0.3s;
    color: var(--color-white);
 }
 
 .product-item_icon:hover{
    background-color: #8E0007;
 }

 ul.breadcrumb {
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li .breadcrumb__normal {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  ul.breadcrumb li .breadcrumb__normal:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .breadcrumb__current{
    color: var(--color-black);
  }

  .page-numbers{
    padding: 7px 10px;
    margin: 0px 5px;
    border-radius:6px;
}

.page-numbers.current{
    background-color: var(--color-primary);
    color: white !important;
}

.post__paginate .next:hover,
.post__paginate .prev:hover{
    transition: all ease-in 0.3s;
    background-color: var(--color-primary);
    color: white !important;
}
 