.banner {
   position: relative;
   /* z-index: -1; */
}

.banner-sub_box {
   width: 100%;
   position: absolute;
   top: 70%;
   display: flex;
   justify-content: center;
   z-index: 10;
}

.banner-sub_img-box {
   width: 350px;
   border: 20px solid var(--color-white);
   overflow: hidden;
}

.banner-sub_img-box img {
   object-fit: cover;
   height: 220px;
   transform: scale(1);
   transition: all ease-in 0.3s;
}

.banner-sub_img-box img:hover {
   transform: scale(1.2);
   transition: all ease-in 0.3s;
   cursor: pointer;
}

.content-home {
   background-color: var(--color-container);
   padding-top: 150px;
}

.product-list_box {
   display: grid;
   margin-top: 50px;
   grid-template-columns: repeat(5, 1fr);
}

.product-item {
   /* border-right: 1px solid #e1e3e4;
   border-bottom: 1px solid #e1e3e4; */
   border: 1px solid #e1e3e4;
   background-color: #ffff;
   padding: 15px;
   cursor: pointer;
}

.product-item_name a:hover  {
   color: var(--color-primary);
}

.product-item_name a{
   margin: 4px 0px;
   text-decoration: none;
   color: var(--color-text);
}

.product-item_price-wraper{
   display: flex;
   justify-content: start;
   margin-top: 10px;
}

.product-item_img-box{
   position: relative;
}

.product-item_price-wraper .product-price-main{
   color: #b6030c;
   font-weight: bold;
   font-size: 1.1rem;
}

.product-item_price-wraper .product-price_sale{
   margin-left: 15px;
   font-size: 0.9rem;
   margin-top: 4px;
   text-decoration: line-through;
   color: #444;
}

.product-item_percent{
   position: absolute;
   width: 60px;
   height: 25px;
   background-color: #b6030c;
   text-align: center;
   line-height: 25px;
   font-weight: 600;
   color: var(--color-white);
   top: 0;
   left: 0;
}

.product-item_icon{
   position: absolute;
   top: 40%;
   left: 37%;
   background-color: var(--color-white);
   height: 50px;
   width: 50px;
   text-align: center;
   line-height: 50px;
   border-radius: 50px;
   font-size: 1.2rem;
   transform: scale(0);
   transition: all ease 0.3s;
}

.product-item_img-box:hover .product-item_icon{
   transform: scale(1);
   transition: all ease 0.3s;
}

.product-item_icon:hover{
   background-color: var(--color-black);
   color: var(--color-white);
}

/* -------- */
.category_image-above-box{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 30px;
}

.category_image-item-box{
   position: relative;
 }

 .category_image-box{
   margin-top: 70px;
 }
 
 .image {
   width: 100%;
   height: auto;
 }
 
 .overlay {
   position: absolute;
   bottom: 100%;
   left: 0;
   right: 0;
   background-color: #008bba77;
   overflow: hidden;
   width: 100%;
   height:0;
   transition: .5s ease;
 }
 
 .category_image-item-box:hover .overlay {
   bottom: 0;
   height: 100%;
   cursor: pointer;
 }
 
 .text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }

 .category_image-down-box{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
}

.category_image-down-box{
   margin-top: 20px;
}