.content {
    background-color: var(--color-container);
    padding: 30px 80px;
}

.product-list_box {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(5, 1fr);
}

.product-item {
    /* border-right: 1px solid #e1e3e4;
    border-bottom: 1px solid #e1e3e4; */
    border: 1px solid #e1e3e4;
    background-color: #ffff;
    padding: 15px;
    cursor: pointer;
}

.product-item_name a:hover {
    color: var(--color-primary);
}

.product-item_name a {
    margin: 4px 0px;
    text-decoration: none;
    color: var(--color-text);
}

.product-item_price-wraper {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.product-item_img-box {
    position: relative;
}

.product-item_price-wraper .product-price-main {
    color: #b6030c;
    font-weight: bold;
    font-size: 1.1rem;
}

.product-item_price-wraper .product-price_sale {
    margin-left: 15px;
    font-size: 0.9rem;
    margin-top: 4px;
    text-decoration: line-through;
    color: #444;
}

.product-item_percent {
    position: absolute;
    width: 60px;
    height: 25px;
    background-color: #b6030c;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
    color: var(--color-white);
    top: 0;
    left: 0;
}

.product-item_icon {
    position: absolute;
    top: 40%;
    left: 37%;
    background-color: var(--color-white);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    transform: scale(0);
    transition: all ease 0.3s;
}

.product-item_img-box:hover .product-item_icon {
    transform: scale(1);
    transition: all ease 0.3s;
}

.product-item_icon:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.header-content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.selected-box {
    text-align: right;
}

.selected-box .select {
    width: 200px;
    height: 30px;
    padding-left: 5px;
    color: var(--color-text);
}

.selected-box .select:focus {
    outline: none;
    cursor: pointer;
}

.icon-open-filer-all {
    cursor: pointer;
}

/* ------- */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    box-shadow: 5px 0 5px -5px #333;
    background-color: var(--color-white);
    /* Black fallback color */
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    margin-top: 40px;
}

/* Position the content inside the overlay */

/* The navigation links inside the overlay */

/* When you mouse over the navigation links, change their color */

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    right: 20px;
    font-size: 40px;
    color: #555;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

.accordion {
    color: #555;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 0.9rem;
    background-color: #ffff;
    font-weight: 600;
    text-transform: uppercase;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    /* display: none; */
    font-weight: normal;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0px 0px 0px 20px;
}

.panel ul {
    list-style-type: none;
}

.panel ul a {
    text-decoration: none;
    color: var(--color-text);
    margin-bottom: 15px;
}

.panel ul li {
    margin-bottom: 15px;
}

.panel ul a i {
    margin-right: 10px;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 0.5rem;
    color: #777;
    float: right;
    margin: 3px 10px 0px 0px;
}

.active:after {
    content: "\2796";
}


/* -----Colors */
.color-blue {
    background-color: var(--color-primary);
}

.color-red {
    background-color: red;
}

.color-pink {
    background-color: pink;
}

.color-gray {
    background-color: gray;
}

.color-orange {
    background-color: rgb(241, 100, 18);
}

.filter-list-color {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.filter-list-color li a {
    padding: 5px 15px ;
    border-radius: 50px;
}