<div class=" contest-aside-box">
    <div class="p-2 text-center" *ngIf="statusContest">
        {{ runTime()}}
        <div class="img-detail-box">
            <img [src]="contestDetail.img" class="w-100" alt="">
            <p style="margin: 10px 0px;font-size:17px"
                class="fw-bold  pt-2 contest-detail-right-name text-dark">
                {{contestDetail.name}}</p>
            <ul  *ngIf="!contestDetail.status_user_has_join_contest"  class="my-countdown my-2">
                <li class="my-countdown-item text-center">
                    <div class="my-countdown-item-box h3"> {{days}}</div>
                    <span class="my-countdown-item-text">Ngày</span>
                </li>
                <li class="my-countdown-item text-center">
                    <div class="my-countdown-item-box  h3"> {{hours}}</div>
                    <span class="my-countdown-item-text">Giờ</span>
                </li>
                <li class="my-countdown-item text-center">
                    <div class="my-countdown-item-box  h3"> {{minutes}}</div>
                    <span class="my-countdown-item-text">Phút</span>
                </li>
                <li class="my-countdown-item text-center">
                    <div class="my-countdown-item-box  h3"> {{seconds}}</div>
                    <span class="my-countdown-item-text">Giây</span>
                </li>
            </ul>
            <a *ngIf="contestDetail.status_user_has_join_contest"
                style="background-color: #e67e22;margin: 7px 0px 10px 0px;" class="btn text-white"
                (click)="openInfoTeam()"><i class="fas fa-user text-white"></i> Đội của bạn</a>
            <button (click)="openFormRegister()"
            class="w-100 mt-2"
                [disabled]="!disabled || contestDetail.status_user_has_join_contest"
                [ngClass]="classNameWhereStatus(contestDetail)">{{ checkStatusContest(contestDetail) }}</button>
        </div>
    </div>
    <div class=" p-2" *ngIf="!statusContest">
        <ngx-skeleton-loader
            [theme]="{ 'height.px' : 150, 'margin-bottom' : '7px' , 'border-radius': '3px' }"
            appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 20 }" appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 30 ,'width.px' : '80%' , 'margin-top' : '10px' } "
            appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 40 }" appearance="line">
        </ngx-skeleton-loader>
    </div>
</div>
