.avatar-round {
  width: 60px;
}

/* LIST TEAM*/
.icon-close {
  font-size: 24px;
  cursor: pointer;
}

.img-avatar-round {
  height: 35px;
  width: 35px;
}

.img-avatar-round img {
  border-radius: 50px;
  object-fit: cover;
}


.list-team-in {
  padding: 10px 25px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px var(--gray);
}
