<div class="round-detail mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <div class="avatar-round">
                <img [src]="round.image" class="w-100" alt="">
            </div>
            <h3 class="name-round fs-5 fw-bold color-blue mt-3" style="margin-left: 20px;">{{round.name}}</h3>
        </div>
        <p class="fs-6 fw-bold color-blue mt-3">
            10: 45 10-5-2022 <i class="fas fa-calendar-alt"></i>
        </p>
    </div>
    <p class="fw-bold mt-3 fs-text">Kiểu thi : <span class="fw-normal">{{round.type_exam_id |typeExam}}</span></p>
    <p class="fw-bold fs-text">Nội dung : <span class="fw-normal">{{round.description}}</span></p>
</div>
<div class="list-team-box mt-4">
    <p class="fw-bold fs-5 primary-color">Danh sách đội thi</p>
    <ng-template #content let-modal>
        <div class="modal-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="img-avatar-round my-2">
                    <img [src]="roundDetail.image" alt="" class="w-100 h-100">
                </div>
                &nbsp;
                <h6 class="modal-title mt-3 text-gray fs-6 fw-bold color-primary">Team thầy thiện</h6>
            </div>
            <a (click)="modal.dismiss('Cross click')"><i class="fa-solid fa-xmark icon-close"></i></a>
        </div>
        <div class="modal-body">
            <div class="member-item d-flex justify-content-start  align-items-center">
                <div class="img-avatar-round my-2">
                    <img src="https://s3.amazonaws.com/tasmeemme.project.mi.thumbnails/resize_805x9000/869/386869.png"
                        alt="" class="w-100 h-100">
                </div>
                &nbsp;
                <p class="mt-3">Nguyễn Ngọc Uy PH15055</p>
            </div>
            <div class="member-item d-flex justify-content-start  align-items-center">
                <div class="img-avatar-round my-2">
                    <img src="https://s3.amazonaws.com/tasmeemme.project.mi.thumbnails/resize_805x9000/869/386869.png"
                        alt="" class="w-100 h-100">
                </div>
                &nbsp;
                <p class="mt-3">Nguyễn Đức Bình PH15055</p>
            </div>
            <div class="member-item d-flex justify-content-start  align-items-center">
                <div class="img-avatar-round my-2">
                    <img src="https://s3.amazonaws.com/tasmeemme.project.mi.thumbnails/resize_805x9000/869/386869.png"
                        alt="" class="w-100 h-100">
                </div>
                &nbsp;
                <p class="mt-3">Nguyễn Văn Trọng PH15055</p>
            </div>
            <div class="member-item d-flex justify-content-start  align-items-center">
                <div class="img-avatar-round my-2">
                    <img src="https://s3.amazonaws.com/tasmeemme.project.mi.thumbnails/resize_805x9000/869/386869.png"
                        alt="" class="w-100 h-100">
                </div>
                &nbsp;
                <p class="mt-3">Nguyễn Văn Quảng PH15055</p>
            </div>
            <div class="member-item d-flex justify-content-start  align-items-center">
                <div class="img-avatar-round my-2">
                    <img src="https://s3.amazonaws.com/tasmeemme.project.mi.thumbnails/resize_805x9000/869/386869.png"
                        alt="" class="w-100 h-100">
                </div>
                &nbsp;
                <p class="mt-3">Trần Văn Quảng PH15055</p>
            </div>
        </div>
    </ng-template>
    <div *ngFor="let team of round.contest.teams" class="list-team-in">
        <div class="team-item d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="img-avatar-round my-2">
                    <img [src]="team.image" alt="" class="w-100 h-100">
                </div>
                &nbsp;
                &nbsp;
                <p class="mt-3">{{team.name}}</p>
            </div>
            <div class="text-gray">
                <span>{{getMembers(team.members)}} thành viên</span>
                &nbsp;
                <a class="btn btn-register" (click)="openVerticallyCentered(content , team.members)">Chi tiết</a>
            </div>
        </div>
    </div>
</div>