.header-team-user-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  border: 7px solid #fff;
  box-shadow: 0 0 0 3px #ccc;
}

.item-member-img {
  height: 30px;
  object-fit: cover;
}

.header-team-user-edit {
  margin-top: -15px;
  cursor: pointer;
}

.table-team-info {
  max-height: 400px;
  overflow-y: auto;
}

.table-member-th {
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

.header-team-user-box {
  margin-top: 30px;
}

.header-team-user-name {
  margin-top: 10px;
}

.form-search-members {
  margin: 0 auto;
  box-shadow: 0 0 3px #ccc;
  border-radius: 6px;
  position: relative;
}

.form-search-members-input {
  width: 90%;
  height: 35px;
  border: none;
  border-radius: 6px;
}

.form-search-members-input:focus {
  outline: none;
}

.form-search-members-icon {
  background: none;
  font-size: 15px;
  height: 100%;
  border: none;
  transition: all ease-in-out 0.3s;
}

.form-search-members-icon:hover {
  cursor: pointer;
  color: var(--primary-color);
  transition: all ease-in-out 0.3s;
}

/* .search-suggest-members {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 300px;
  top: 40px;
  border-radius: 6px;
} */
