<div class="capacity__related-item">
  <a
    [routerLink]="['/test-nang-luc', capacityItem.id]"
    class="capacity__related-item-image"
    [ngStyle]="{ 'background-image': 'url(' + capacityItem.img + ')' }"
  ></a>

  <div class="capacity__related-content">
    <p class="capacity__related-content-time">
      {{ capacityItem.date_start | formatDate }} - {{ capacityItem.register_deadline | formatDate }}
    </p>
    <a [routerLink]="['/test-nang-luc', capacityItem.id]" class="capacity__related-content-title-link">
      <h2 class="capacity__related-content-title">{{ capacityItem.name }}</h2>
    </a>

    <ul class="capacity__related-content-list">
      <li class="capacity__related-content-list-item">
        <div class="capacity__related-content-list-item-icon">
          <i class="fa-solid fa-file-pen"></i>
        </div>

        {{ capacityItem.rounds.length }} bài thi
      </li>
      <li class="capacity__related-content-list-item">
        <div class="capacity__related-content-list-item-icon">
          <i class="fa-solid fa-user-group"></i>
        </div>

        <!-- {{ capacityItem.user_capacity_done.length }} lượt làm bài -->
      </li>

      <li class="capacity__related-content-list-item">
        <div class="capacity__related-content-list-item-icon">
          <i class="fa-solid fa-gear"></i>
        </div>

        <div class="capacity__related-content-list-item-skill">
          <span>Skill:</span>
          <strong class="capacity__related-content-list-item-skill-name">{{ this.skillsName }}</strong>
        </div>
      </li>
    </ul>

    <ul class="capacity__related-countdown">
      <li class="capacity__related-countdown-item text-center">
        <div class="capacity__related-countdown-item-box">{{ countDown.days }}</div>
        <span class="capacity__related-countdown-item-text">Ngày</span>
      </li>
      <li class="capacity__related-countdown-item text-center">
        <div class="capacity__related-countdown-item-box">{{ countDown.hours }}</div>
        <span class="capacity__related-countdown-item-text">Giờ</span>
      </li>
      <li class="capacity__related-countdown-item text-center">
        <div class="capacity__related-countdown-item-box">{{ countDown.minutes }}</div>
        <span class="capacity__related-countdown-item-text">Phút</span>
      </li>
      <li class="capacity__related-countdown-item text-center">
        <div class="capacity__related-countdown-item-box">{{ countDown.seconds }}</div>
        <span class="capacity__related-countdown-item-text">Giây</span>
      </li>
    </ul>

    <button
      class="btn btn-main capacity__related-content-btn"
      (click)="handleGoToExam(capacityItem.id)"
      [disabled]="statusExam.status === 0 || statusExam.status === 2"
    >
      {{ statusExam.status === 1 ? "Tham gia ngay" : statusExam.statustext }}
    </button>
  </div>
</div>
