.capacity__related-list {
  padding-left: 0;
}

.capacity__related-title {
  margin-top: 12px;
}

.capacity__related-item {
  background-color: #fff;
  padding: 16px;
  border-radius: var(--my-rounded-2);
  border: 1px solid var(--my-dark-gray);
}

.capacity__related-item-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 65%;
  border-radius: 8px;
  display: block;
}

.capacity__related-content-time {
  color: var(--my-darkest-gray);
  margin-top: 6px;
  margin-bottom: 0;
}

.capacity__related-content-title {
  color: var(--my-black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 4px 0;
  transition: all 0.25s linear;
}

.capacity__related-content-title:hover {
  color: var(--my-primary);
}

.capacity__related-content-btn {
  margin: 6px 0 0;
  padding: 6px 0;
}

.capacity__related-content-list {
  margin-left: 0;
  padding: 0;
  margin: 0;
}

.capacity__related-content-btn {
  width: 100%;
}

.capacity__related-content-list-item {
  display: flex;
  padding-bottom: 2px;
  font-size: 14px;
}

.capacity__related-content-list-item-icon {
  min-width: 24px;
}

.capacity__related-content-list-item-icon-text>* {
  font-size: 14px;
}

.capacity__related-content-list-item b {
  padding-right: 4px;
}

.sidebar__content-list-item-time {
  padding-left: 2px;
}

.capacity__related-content-btn {
  width: 100%;
}

.capacity__related-content-list-item-skill {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.capacity__related-content-list-item-skill-name {
  text-transform: uppercase;
  padding-left: 4px;
}

.capacity-countdown {
  text-align: center;
  margin-bottom: 4px;
}

.capacity-countdown .my-countdown-item+.my-countdown-item {
  padding-left: 12px;
}