.page-post-box {
    background: #f6f8fa
}
/* ---------------------- */
.result-search__text {
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 12px 0;
    color: #0E0759
}
/* ---------------------- */
.result-post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 44px;
    margin-top: 12px;
}
 /*------------ form-search --------*/
.form-search {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E8EAEE;
    align-items: center;
}

.form-search i {
    color: #FC4C02;
    font-size: 16px
}

.form-search .form__input {
    outline: none;
    width: 100%;
    border: none;
    padding-left: 6px;
    color: #111827;
    border-radius: 0.25rem;
    border-color: #D1D5DB;
    outline: 0;
}