.result-search__text {
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 12px 0;
    color: #0E0759
}

/* ---------------------- */
.result-post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 44px;
    margin-top: 12px;
}

.result-post__length {
    font-size: 18px;
    color: #0E0759;
    margin: 12px 0;
}

.result-post__number {
    font-weight: bold;
}

.result-post__empty {
    text-align: center;
}

.result-post__empty span {
    display: block;
    margin: auto;
    width: 300px;
}

.result-post__empty span:first-child {
    color: #FC4C02;
    font-size: 24px;
    padding: 8px 0;
}
.post-search__btn {

}
