.page-post-box {
    background: #f6f8fa
}

/* ---------------------- */
.result-search__text {
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 12px 0;
    color: #0E0759
}

/* ---------------------- */
.result-post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 44px;
    margin-top: 12px;
}

.result-post__length {
    font-size: 18px;
    color: #0E0759;
    margin: 12px 0;
}

.result-post__number {
    font-weight: bold;
}

.result-post__empty {
    text-align: center;
}

.result-post__empty span {
    display: block;
    margin: auto;
    width: 300px;
}

.result-post__empty span:first-child {
    color: #FC4C02;
    font-size: 24px;
    padding: 8px 0;
}

/*------------ form-search --------*/
.form-search {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E8EAEE;
    align-items: center;
}

.form-search button {
    line-height: 1
}

.form-search i {
    color: #FC4C02;
    font-size: 16px;
    line-height: 1
}

.form-search .form__input {
    outline: none;
    width: 100%;
    border: none;
    padding-left: 6px;
    color: #111827;
    border-radius: 0.25rem;
    border-color: #D1D5DB;
    outline: 0;
    font-size: 16px
}

/* ------------------- */
.post-item {
    height: 450px;
}

/* CSS FILTER */
.recruitment-filter-box {
    background-color: var(--gray-200);
}

.filter-skill-item {
    padding: 10px 20px;
    font-size: 0.9rem;
    background-color: var(--gray-200);
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-skill-box .active {
    background-color: var(--primary);
    color: var(--white);
}

.btn-search-recruitment {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    padding-top: 3px;
}

.btn-search-recruitment:hover {
    opacity: 0.8;
}

.image-title {
    width: 30px;
    margin-right: 15px;
    display: inline-block;
}