.contest-user-body {
  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contest-user-body::-webkit-scrollbar {
  width: 2px;
}

.image-not-data {
  width: 50%;
}

.image-not-data img {
  height: 330px;
}

.input-group-text{
  background-color: var(--primary);
  color: #ffff;
  border: 2px solid var(--primary);
}
