.contest-user-body {
  max-height: 500px;
  overflow-y: auto;
}

.contest-user-body::-webkit-scrollbar {
  display: none;
}

.contest-user-join-title {
  font-size: 18px;
  margin: 10px 0px -10px 0px;
}

.contest-user-join-item {
  overflow: hidden;
  position: relative;
}

.contest-user-join-item img {
  border-radius: 5px;
  cursor: pointer;
}

.contest-user-join-item:hover .product_infor {
  transform: translateY(0);
  animation-name: fadeIN;
  animation-duration: 1s;
  transition: all 1s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 15px;
  font-size: 17px;
  color: var(--white)
}

.product_infor {
  position: absolute;
  bottom: 0;
  width: 92%;
  transform: translateY(150px);
  background-color: var(--warning);
  transition: all 1s ease-in-out;
  animation-name: fadeOut;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation-duration: 1s;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.product_infor-price {
  padding: 20px 0px;
  color: #fff;
  font-size: 20px;
}

.product_infor-title {
  color: #ffff;
  padding-bottom: 20px;
}

.btn_project {
  margin: 30px 0px;
  background-color: #ffff;
}

.btn_menu-item-sub {
  background-color: #1858bc;
  color: #ffff;
}

@keyframes fadeIN {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
