.contest__search-btn:not(:disabled):hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.contest__search-btn:disabled {
  background-color: #ccc;
  border: #ccc;
}

.contest-user-body {
  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contest-user-body::-webkit-scrollbar {
  width: 2px;
}

.image-not-data {
  width: 50%;
}

.input-group-text {
  background-color: var(--primary);
  color: #ffff;
  border: 2px solid var(--primary);
}
