.loading-student-rank {
    display: flex;
    width: 2em;
    height: 2em;
    border: 3px solid transparent;
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
  
  .loading-student-rank:before {
    content: '';
    display: block;
    margin: auto;
    width: 0.4em;
    height: 0.4em;
    border: 3px solid var(--primary);
    border-radius: 50%;
    animation: pulse 1s alternate ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.5);
    }
  
    to {
      transform: scale(1);
    }
  }