.mat-dialog-container {
    background: #F8F8F8 !important;
}

.mat-dialog-container p {
    margin-bottom: 0;
}

.mat-dialog-container {
    background: #ccc;
}

.form-search-result-item-img{
    height: 80px;
}


.form-search-result {
    max-height: 320px;
    overflow-y: auto;

}

.form-search-result::-webkit-scrollbar {
    width: 3px;
}

.form-search-result::-webkit-scrollbar-thumb{
    border-radius: 6px;
}

.form-search-result-item p {
    margin-bottom: 5px;
}

.recruitment-skill-box {
    margin-left: -3px;
}

.form-search-result-item {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin: 0px 10px;
}

.recruitment-list-skill {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recruitment-item-skill {
    padding: 3px 7px;
    background-color: #f1cebd;
    color: var(--warning);
    font-weight: bold;
    margin-right: 10px;
    border-radius: 6px;
    font-size: 12px;
}

.form-input-search {
    width: 80%;
}

.form-search-result-emty {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-search-result-info {
    color: #444;
}

.form-search-result-item-img {
    border-radius: 6px;
}