<form action="" class="form-search-recruitment-box">
    <div class="form-search-recruitment-header d-flex justify-content-between">
        <input (keyup)="setKeywork($event)" type=" text" placeholder="Tìm kiếm đợt tuyển dụng" class="form-control  form-input-search">
        <button (click)="searchRecruitment()" type="button" class="btn btn-register">Tìm
            kiếm</button>
    </div>
</form>
<p  class="text-center color-text my-2" *ngIf="!statusRecruitment">Chưa có kết quả nào !</p>
<p  *ngIf="statusRecruitment" class="text-center color-text my-2">Có {{countResultRecruitment}} kết quả tìm kiếm</p>
<div *ngIf="statusRecruitment && statusOpenFormSearch" class="form-search-result">
    <div *ngFor="let item of recruitments" class="form-search-result-item row">
        <div class="form-search-result-item-img-box col-3">
            <img class="form-search-result-item-img w-100"
                [src]="item.image" alt="">
        </div>
        <div class="col-9 text-start ">
            <div class="d-flex justify-content-between">
                <p>{{item.end_time | formatDate}}</p>
                <span>
                    <i class="fa-solid fa-user-group"></i>
                    35
                </span>
            </div>
            <p class="text-collapse recruitment-list-item-name color-blue  fw-bold">
               {{item.name}}</p>
            <div class="recruitment-skill-box d-flex justify-content-between">
                <ul class="recruitment-list-skill d-flex ">
                    <li class="recruitment-item-skill">PHP</li>
                    <li class="recruitment-item-skill">HTML</li>
                </ul>
                <p class="color-text">Số bài test : 20</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!statusRecruitment && statusOpenFormSearch" class="form-search-result-loading">
    <ngx-skeleton-loader [theme]="{ 
        'height.px': '90',
        'margin-bottom' : '15'
      }" count="3" animation="pulse"></ngx-skeleton-loader>
</div>
<div *ngIf="!statusOpenFormSearch" class="d-flex justify-content-center">
    <img class="w-50" src="https://thumbs.dreamstime.com/b/upset-magnifying-glass-cute-not-found-symbol-unsuccessful-s-upset-magnifying-glass-cute-not-found-symbol-unsuccessful-122205900.jpg" alt="">
</div>