p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.post-item {
  height: 370px;
  background-color: var(--white);
  border-radius: 10px;
  transition: all ease-in 0.3s;
  border: 1px solid var(--my-dark-gray);
  transform: translateY(0px);
}

.post-item:hover {
  transform: translateY(-4px);
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.post-new-name {
  font-size: 16px;
}

.color-name {
  color: var(--gray-800);
}

.list-post-new-slick .post-item:hover .post-new-name {
  color: var(--primary);
}

.post-item-image {
  width: 100%;
  object-fit: cover;
  height: 170px;
  border-radius: 6px;
}

.post-new-content {
  margin: -5px 0px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
