.icon-add-team {
  padding: 10px 9px;
  color: white;
  background-color:  var(--primary);
  border-radius: 50px;
  font-size: 13px;
}

.bg-warn{
  background-color: var(--primary);
}

.header-team-user-edit-box {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header-team-user-edit {
  width: 250px;
}

.body-team-user-box {
  margin-top: 20px;
}

.header-team-user-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 3px;
}

.item-member-img {
  height: 30px;
  object-fit: cover;
}

.member-item-img {
  width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.member-item-name {
  margin-top: 3px;

}

.item-member-img {
  height: 30px;
  object-fit: cover;
}

th {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.btn-add-member {
  border: 1px solid var(--primary-color);
}

.table-team-info {
  max-height: 200px;
  overflow-y: auto;
}
