<div>
    <ngx-skeleton-loader [theme]="{ 'height.px' : 170, 'margin-bottom' : '7px' , 'border-radius': '10px' }"
        appearance="line">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ 'height.px' : 50, 'margin-bottom' : '10px' }" appearance="line">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 
    'width' : '50%',
    'margin-bottom' : '10px' }" appearance="line">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ 'height.px' : 40 }" appearance="line">
    </ngx-skeleton-loader>
</div>