<div class="p-2">
  <header class="border-bottom">
    <h3 class="fs-5 primary-color">Danh sách bài test năng lực</h3>
    <p style="margin-top: -12px" class="color-gray">Tổng hợp các bài test năng lực đã làm</p>
  </header>

  <!-- search -->
  <form class="input-group my-3" [formGroup]="formSearch" (ngSubmit)="handleSearch()">
    <input
      type="text"
      class="form-control"
      [attr.disabled]="isFetchingCapacity ? true : null"
      formControlName="name"
      type="text"
      placeholder="Tên bài test năng lực"
    />
    <button [attr.disabled]="isFetchingCapacity ? true : null" class="capacity__search-btn input-group-text">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <!-- ds test năng lực -->
  <div class="row mt-3" *ngIf="!isFetchingCapacity && totalCapacity >= 1">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let capacity of listCapacity; let i = index">
      <div class="capacity__item">
        <a
          [routerLink]="['/test-nang-luc', capacity.id]"
          class="capacity__item-image"
          [ngStyle]="{ 'background-image': 'url(' + capacity.img }"
        ></a>

        <div class="capacity__content">
          <p class="capacity__content-time">
            {{ capacity.date_start | formatDate }} - {{ capacity.register_deadline | formatDate }}
          </p>
          <a [routerLink]="['/test-nang-luc', capacity.id]" class="capacity__content-title-link">
            <h2 class="capacity__content-title">{{ capacity.name }}</h2>
          </a>

          <ul class="capacity__content-list">
            <li class="capacity__content-list-item">
              <div class="capacity__content-list-item-icon">
                <i class="fa-solid fa-file-pen"></i>
              </div>

              {{ capacity.rounds.length }} bài thi
            </li>
            <li class="capacity__content-list-item">
              <div class="capacity__content-list-item-icon">
                <i class="fa-solid fa-user-group"></i>
              </div>

              {{ capacity.user_capacity_done.length }} lượt làm bài
            </li>

            <li class="capacity__content-list-item">
              <div class="capacity__content-list-item-icon">
                <i class="fa-solid fa-gear"></i>
              </div>

              <div class="capacity__content-list-item-skill">
                <span>Skill:</span>
                <strong class="capacity__content-list-item-skill-name">{{ getListSkillName(capacity.skills) }}</strong>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- empty data -->
  <div class="mt-3" *ngIf="!isFetchingCapacity && !totalCapacity">
    <img
      class="no-data-image"
      src="https://homebond.ae/assets/images/no-result.png"
      alt="No data"
    />
  </div>

  <!-- skeleton -->
  <div class="row mt-3" *ngIf="isFetchingCapacity">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let _ of [].constructor(9)">
      <div class="capacity__item">
        <ngx-skeleton-loader [theme]="{ height: '150px' }"></ngx-skeleton-loader>

        <ngx-skeleton-loader [theme]="{ margin: '0 0 4px' }"></ngx-skeleton-loader>

        <ngx-skeleton-loader [theme]="{ margin: '0 0 4px', width: '30%', display: 'block' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ margin: '0 0 4px', width: '50%', display: 'block' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ margin: '0 0 4px', width: '70%', display: 'block' }"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <!-- skeleton -->

  <!-- pagination -->
  <div class="pagination d-flex justify-content-end mb-3" *ngIf="!isFetchingCapacity">
    <nz-pagination
      [nzPageIndex]="params.page"
      [nzTotal]="totalCapacity"
      [nzPageSize]="params.limit"
      (nzPageIndexChange)="handleChangePageNum($event)"
    ></nz-pagination>
  </div>
</div>
