<div mat-dialog-content>
    <img src="https://cdn.dribbble.com/users/1238709/screenshots/4069900/success_celebration_800x600.gif" alt=""
        class="w-100">
    <h2 class="text-center fw-bold mt-2 color-blue">Thêm đội thành công !!!</h2>
    <div class="d-flex justify-content-end align-items-center">
        <a class="direction-info-team-close mat-dialog-close mr-2" mat-dialog-close>Đóng</a>
        <a [mat-dialog-close]="true" [routerLink]="['thong-tin/cuoc-thi' , id_contest ,   'chi-tiet-doi' , id_team]"
            class="btn-register contest-btn-register direction-info-team p-2 text-center d-block">Thông
            tin
            đội</a>
    </div>
</div>