.direction-info-team,
.direction-info-team-close {
  border-radius: 5px;
  cursor: pointer;
}

.direction-info-team-close {
  background-color: #d6d6d6;
  margin-right: 15px;
  padding: 10px 15px;
  color: #222;
}

.direction-info-team-close :hover {
  opacity: 0.8;
}
