.recruitment-position-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
}

.recruitment-position-item {
    display: grid;
    grid-template-columns: 160px 2fr;
    grid-gap: 16px;
    padding: 16px;
    background: var(--my-white);
    border-radius: var(--my-rounded);
    border: 1px solid var(--my-dark-gray);
    transition-duration: .3s;
}

.recruitment-position__img {
    border-radius: var(--my-rounded);
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.recruitment-position__context {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recruitment-position__context-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
}

.recruitment-position__title {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 2;
}

.recruitment-position__title-link {
    color: initial;
}

.recruitment-position__context-recruitment {
    color: var(--my-secondary);
    display: flex;
    gap: 4px
}

.recruitment-position__name-company {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 2;
}

.recruitment-position__name-company-item+.recruitment-position__name-company-item {
    border-left: 1px solid var(--my-secondary);
    padding-left: 4px;
    padding-right: 4px;
}

.recruitment-position__desc {
    margin-bottom: 0;
    color: var(--my-darkest-gray);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 2;
}