<div class="margin-header contest-detail-box container my-4">
    <div class="contest-detail-header">
        <div class=" contest-detail-left ">
            <app-contest-detail-header [contestDetail]="contestDetail" [status]="status"></app-contest-detail-header>
            <app-round [contestDetail]="contestDetail" [status]="status">
            </app-round>
            <div class="supporters-box">
                <p class="fw-bold fs-5 color-blue">Các nhà tài trợ</p>
                <owl-carousel-o class="row pt-3" [options]="listCompany">
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>

                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>

                </owl-carousel-o>
            </div>
        </div>
        <div class="contest-detail-right">
            <app-contest-detail-header-right [contestDetail]="contestDetail" [status]="status">
            </app-contest-detail-header-right>
            <div class="mt-3">
                <img src="https://caodang.fpt.edu.vn/wp-content/uploads/%C4%91%E1%BB%8Bnh-h%C6%B0%E1%BB%9Bng.png" alt=""
                    class="w-100">
            </div>
        </div>
    </div>
</div>