<div class="margin-header contest-detail-box container my-4">
    <div class="contest-detail-header">
        <div class=" contest-detail-left ">
            <app-contest-detail-header [contestDetail]="contestDetail" [status]="status"></app-contest-detail-header>
            <app-round [contestDetail]="contestDetail" [status]="status">
            </app-round>
            <div class="supporters-box">
                <h5 class="fw-bold fs-5 color-blue">Các nhà tài trợ</h5>
                <owl-carousel-o class="row pt-3" [options]="listCompany">
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>

                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>
                    <ng-template class="col-4 text-center" carouselSlide>
                        <div class="img-company-box block">
                            <img src="https://www.logodesign.net/logo/line-art-house-roof-and-buildings-4485ld.png"
                                alt="" class="w-100 h-100">
                        </div>
                        <p class="name-company text-center fw-bold mt-4">
                            FPT POLYTECHNIC
                        </p>
                    </ng-template>

                </owl-carousel-o>
            </div>
            <h5 class="fw-bold fs-5 color-blue">Tin tức cuộc thi</h5>
            <p class="color-gray p-justify fs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>
            <p class="color-gray p-justify fs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>
            <img src="https://caodang.fpt.edu.vn/wp-content/uploads/IMG_5572-ok.jpg" alt="" class="w-100">
            <p class="color-gray p-justify fs-text mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>
            <img src="https://caodang.fpt.edu.vn/wp-content/uploads/IMG_1668.jpg" class="w-100" alt="">

            <h5 class="fw-bold fs-5 color-blue mt-3">Phản hồi</h5>
            <div class="idea-contest-box mt-3">
                <form action="">
                    <textarea placeholder="Phàn hổi của bạn ..." name="" id=""
                        class="w-100 idea-contest p-2"></textarea>

                    <button class="btn btn-register float-end mt-3">Phản hồi</button>
                </form>
            </div>
        </div>
        <div class="contest-detail-right">
            <app-contest-detail-header-right [contestDetail]="contestDetail" [status]="status">
            </app-contest-detail-header-right>
            <div class="mt-3">
                <img src="https://caodang.fpt.edu.vn/wp-content/uploads/%C4%91%E1%BB%8Bnh-h%C6%B0%E1%BB%9Bng.png" alt=""
                    class="w-100">
            </div>
        </div>
    </div>
</div>