<div class="header bg-white">
  <nav class="container d-flex justify-content-between align-items-center">
    <div class="nav-response">
      <label class="icon-open-nav-mobile" for="input_check">
        <i class="fas fa-bars"></i>
      </label>
      <input #inputChecked hidden class="input-menu" type="checkbox" id="input_check" />

      <label for="input_check" class="over__lay"> </label>

      <div class="menu-response">
        <div class="border-bottom">
          <label for="input_check" class="close-menu h-1 float-end">
            <i class="fas fa-times"></i>
          </label>
        </div>
        <ul class="menu-res mt-5 border-top">
          <li (click)="closeMenuRes(inputChecked)" class="menu-res-item">
            <a routerLink="/" class="menu-res-link text-decoration-none"> Trang chủ </a>
          </li>
          <li class="menu-res-item">
            <a routerLink="/cuoc-thi" class="menu-res-link text-decoration-none"> Cuộc thi </a>
          </li>
          <li class="menu-res-item">
            <a href="" class="menu-res-link text-decoration-none"> Test năng lực </a>
          </li>
          <li class="menu-res-item">
            <a href="" class="menu-res-link text-decoration-none"> Tuyển dụng </a>
          </li>
        </ul>

        <div class="logo-nav-bar-res text-center">
          <img class="w-75" src="./../../../assets/img/logo.png" alt="" />
        </div>
      </div>
    </div>

    <a routerLink="/" class="img-header-box">
      <img class="" src="./../../../assets/img/logo.png" alt="" />
    </a>
    <div class="menu-desktop d-flex align-self-stretch">
      <div class="d-flex" id="menu_login-box">
        <ul class="nav menu_login-box d-flex align-items-center mr-auto home-nav pr-2">
          <li
            class="nav-item align-self-stretch d-flex align-items-center"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              class="fw-bold text-decoration-none nav-link-item p-0 align-self-stretch d-flex align-items-center"
              routerLink="/"
              >Trang chủ</a
            >
          </li>
          <li class="nav-item align-self-stretch d-flex align-items-center" routerLinkActive="active">
            <a
              class="fw-bold text-decoration-none nav-link-item p-0 align-self-stretch d-flex align-items-center"
              [routerLink]="['/cuoc-thi']"
            >
              Cuộc thi
            </a>
          </li>

          <li class="nav-item align-self-stretch d-flex align-items-center" routerLinkActive="active">
            <div
              class="fw-bold position-relative text-decoration-none nav-link-item p-0 align-self-stretch d-flex align-items-center"
            >
              <span [routerLink]="['/tuyen-dung']">Tuyển dụng</span>
              <div class="nav-item__icon">
                <i class="fa-solid fa-caret-down"></i>
              </div>

              <ul class="sub-menu position-absolute">
                <li class="sub-menu__item" routerLinkActive="active">
                  <a
                    class="fw-bold sub-menu__link fw-bold nav-link-item text-decoration-none"
                    [routerLink]="['/tuyen-dung']"
                  >
                    Tin tuyển dụng
                  </a>
                </li>
                <li class="sub-menu__item" routerLinkActive="active">
                  <a
                    class="fw-bold sub-menu__link fw-bold nav-link-item text-decoration-none"
                    routerLink="/test-nang-luc"
                  >
                    Test năng lực
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item align-self-stretch d-flex align-items-center" routerLinkActive="active">
            <a
              class="fw-bold text-decoration-none nav-link-item p-0 align-self-stretch d-flex align-items-center"
              routerLink="/bai-viet"
              >Bài viết</a
            >
          </li>

          <li *ngIf="user" (click)="openSaveInfo()" class="open-save-info">
            <i
              [matBadge]="getCountAll()"
              matBadgePosition="after"
              class="fa-solid fs-5 fa-bookmark"
              matBadgeColor="warn"
            ></i>
          </li>

          <li *ngIf="!user" class="btn-login-desktop">
            <a (click)="saveUrlCurrent()" routerLink="/login" class="">
              <button class="my-btn-primary my-btn-s">Đăng nhập</button>
            </a>
          </li>

          <li *ngIf="user">
            <img
              *ngIf="user.avatar"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              class="header-avatar-user"
              [src]="user.avatar"
              alt=""
            />
            <mat-menu class="mt-2" #menu="matMenu">
              <button mat-menu-item routerLink="/tai-khoan">
                <span>Thông tin tài khoản</span>
              </button>
              <button (click)="logOut()" mat-menu-item>
                <span>Đăng xuất</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
    <a routerLink="/login" *ngIf="!user" class="fa-icon-login">
      <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
    </a>
    <div *ngIf="user" class="avatar-user-desktop">
      <img
        *ngIf="user.avatar"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="header-avatar-user"
        [src]="user.avatar"
        alt=""
      />
      <mat-menu class="mt-2" #menu="matMenu">
        <button mat-menu-item routerLink="/tai-khoan">
          <span>Thông tin tài khoản</span>
        </button>
        <button (click)="logOut()" mat-menu-item>
          <span>Đăng xuất</span>
        </button>
      </mat-menu>
    </div>
  </nav>
  <div id="mySidepanel" class="sidepanel">
    <div class="p-3">
      <header class="d-flex justify-content-between align-items-center">
        <h2 class="sidepanel-title"><i class="primary-color fa-solid fs-5 fa-bookmark"></i> Nội dung được lưu</h2>
        <button (click)="closeSaveInfo(true)" class="btn-save-close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <ul class="sidepanel__nav-list my-3">
        <li class="sidepanel__nav-item contest active" (click)="getContestStatus($event)">
          <a class="sidepanel__nav-link">Cuộc Thi ({{ countContest }})</a>
        </li>
        <li class="sidepanel__nav-item post" (click)="getPostStatus($event)">
          <a [attr.disabled]="!statusPage" class="sidepanel__nav-link">Tuyển dụng ({{ countPost }})</a>
        </li>
      </ul>
      <div *ngIf="statusPage" class="sidepanel__nav-content">
        <div class="" *ngIf="typeTab == 0 && contests.length > 0">
          <app-contest-item
            *ngFor="let item of contests"
            [item]="item"
            (requestFavorite)="filterContest($event)"
            (contestRelated)="closeSaveInfo($event)"
          ></app-contest-item>
        </div>
        <div class="" *ngIf="typeTab == 1 && posts.length > 0">
          <app-recruitment-position *ngFor="let item of posts" [item]="item" (requestFavorite)="filterPost($event)">
          </app-recruitment-position>
        </div>
        <div
          *ngIf="(typeTab == 0 && contests.length == 0) || (typeTab == 1 && posts.length == 0)"
          class="d-flex justify-content-center align-items-center mt-5"
        >
          <img src="../../../assets/img/no-result.png" alt="No data" />
        </div>
      </div>
      <div *ngIf="!statusPage">
        <ngx-skeleton-loader
          [theme]="{
            'height.px': '200',
            'margin-bottom': '20'
          }"
          count="5"
          animation="pulse"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
<div (click)="closeSaveInfo(true)" class="overlay d-none"></div>
