<div class="container-fluid box-info-team mt-5">
    <div class="container">
        <div class="row pb-4">
            <div class="col-3 nav-bar-info-user mt-1">
                <div class="d-flex justify-content-start align-items-center border-bottom">
                    <img [src]="user.avatar" class="info-team-user" alt="">
                    <div class="mx-2 mt-3">
                        <h4 class="info-name-user fs-5 color-blue fw-bold">{{user.name}}</h4>
                        <p class="color-gray mt-2" routerLink="/component-one" style="cursor: pointer;">
                            <i class="fas fa-pen"></i>
                            Sửa thông tin
                        </p>
                    </div>
                </div>
                <!-- <a routerLink="/ca-nhan">sssssss</a> -->
                <div class="info-team-tab-list">
                    <a routerLink="/thong-tin/cuoc-thi-tham-gia" class="info-team-tab-item" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="fas fa-pager"></i>
                        <span> Các cuộc thi tham gia </span>
                    </a>
                </div>
            </div>
            <div class="col-9 box-component-right my-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>