/* Phần trang thông tin cuộc thi */
h3 ,p{
  margin-bottom: 0px;
}

.warper-into-exam {
  padding-top: 35px;
  background-color: #f5f5f5;
}

.info-contest-header-left {
  border-right: 1px solid var(--gray-300);
}

.description img {
  width: 150px;
}

.info-contest-header {
  margin: 0 !important;
}

.exam-info-box .exam-info-item{
  margin-bottom: 10px;
}

.info-contest-header,
.team-detail-box {
  background-color: #ffff;
  border-radius: 4px;
  box-shadow: 0px 0px 3px var(--gray-200);
}

.warper-info-contest::-webkit-scrollbar {
  display: none;
}


.info-contest-img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin: 10px auto;
}

.btn-get-thread-get-thread-copy-link {
  font-size: 17px;
}

.info-contest-item {
  font-size: 16px;
  line-height: 1.6;
}

/* Ô nộp bài làm */
.warper-submit-assignment {
  box-shadow: 0px 0px 3px var(--gray-200);
  height: 270px;
  background-color: #ffff;
  border-radius: 4px;
}

.contest-detail-right-countdown {
  display: flex;
  justify-content: center;
}

.contest-detail-right-countdown-box {
  width: 20%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contest-detail-right-countdown-item {
  text-align: center;
  padding: 10px 5px;
  background-color: var(--primary);
  width: 100%;
  margin: 0px 5px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.contest-detail-right-countdown-box p {
  color: rgba(20, 20, 20, 0.333);
  margin-left: 10px;
}

.node-submit-assignment {
  box-shadow: 0px 0px 3px var(--gray-200);
  border-radius: 4px;
}

.node-submit-assignment p {
  line-height: 1.6;
}

/*  Thông tin đội tham gia thi */

.table-member-th {
  font-size: 14px;
  font-weight: bold;
}

.column-avatar {
  width: 100px;
}

.team-leader {
  padding: 5px 10px;
  background-color: var(--primary);
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  color: var(--white);
}

.info-your-team {
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;
}

.info-your-team-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  margin: auto;
}

/* Nút bấm upload file*/
.submit-assignment-box {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-upload-assignment {
  padding: 15px 25px;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(14, 13, 13, 0.1);
  font-size: 25px;
  transition: all 0.3s ease 0s;
  cursor: poiter;
  outline: none;
}

.btn-upload-assignment:hover {
  background-color: var(--primary);
  box-shadow: 0px 15px 20px rgb(243, 165, 113);
  color: #fff;
  transform: translateY(-2px);
}

.btn-upload-assignment:active {
  transform: translateY(-1px);
}

/* INPUT LINK */
.input-link-submit {
  border: none;
  width: 350px;
  padding: 15px 20px;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 8px 15px rgba(14, 13, 13, 0.1);
  transition: 0.3s;
}

.input-link-submit:focus {
  outline-color: var(--primary);
  background: #ffff;
  box-shadow: inset 20px 20px 60px #f0eeee,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

/* BUTTON DOWLOAD BÀI */
.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: calc(var(--tooltip-height) + 3px);
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: #3CCF4E;
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-size: 15px;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;
}



.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: var(--primary);
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.number-files-upload {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #EB1D36;
  color: var(--white);
}

.btn-remove-ass {
  font-size: 13px;
  padding: 2px 8px;
  background-color: rgb(165, 161, 161);
  border-radius: 50px;
  margin-top: 11px;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
}

.btn-remove-ass:hover {
  opacity: 0.7;
}
