<div class="container warper-into-exam">
    <div class="row warper-into-exam-row">
        <div class="col-9  warper-info-contest">
            <div class="info-contest-header pb-3 row" *ngIf="statusInfo == true">
                <div class="col-5 text-center ">
                    <img [src]="infoContest.img" alt="" class="info-contest-img w-100">

                </div>
                <div class="col-7">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fs-4 fw-bold mt-2">{{infoContest.name}}</h3>
                        <button mat-icon-button color="warn" class="btn-copy-link" [matMenuTriggerFor]="menu"><i
                                class="fas fa-ellipsis-v"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Copy-link</button>
                        </mat-menu>
                    </div>
                    <p class="info-contest-item fw-bold">Trạng thái : <span class="color-primary fw-normal">Vào
                            thi</span>
                    </p>
                    <p class="info-contest-item fw-bold">Vòng thi : <span class="color-primary fw-normal">Vong 2 (Thi
                            khảo sát)</span>
                    </p>
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="fw-bold fs-text color-gray">Tổng số đội :
                        </p>
                        &nbsp;
                        &nbsp;
                        <div class="" *ngIf="infoContest.judges.length > 0">
                            <app-list-avatar-user [listTeam]="infoContest.judges"
                                [titleModelName]="'Danh sách các đội'">
                            </app-list-avatar-user>
                        </div>
                    </div>
                    <div class="button" (click)="downloadExam()">
                        <div class="button-wrapper">
                            <div class="text">Đề bài</div>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em"
                                    height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2"
                                        d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h2 class="modal-title color-blue fw-bold">Vòng thi: <span class="text-dark">Vòng gửi xe
                                    thứ nhất</span></h2>
                            <p (click)="modal.dismiss('Cross click')"><i style="cursor:pointer;"
                                    class="fs-4 fas fa-times"></i></p>
                        </div>
                        <div class="modal-body">
                            <h3 class="fs-5 fw-bold">Đề bài :</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, cumque maxime. Minus ex
                                molestiae enim animi nostrum, eos voluptates maxime eveniet? Nobis, et! Rerum,
                                repudiandae consectetur commodi assumenda incidunt blanditiis.</p>
                            <img src="https://khoanh24.com/uploads/w300//2018/10/01/banner5bb1cf7c142bc_89b94307293f5d03c07acf12f57862dc.jpg"
                                alt="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" mat-raised-button (click)="modal.close('Close click')">Đóng</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="row info-contest-header" *ngIf="statusInfo == false">
                <div class="col-5">
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 215, 'margin-bottom' : '10px' , 'width' : '100%' }"
                        appearance="line"></ngx-skeleton-loader>
                </div>
                <div class="col-7">
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 25}" appearance="line"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 20}" appearance="line"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 20}" appearance="line"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 20}" appearance="line"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 35 , 'width.px' : 100}" appearance="line">
                    </ngx-skeleton-loader>
                </div>
            </div>
            <div class="my-3">
                <h5 class="fw-bold fs-5 color-blue">Đội của bạn</h5>


                <div *ngIf="statusTeamDetail == true">

                    <div class="info-your-team text-center" ngbTooltip="Xem chi tiết">
                        <div class="p-3">
                            <img class="info-your-team-avatar" [src]="teamDetail.image" alt="">
                            <h3 class="fw-bold mt-3 color-blue">{{teamDetail.name}}</h3>
                        </div>
                    </div>

                    <table mat-table class="w-100 mt-3" [dataSource]="teamDetail.members">

                        <div class=" example-table-container">
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef class="text-center table-member-th"> STT </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class=" table-member-th"> Tên </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>


                            <ng-container matColumnDef="avatar">
                                <th mat-header-cell *matHeaderCellDef class="table-member-th column-avatar"> Ảnh</th>
                                <td mat-cell *matCellDef="let element">
                                    <img width="30px" style="height: 30px;object-fit: over;"
                                        class="rounded-circle item-member-img" [src]="element.avatar" alt="">
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef class="table-member-th"> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="bot">
                                <th mat-header-cell *matHeaderCellDef class=" table-member-th"> Chức danh </th>
                                <td mat-cell *matCellDef="let element">
                                    <p *ngIf="element.pivot.bot == 1" class="team-leader">{{
                                        checkLeader(element.pivot.bot)}}</p>
                                </td>
                            </ng-container>

                        </div>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div *ngIf="statusTeamDetail == false">
                    <div class="d-flex  justify-content-center">
                        <ngx-skeleton-loader
                            [theme]="{ 'height.px' : 170, 'margin-bottom' : '10px' , 'width' : '150px' }"
                            appearance="line"></ngx-skeleton-loader>
                    </div>

                    <ngx-skeleton-loader count="6" [theme]="{ 'height.px' : 40, 'margin-bottom' : '7px'}"
                        appearance="line">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>

        <div class="col-3 ">
            <div class="warper-submit-assignment">
                <div class="p-3">
                    <mat-progress-bar *ngIf="statusSubmitExam ==  false" color="warn" mode="indeterminate">
                    </mat-progress-bar>
                    <h3 class="fw-bold fs-5">Nộp bài</h3>
                    <p [ngClass]="statusSubmitExam == true ? 'py-2 mt-3 w-100 text-success border border-success rounded color-gray text-center' : 'py-2 mt-3 w-100 color-text border rounded color-gray text-center'"
                        class="">{{statusSubmitExam == true ? 'Đã nộp' : 'Chưa nộp'}}</p>
                    <h4 class="my-2 text-center fw-bold">Hạn nộp</h4>
                    <ul class="contest-detail-right-countdown">
                        <li class="contest-detail-right-countdown-item"><span
                                class="contest-detail-right-countdown-number days">{{days}}</span>
                        </li>
                        <li class="contest-detail-right-countdown-item"><span
                                class="contest-detail-right-countdown-number hours">{{hours}}</span></li>
                        <li class="contest-detail-right-countdown-item"><span
                                class="contest-detail-right-countdown-number minutes">{{minutes}}</span></li>
                        <li class="contest-detail-right-countdown-item"><span
                                class="contest-detail-right-countdown-number seconds">{{seconds}}</span></li>
                    </ul>
                    <a [ngStyle]="{'display':  statusSubmitExam ==  true ? 'none' : 'block' }"
                        class="btn mt-3 contest-detail-register-btn btn-base-type-bg w-100'"
                        (click)="openVerticallyCentered(submit)">Nộp bài</a>
                    <a style="width:100%" (click)="deleteExam()" *ngIf="statusSubmitExam == true"
                        class="btn mt-3 btn-register w-100'">Gỡ bài làm</a>
                    <ng-template #submit let-modal>
                        <div class="modal-header">
                            <h3 class="modal-title color-title fw-bold">Sinh viên nộp bài tại đây
                            </h3>
                            <p (click)="modal.dismiss('Cross click')"><i style="cursor:pointer ;"
                                    class="fs-4 fas fa-times"></i></p>
                        </div>
                        <mat-progress-bar *ngIf="statusSubmitExam ==  false" color="warn" mode="indeterminate">
                        </mat-progress-bar>
                        <div class="modal-body">
                            <mat-tab-group animationDuration="0ms">
                                <mat-tab color="warn" label="Upload">
                                    <div class="submit-assignment-box">
                                        <input #file type="file" (change)="submitExamByFile($event)" hidden
                                            id="submit-assignment">
                                        <label class="btn-upload-assignment" for="submit-assignment"><i
                                                class="fas fa-cloud-upload"></i></label>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Link" color="warn">
                                    <div class="submit-assignment-box">
                                        <input (change)="submitExamByLink($event)" type="text" name="text" class="input"
                                            class="input-link-submit" placeholder="Link bài làm ..">
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <div class="modal-footer">
                            <button type="button" mat-raised-button (click)="modal.close('Close click')">Đóng</button>
                        </div>
                        {{ statusSubmitExam == true ? modal.close() : null }}
                    </ng-template>
                </div>
            </div>
            <div class=" node-submit-assignment mt-4">
                <p class="p-3 color-gray">Lưu ý : Sinh viên hoàn thành bài và nộp đúng thời hạn ,
                    các bài làm nộp muộn
                    sẽ không
                    được chấp nhận
                </p>
            </div>
        </div>
    </div>
</div>