.flex-1 {
  flex: 1;
}

.capacity {
  background-color: #f8f8f8;
}

.breadcrumb-item__link:hover {
  color: var(--primary);
}

.capacity__info {
  background-color: #fff;
  border-radius: var(--my-rounded-2);
  padding: 24px;
}

.capacity__info-time-start {
  display: flex;
  align-items: center;
}

.capacity__info-time-start-icon {
  margin-right: 8px;
}

.capacity__info-name {
  font-weight: 700;
  font-size: 24px;
  margin: 6px 0 12px;
}

.capacity__info-desc {
  margin-bottom: 8px;
}

.capacity__info-desc-btn {
  cursor: pointer;
  border: none;
}

.capacity__info-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.capacity__info-enterprise {
  display: flex;
}

.capacity__info-enterprise-icon {
  margin-right: 8px;
}

.capacity__info-footer-btn {
  padding: 8px 12px;
  cursor: default;
}

.capacity__info-footer-btn:hover {
  opacity: unset;
  background-color: #fff;
  color: var(--primary);
}

/* start: Avatar */
.avatar-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.avatar {
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.avatar:not(:first-child) {
  margin-left: -1.2rem;
}

.avatar:hover {
  z-index: 1;
  transform: translateY(-0.5rem);
}

.avatar.avatar-hover:last-child:hover {
  z-index: 1;
  transform: translateY(0);
}

.avatar-name {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.avatar-name::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}

.avatar:hover .avatar-name {
  opacity: 1;
  visibility: visible;
}

.avatar img,
.avatar__last {
  background-color: #f7f7f7;
  width: 40px;
  height: 40px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.avatar__last {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
}

.avatar__last:hover {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.2);
}

.avatar__last i {
  color: #fff;
}
/* end: Avatar */

/* sidebar */
.sidebar {
  background-color: #fff;
  border-radius: var(--my-rounded-2);
  padding: 12px;
  position: sticky;
  top: 100px;
}

.sidebar__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 56.25%;
  border-radius: 10px;
}

.sidebar__countdown,
.capacity__related-countdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 16px 0 6px;
}

.sidebar__countdown-item,
.capacity__related-countdown-item {
  padding: 0px 4px;
  color: rgba(20, 20, 20, 0.333);
}

.sidebar__countdown-item-box,
.capacity__related-countdown-item-box {
  background-color: var(--primary);
  color: #fff;
  padding: 12px;
  min-width: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 2px;
}

.sidebar__content-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  margin: 0px;
}

.sidebar__content-title::after {
  content: "";
  position: absolute;
  width: 130px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: var(--primary);
  height: 1px;
}

.sidebar__content-list {
  margin: 0;
  padding: 8px 0;
}

.sidebar__content-list-item {
  display: flex;
  padding-bottom: 6px;
}

.sidebar__content-list-item-icon {
  min-width: 24px;
}

.sidebar__content-list-item-time {
  padding-left: 2px;
}

.sidebar__content-btn {
  width: 100%;
  margin-bottom: 4px;
}

/* tab */
.capacity__tab {
  background-color: #fff;
  border-radius: var(--my-rounded-2);
  margin: 12px 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.capacity__tab-item {
  padding: 14px 24px;
  transition: all 0.25s linear;
  cursor: pointer;
}

.capacity__tab-item.active,
.capacity__tab-item:hover {
  color: var(--primary);
}

.capacity__tab-skeleton {
  height: 32px;
  margin: 12px 0;
  border-radius: 10px;
}

.capacity__test {
  background-color: #fff;
  border-radius: var(--my-rounded-2);
  padding: 12px 24px;
}

.capacity__test-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.capacity__test-heading-action {
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s linear;
}

.capacity__test-heading-action:hover {
  opacity: 0.8;
}

.capacity__test-list-item {
  border-radius: var(--my-rounded-2);
  border: 1px solid #d9d9d9;
  padding: 14px 12px;
  margin-bottom: 12px;
  transition: all 0.25s linear;
  cursor: pointer;
}

.capacity__test-list-item-inner {
  display: flex;
  align-items: center;
}

.capacity__test-list-item:hover {
  box-shadow: 0px 4px 8px rgba(142, 141, 208, 0.16);
}

.capacity__test-list-item-icon {
  padding-right: 8px;
  color: var(--primary);
}

.capacity__test-list-item[aria-expanded="false"] .capacity__test-list-item-icon--minus,
.capacity__test-list-item[aria-expanded="true"] .capacity__test-list-item-icon--plus {
  display: none;
}

.capacity__test-list-item-stt {
  margin-left: auto;
  padding-left: 12px;
  color: rgb(39, 174, 96);
}

.capacity__test-list-item-stt--end {
  color: red;
}

.capacity__test-detail-time {
  margin-top: 6px;
}

.capacity__test-detail-time-icon {
  margin-right: 6px;
}

.capacity__test-detail-btn {
  padding: 8px 12px;
  margin-top: 8px;
}

.capacity__test-name {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
  margin-right: auto;
  flex: 1;
}
/* related */
.capacity__related-list {
  padding-left: 0;
  margin-bottom: 0;
}

.capacity__related-title {
  margin-top: 12px;
}

.capacity__related-item {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.capacity__related-item-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 65%;
  border-radius: 8px;
}

.capacity__related-content-time {
  color: #898989;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 14px;
}

.capacity__related-content-title-link {
  color: #444;
}

.capacity__related-content-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 2px 0 8px;
  transition: all 0.25s linear;
}

.capacity__related-content-title:hover {
  color: #000;
}

.capacity__related-content-btn {
  margin: 0;
  padding: 6px 0;
}

.capacity__related-content-list {
  margin-left: 0;
  padding: 0;
}

.capacity__related-content-btn {
  width: 100%;
}

.capacity__related-content-list-item {
  display: flex;
  padding-bottom: 2px;
  font-size: 14px;
}

.capacity__related-content-list-item-icon {
  min-width: 24px;
}

.sidebar__content-list-item-time {
  padding-left: 2px;
}

.capacity__related-content-btn {
  width: 100%;
}

.capacity__related-content-list-item-skill {
  display: flex;
}

.capacity__related-content-list-item-skill-name {
  text-transform: uppercase;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-left: 4px;
  color: #444;
}

.capacity__related-countdown-item-box {
  background-color: transparent;
  color: var(--primary);
  padding: 4px 12px;
  min-width: 30px;
  font-size: 18px;
}

.capacity__related-countdown {
  margin-top: 0;
}

.btn-base-type-bg {
  background-color: var(--primary);
  color: #fff;
  transition: all 0.25s linear;
}

.btn-base-type-bg:hover {
  opacity: 0.8;
}

.modal-header .btn-close {
  background-color: unset;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
