.capacity {
  background-color: #F8F8F8;
}

.capacity__info {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}

.capacity__info-time-start {
  display: flex;
  align-items: center;
}

.capacity__info-time-start-icon {
  margin-right: 8px;
}

.capacity__info-name {
  font-weight: 700;
  font-size: 24px;
  margin: 6px 0 12px;
}

.capacity__info-desc {
  margin-bottom: 8px;
}

.capacity__info-desc-btn {
  cursor: pointer;
  border: none;
  transition: all 0.25s linear;
}

.capacity__info-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.capacity__info-enterprise {
  display: flex;
}

.capacity__info-enterprise-icon {
  margin-right: 8px;
}

.capacity__info-footer-btn {
  padding: 4px 12px;
  cursor: default;
}

.capacity__info-footer-btn:hover {
  opacity: unset;
}

/* sidebar */
.sidebar {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  position: sticky;
  top: 100px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.sidebar__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 56.25%;
  border-radius: 10px;
}

.sidebar__countdown,
.capacity__related-countdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 16px 0 6px;
}

.sidebar__countdown-item,
.capacity__related-countdown-item {
  padding: 0px 4px;
  color: rgba(20, 20, 20, 0.333);
}

.sidebar__countdown-item-box,
.capacity__related-countdown-item-box {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px;
  min-width: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 2px;
}

.sidebar__content-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  margin: 0px;
}

.sidebar__content-title::after {
  content: "";
  position: absolute;
  width: 130px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: var(--warning);
  height: 1px;
}

.sidebar__content-list {
  margin: 0;
  padding: 8px 0;
}

.sidebar__content-list-item {
  display: flex;
  padding-bottom: 6px;
}

.sidebar__content-list-item-icon {
  min-width: 24px;
}

.sidebar__content-list-item-time {
  padding-left: 2px;
}

.sidebar__content-btn {
  width: 100%;
  margin-bottom: 4px;
}

/* tab */
.capacity__tab {
  background-color: #fff;
  border-radius: 10px;
  margin: 12px 0;
  display: flex;
  padding: 0;
}

.capacity__tab-item {
  padding: 14px 24px;
  transition: all 0.25s linear;
  cursor: pointer;
}

.capacity__tab-item.active,
.capacity__tab-item:hover {
  color: var(--primary-color);
}

.capacity__test {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 24px;
}

.capacity__test-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.capacity__test-list-item {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  padding: 14px 12px;
  display: flex;
  margin-bottom: 12px;
  transition: all 0.25s linear;
  align-items: center;
}

.capacity__test-list-item:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 10%);
}

.capacity__test-name {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
  margin-right: auto;
}

.capacity__test-text {
  margin-left: auto;
}

.capacity__test-action {
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: var(--warning);
}

.capacity__test-text {
  font-size: 14px;
}

.capacity__test-action-link {
  color: var(--warning);
  border-bottom: 1px solid transparent;
}

.capacity__test-action-link:hover {
  border-bottom-color: var(--warning);
}

.capacity__test-action-icon {
  margin-left: 6px;
}

/* related */
.capacity__related-list {
  padding-left: 0;
}

.capacity__related-title {
  margin-top: 12px;
}

.capacity__related-item {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  margin-bottom: 12px;
}

.capacity__related-item-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 65%;
  border-radius: 8px;
}

.capacity__related-content-title-link {
  color: #444;
}

.capacity__related-content-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 10px 0;
  transition: all 0.25s linear;
}

.capacity__related-content-title:hover {
  color: #000;
}

.capacity__related-content-btn {
  margin: 0;
  padding: 6px 0;
}

.capacity__related-content-list {
  margin-left: 0;
  padding: 0;
}

.capacity__related-content-btn {
  width: 100%;
}

.capacity__related-content-list-item {
  display: flex;
  padding-bottom: 6px;
}

.capacity__related-content-list-item-icon {
  min-width: 24px;
}

.sidebar__content-list-item-time {
  padding-left: 2px;
}

.capacity__related-content-btn {
  width: 100%;
}

.capacity__related-content-list-item-skill {
  display: flex;
}

.capacity__related-content-list-item-skill-name {
  text-transform: uppercase;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-left: 4px;
  color: #444;
}

.capacity__related-countdown-item-box {
  background-color: transparent;
  color: var(--primary-color);
  padding: 4px 12px;
  min-width: 30px;
  font-size: 18px;
}

.capacity__related-countdown {
  margin-top: 0;
}