.primary-color {
    color: var(--primary);
}

.color-red {
    color: var(--red);
}

.color-yellow {
    color: var(--yellow-500);
}

.color-text {
    color: var(--gray-400);
}

.color-blue{
    color: var(--blue);
}

.bg-blue{
    background-color: var(--blue);
}