:root {
  --primary-color: #ff5622;
  --black: #000;
  --white: #ffff;
  --primary-color-sub: #ff6638;
  --text-color: #83838b;
  --gray: #ccc;
  --color-yellow: #fbc531;
  --text-gray: #808e9b;
  --warning: #F26F21;
  --title-blue: #192a56;
  --title-footer: #F26F21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62%;
}

.fs-text {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-left: -30px;
}


.margin-header {
  padding-top: 40px;
}

.text-justify {
  text-align: justify;
}

.primary-color {
  color: var(--primary-color);
}

.color-title {
  color: var(--primary-color-sub);
}

.color-gray {
  color: #3c4753;
}


.color-blue {
  color: var(--title-blue)
}

/* FONT - SIZE */
.fs-text-contest {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color)
}

/* BTN REGISTER  */
.btn-register {
  color: var(--warning);
  border: 1px solid var(--warning);
}

.btn-register-end {
  background-color: var(--text-color);
  color: var(--white);
}

.btn-register-end:hover {
  color: var(--white);
  cursor: default;
}

.btn-register:hover {
  transition: all ease-in-out 0.5s;
  background-color: var(--warning);
  color: var(--white);
}


/*  LOADING */
.balls {
  width: 4em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #fc2f70;
}

.balls div:nth-of-type(1) {
  transform: translateX(-100%);
  animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
  transform: translateX(-95%);
  animation: right-swing 0.5s ease-out alternate infinite;
}
