.title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.form-search-capacity-icon {
  margin-left: -30px;
}

.form-search-capacity-input-box {
  margin-right: 20px;
  border: 1px solid var(--color-blue);
}

/* .form-search-capacity-input {
  border: none;
  outline: none;
  width: 80%;
} */

.title-line {
  margin-bottom: 20px;
  width: 100px;
  margin-top: 3px;
  height: 3px;
  background-color: var(--primary-color-sub);
}

/* DÙNG CHUNG */
.list-banner-ability-test {
  margin-top: -20px;
}

.banner-item-img {
  width: 100%;
  height: 300px;
  cursor: pointer;
  border-radius: 15px;
}

.list-company-box {
  margin-top: -30px;
}

.company-log-item {
  margin-left: 20px;
}

.company-log-item:first-child {
  margin-left: 15px;
}

.slick-slider-row {
  width: 40px;
  height: 40px;
  font-size: 20px;
  transition: all 0.2s linear;
  border-radius: 50px;
  color: #000;
  box-shadow: 0 0 3px #333;
  background-color: var(--white);
}

.slick-slider-row:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.slick-prev,
.slick-company-prev {
  left: -20px;
}

.slick-next,
.slick-company-next {
  right: -20px;
}

.slick-prev::before {
  display: none;
}

.slick-next::before {
  display: none;
}

/*Phần banner trang tuyển dụng */

.slick-company {
  border: none;
  color: rgb(240, 122, 53);
  background-color: #ffff;
  position: absolute;
}

.slick-company:hover {
  color: var(--primary-color);
}

.company-word-new-img img {
  height: 90px;
  object-fit: cover;
}


.company-item-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Danh sach công việc mới nhất */
.company-word-new-info-title,
.company-word-new-info-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.list-word-new {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.list-word-item {
  height: 120px;
  padding: 10px;
  border: 1px solid #777;
}

.company-word-new-info {
  margin-left: -15px;
}

.list-word-item:hover {
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.list-word-item:hover .company-word-new-info-title {
  color: var(--primary-color)
}

/*  Danh sách công việc theo chuyên ngành */

.word-major-item {
  background-color: #9ee6f7;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.word-major-item img {
  margin: 20px auto;
}

.word-major-item h3 {
  font-size: 18px;
  font-weight: bold;
}

.word-major-item p {
  font-size: 17px;
}

.word-major-item:first-child {
  margin-left: -20px;
}

/* Dánh sách tin tức doanh nghiệp */
.list-post-new {
  display: grid;
  grid-template-columns: repeat(4, 23.7%);
  grid-gap: 20px;
}

.list-post-new-item {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.list-post-new-item:hover {
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.list-post-new-item:hover h4 {
  color: var(--primary-color);
}

.list-post-new-item img {
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.list-post-new-item h4 {
  font-weight: bold;
}

.post-new-info {
  padding: 10px 15px;
}

.post-new-content {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media (max-width:568px) {
  .list-word-new {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .company-log-item img {
    margin-left: 20px;
    height: 150px;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .list-post-new {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 20px; */
  }

  .slick-prev,
  .slick-company-prev {
    left: -5px;
  }

  .slick-next,
  .slick-company-next {
    right: -5px;
  }

  .col-md-none,
  .col-sm-none {
    display: none;
  }
}


@media (min-width:768px) and (max-width:1023px) {
  .list-word-new {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-md-none,
  .col-sm-none {
    display: none;
  }

  .list-company-box {
    margin-top: -40px;
  }

  .list-post-new {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 20px; */
  }
}
