<div class="container-fuild recruitment-banner-box">
    <div class="container recruitment-banner-in">
        <div class="row">
            <div class="col-5">
                <p class="title-banner fs-3 fw-bold">Đợt tuyển dụng</p>
                <div class=" title-line-recruitment"></div>
                <p class="my-4 recruitment-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eum
                    officiis sapiente voluptate veritatis sed deserunt beatae illo dolorem. Voluptatibus quas
                    accusantium cumque modi accusamus autem officia aliquam dignissimos ullam minima.</p>
                <form class="recruitment-form-search ">
                    <input type="text" placeholder="Tìm kiếm đợt tuyển dụng ..." class="search-input">
                    <button class="btn-recruitment-form-search"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-7">
            </div>
        </div>
    </div>
</div>
<div class="recruitment-content">
    <div class="container">
        <div class="py-4 recruitment-list-box row">
            <div class="recruitment-list-hot-left col-4">
                <h2 class="fw-bold"><img class="image-title" src="./../../../assets/img/9c13a4ff5c359f6bc624.jpg"
                        alt="">
                    Đợt
                    tuyển
                    dụng hot
                    nhất</h2>
                <div class="bg-white w-100 recruitment-list-hot-box">
                    <div class="p-3">
                        <div class="recruitment-list-hot-item-box">
                            <div class="recruitment-list-hot-item">
                                <div class="">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpZfJ2apETs_ZfvM1Cmb8NgRe4cmKKydBCqA&usqp=CAU"
                                        alt="" class="">
                                </div>
                                <div class="">
                                    <p class="recruitment-list-hot-item-text">10:30 27/2/2022</p>
                                    <ul class="recruitment-list-skill d-flex">
                                        <li class="recruitment-item-skill">PHP</li>
                                        <li class="recruitment-item-skill">HTML</li>
                                    </ul>
                                    <p class="color-blue recruitment-list-hot-item-members"><i
                                            class="fas fa-user-friends"></i> 35
                                    </p>
                                    <p class="recruitment-list-hot-item-text">Số bài test : 20</p>
                                </div>
                            </div>
                            <p class="fw-bold color-blue recruitment-list-hot-item-name text-collapse ">Tuyển Dụng
                                Việc
                                Làm Online |
                                Lương
                                Khủng 200K - 1 Triệu/ Ngày
                            </p>
                        </div>
                        <div class="recruitment-list-hot-item-box">
                            <div class="recruitment-list-hot-item">
                                <div class="">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpZfJ2apETs_ZfvM1Cmb8NgRe4cmKKydBCqA&usqp=CAU"
                                        alt="" class="">
                                </div>
                                <div class="">
                                    <p class="recruitment-list-hot-item-text">10:30 27/2/2022</p>
                                    <ul class="recruitment-list-skill d-flex">
                                        <li class="recruitment-item-skill">PHP</li>
                                        <li class="recruitment-item-skill">HTML</li>
                                    </ul>
                                    <p class="color-blue recruitment-list-hot-item-members"><i
                                            class="fas fa-user-friends"></i> 35
                                    </p>
                                    <p class="recruitment-list-hot-item-text">Số bài test : 20</p>
                                </div>
                            </div>
                            <p class="fw-bold color-blue recruitment-list-hot-item-name text-collapse ">Tuyển Dụng
                                Việc
                                Làm Online |
                                Lương
                                Khủng 200K - 1 Triệu/ Ngày
                            </p>
                        </div>
                        <div class="recruitment-list-hot-item-box">
                            <div class="recruitment-list-hot-item">
                                <div class="">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpZfJ2apETs_ZfvM1Cmb8NgRe4cmKKydBCqA&usqp=CAU"
                                        alt="" class="">
                                </div>
                                <div class="">
                                    <p class="recruitment-list-hot-item-text">10:30 27/2/2022</p>
                                    <ul class="recruitment-list-skill d-flex">
                                        <li class="recruitment-item-skill">PHP</li>
                                        <li class="recruitment-item-skill">HTML</li>
                                    </ul>
                                    <p class="color-blue recruitment-list-hot-item-members"><i
                                            class="fas fa-user-friends"></i> 35
                                    </p>
                                    <p class="recruitment-list-hot-item-text">Số bài test : 20</p>
                                </div>
                            </div>
                            <p class="fw-bold color-blue recruitment-list-hot-item-name text-collapse ">Tuyển Dụng
                                Việc
                                Làm Online |
                                Lương
                                Khủng 200K - 1 Triệu/ Ngày
                            </p>
                        </div>
                        <div class="recruitment-list-hot-item-box">
                            <div class="recruitment-list-hot-item">
                                <div class="">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpZfJ2apETs_ZfvM1Cmb8NgRe4cmKKydBCqA&usqp=CAU"
                                        alt="" class="">
                                </div>
                                <div class="">
                                    <p class="recruitment-list-hot-item-text">10:30 27/2/2022</p>
                                    <ul class="recruitment-list-skill d-flex">
                                        <li class="recruitment-item-skill">PHP</li>
                                        <li class="recruitment-item-skill">HTML</li>
                                    </ul>
                                    <p class="color-blue recruitment-list-hot-item-members"><i
                                            class="fas fa-user-friends"></i> 35
                                    </p>
                                    <p class="recruitment-list-hot-item-text">Số bài test : 20</p>
                                </div>
                            </div>
                            <p class="fw-bold color-blue recruitment-list-hot-item-name text-collapse ">Tuyển Dụng
                                Việc
                                Làm Online |
                                Lương
                                Khủng 200K - 1 Triệu/ Ngày
                            </p>
                        </div>
                        <div class="recruitment-list-hot-item-box">
                            <div class="recruitment-list-hot-item">
                                <div class="">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpZfJ2apETs_ZfvM1Cmb8NgRe4cmKKydBCqA&usqp=CAU"
                                        alt="" class="">
                                </div>
                                <div class="">
                                    <p class="recruitment-list-hot-item-text">10:30 27/2/2022</p>
                                    <ul class="recruitment-list-skill d-flex">
                                        <li class="recruitment-item-skill">PHP</li>
                                        <li class="recruitment-item-skill">HTML</li>
                                    </ul>
                                    <p class="color-blue recruitment-list-hot-item-members"><i
                                            class="fas fa-user-friends"></i> 35
                                    </p>
                                    <p class="recruitment-list-hot-item-text">Số bài test : 20</p>
                                </div>
                            </div>
                            <p class="fw-bold color-blue recruitment-list-hot-item-name text-collapse ">Tuyển Dụng
                                Việc
                                Làm Online |
                                Lương
                                Khủng 200K - 1 Triệu/ Ngày
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="recruitment-list-right col-8">
                <h2 class="fw-bold"><img class="image-title"
                        src="./../../../assets/img/z3532098139922_ca96b677055ce79f9827060b8a92d962.jpg" alt="">Đợt tuyển
                    dụng hot nhất
                </h2>
                <div class="bg-white recruitment-list-item-box" style="border-radius: 10px;">
                    <div class="p-3 recruitment-list-item">
                        <div class=" text-center">
                            <img class="recruitment-list-image"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpfiMTR4U2bAdlDLq74znNubncBJL1kn32Qg&usqp=CAU"
                                alt="">
                            <p class="recruitment-list-hot-item-text mt-3">10:30 27/2/2022</p>
                        </div>
                        <div class="recruitment-list-item-info">
                            <p class="recruitment-list-item-name color-blue recruitment-list-hot-item-name  fw-bold">
                                Đợt tuyển dụng mới nhất abc xyz
                                mới
                                nhất Backend
                                Developer</p>
                            <ul class="recruitment-list-skill d-flex mt-3">
                                <li class="recruitment-item-skill">PHP</li>
                                <li class="recruitment-item-skill">HTML</li>
                            </ul>
                            <p class="recruitment-list-hot-item-text" style="margin-top: -10px;">Đợt ut labore et dolore
                                magna aliqua. Ut
                                enim ad
                                minim veniam Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incidtidunt ut labore
                                et dolore magna aliqua do eiusmod sed do eiusmodblore magna aliqua. Ut...</p>
                            <div class="d-flex  justify-content-start align-items-center">
                                <p class="fw-bold color-blue">Doanh nghiệp :</p>
                                <ul class="list-company-support ml-2 d-flex align-items-center">
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white recruitment-list-item-box" style="border-radius: 10px;">
                    <div class="p-3 recruitment-list-item">
                        <div class=" text-center">
                            <img class="recruitment-list-image"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpfiMTR4U2bAdlDLq74znNubncBJL1kn32Qg&usqp=CAU"
                                alt="">
                            <p class="recruitment-list-hot-item-text mt-3">10:30 27/2/2022</p>
                        </div>
                        <div class="recruitment-list-item-info">
                            <p class="recruitment-list-item-name color-blue recruitment-list-hot-item-name  fw-bold">
                                Đợt tuyển dụng mới nhất abc xyz
                                mới
                                nhất Backend
                                Developer</p>
                            <ul class="recruitment-list-skill d-flex mt-3">
                                <li class="recruitment-item-skill">PHP</li>
                                <li class="recruitment-item-skill">HTML</li>
                            </ul>
                            <p class="recruitment-list-hot-item-text" style="margin-top: -10px;">Đợt ut labore et dolore
                                magna aliqua. Ut
                                enim ad
                                minim veniam Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incidtidunt ut labore
                                et dolore magna aliqua do eiusmod sed do eiusmodblore magna aliqua. Ut...</p>
                            <div class="d-flex  justify-content-start align-items-center">
                                <p class="fw-bold color-blue">Doanh nghiệp :</p>
                                <ul class="list-company-support ml-2 d-flex align-items-center">
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white recruitment-list-item-box" style="border-radius: 10px;">
                    <div class="p-3 recruitment-list-item">
                        <div class=" text-center">
                            <img class="recruitment-list-image"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpfiMTR4U2bAdlDLq74znNubncBJL1kn32Qg&usqp=CAU"
                                alt="">
                            <p class="recruitment-list-hot-item-text mt-3">10:30 27/2/2022</p>
                        </div>
                        <div class="recruitment-list-item-info">
                            <p class="recruitment-list-item-name color-blue recruitment-list-hot-item-name  fw-bold">
                                Đợt tuyển dụng mới nhất abc xyz
                                mới
                                nhất Backend
                                Developer</p>
                            <ul class="recruitment-list-skill d-flex mt-3">
                                <li class="recruitment-item-skill">PHP</li>
                                <li class="recruitment-item-skill">HTML</li>
                            </ul>
                            <p class="recruitment-list-hot-item-text" style="margin-top: -10px;">Đợt ut labore et dolore
                                magna aliqua. Ut
                                enim ad
                                minim veniam Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incidtidunt ut labore
                                et dolore magna aliqua do eiusmod sed do eiusmodblore magna aliqua. Ut...</p>
                            <div class="d-flex  justify-content-start align-items-center">
                                <p class="fw-bold color-blue">Doanh nghiệp :</p>
                                <ul class="list-company-support ml-2 d-flex align-items-center">
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white recruitment-list-item-box" style="border-radius: 10px;">
                    <div class="p-3 recruitment-list-item">
                        <div class=" text-center">
                            <img class="recruitment-list-image"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpfiMTR4U2bAdlDLq74znNubncBJL1kn32Qg&usqp=CAU"
                                alt="">
                            <p class="recruitment-list-hot-item-text mt-3">10:30 27/2/2022</p>
                        </div>
                        <div class="recruitment-list-item-info">
                            <p class="recruitment-list-item-name color-blue recruitment-list-hot-item-name  fw-bold">
                                Đợt tuyển dụng mới nhất abc xyz
                                mới
                                nhất Backend
                                Developer</p>
                            <ul class="recruitment-list-skill d-flex mt-3">
                                <li class="recruitment-item-skill">PHP</li>
                                <li class="recruitment-item-skill">HTML</li>
                            </ul>
                            <p class="recruitment-list-hot-item-text" style="margin-top: -10px;">Đợt ut labore et dolore
                                magna aliqua. Ut
                                enim ad
                                minim veniam Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incidtidunt ut labore
                                et dolore magna aliqua do eiusmod sed do eiusmodblore magna aliqua. Ut...</p>
                            <div class="d-flex  justify-content-start align-items-center">
                                <p class="fw-bold color-blue">Doanh nghiệp :</p>
                                <ul class="list-company-support ml-2 d-flex align-items-center">
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white recruitment-list-item-box" style="border-radius: 10px;">
                    <div class="p-3 recruitment-list-item">
                        <div class=" text-center">
                            <img class="recruitment-list-image"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpfiMTR4U2bAdlDLq74znNubncBJL1kn32Qg&usqp=CAU"
                                alt="">
                            <p class="recruitment-list-hot-item-text mt-3">10:30 27/2/2022</p>
                        </div>
                        <div class="recruitment-list-item-info">
                            <p class="recruitment-list-item-name color-blue recruitment-list-hot-item-name  fw-bold">
                                Đợt tuyển dụng mới nhất abc xyz
                                mới
                                nhất Backend
                                Developer</p>
                            <ul class="recruitment-list-skill d-flex mt-3">
                                <li class="recruitment-item-skill">PHP</li>
                                <li class="recruitment-item-skill">HTML</li>
                            </ul>
                            <p class="recruitment-list-hot-item-text" style="margin-top: -10px;">Đợt ut labore et dolore
                                magna aliqua. Ut
                                enim ad
                                minim veniam Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incidtidunt ut labore
                                et dolore magna aliqua do eiusmod sed do eiusmodblore magna aliqua. Ut...</p>
                            <div class="d-flex  justify-content-start align-items-center">
                                <p class="fw-bold color-blue">Doanh nghiệp :</p>
                                <ul class="list-company-support ml-2 d-flex align-items-center">
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqkT13723Hu-mOVrodNYWHeJ4w7IR1I3_EOg&usqp=CAU"
                                            alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>