.recruitment-banner-box {
  background-image: linear-gradient(to bottom, #08104e, #0f3368);
}

p{
  margin-bottom: 12px;
}

.recruitment-form-search {
  background-color: var(--white);
  display: inline-block;
  border-radius: 6px;
  text-align: left;
  width: 75%;
}

.recruitment-form-search:hover {
  cursor: pointer;
}

.title-line-recruitment {
  height: 5px;
  background-color: var(--warning);
  box-shadow: 0px 0px 5px var(--warning);
  width: 200px;
}

.recruitment-slider-banner .banner-arrow-prev {
  left: 30px;
}

.recruitment-slider-banner .banner-arrow-next {
  right: 30px;
}

.recruitment-banner-intro-page {
  padding: 12% 0px;
}

.title-banner {
  color: var(--white);
  font-size: 25px;
}

.image-title {
  width: 25px;
  margin-right: 10px;
}

.recruitment-description {
  color: var(--white);
  text-align: justify;
}

.recruitment-form-search {
  padding: 0px 10px;
  width: 300px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #4b5aca, #3a5d91);
  transition: all ease-in-out 0.3s;
}

.btn-recruitment-form-text {
  font-size: 16px;
  margin-top: 12px;
  color: var(--white);
}

.btn-recruitment-form-search {
  border: none;
  background-color: var(--white);
  padding: 5px;
  border-radius: 6px;
  font-size: 20px;

}

.recruitment-form-search:hover {
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 2px var(--warning);
}

.recruitment-slider-banner {
  padding: 9% 5%;
}

.recruitment-slider-banner img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.recruitment-slider-banner .arrow-banner {
  font-size: 35px;
  color: var(--warning);
  cursor: pointer;
}

/* CONTENT */
.recruitment-content {
  background-color: #F8F8F8;
}

.recruitment-list-hot-box {
  border-radius: 10px;
}

.recruitment-list-hot-item-box:first-child {
  margin-top: 0px;
}

.recruitment-list-hot-item-box {
  border: 1px solid #E8EAEE;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.recruitment-list-hot-item-box:hover .recruitment-list-hot-item-name {
  color: var(--warning);
  transition: all ease-in-out 0.3s;
}

.recruitment-list-hot-item-box:hover {
  border: 1px solid var(--warning);
  transition: all ease-in-out 0.3s;
}

.recruitment-list-hot-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.recruitment-list-hot-item-box-img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.count-exam-test-sm {
  display: none;
}

/* .list-company-support */

.recruitment-list-hot-item-members {
  margin-top: -5px;
}

.recruitment-slill-and-member-number-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recruitment-list-skill {
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recruitment-item-skill {
  padding: 3px 7px;
  background-color: #f1cebd;
  color: var(--warning);
  font-weight: bold;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 12px;
}

.list-company-support img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.list-company-support li {
  margin-right: 20px;
}


.recruitment-list-hot-item-name {
  font-size: 17px;
  /* margin-bottom: -2px; */
}

/* LIST RECRUITMENT */
.recruitment-list-item-box {
  transform: translateY(0);
  transition: all ease-in-out 0.3s;
  margin-top: 20px;
}

.recruitment-list-item {
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 20px;
  cursor: pointer;
}

.recruitment-list-item .recruitment-list-image {
  height: 110px;
  width: 100%;
  border-radius: 6px;
}

.recruitment-list-item-name {
  width: 90%;
}

.recruitment-list-item-box:hover .recruitment-list-item-name {
  color: var(--warning);
}

.recruitment-list-item-box:hover {
  transform: translateY(-5px);
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 7px var(--warning);
}

/* PAYING PAGE RECRUITMENT */
.recruitment-paying-page-list {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.recruitment-paying-page-item {
  padding: 10px 15px;
  background-color: var(--white);
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.recruitment-paying-page-item:hover {
  background-color: var(--warning);
  color: var(--white);
  transition: all ease-in 0.3s;
}

/* LIST  POST  */
.list-post-new {
  margin-top: -10px;
}

.list-post-new-slick .post-item {
  background-color: var(--white);
  /* margin-left: 15px; */
  border-radius: 10px;
  margin: 5px 10px;
  transition: all ease-in 0.3s;
  transform: translateY(0px);
}


.list-post-new-slick .post-item:hover {
  transform: translateY(-3px);
  transition: all ease-in 0.3s;
  box-shadow: 0px 0px 5px var(--warning);
  cursor: pointer;
}

.list-post-new-slick .post-item:hover .post-new-name {
  color: var(--warning);
}

.list-post-new-slick .post-item-imgae {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.list-post-new-slick .post-item-in {
  padding: 10px;
}

.list-post-new-slick .post-new-content {
  margin-top: -12px;
  /* text-align: justify; */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.list-post-new-slick .post-new-name {
  font-size: 18px;
}

.list-post-new .prev-arrow {
  left: -20px;
}

.list-post-new .next-arrow {
  right: -20px;
}

.list-post-new .arrow-list-post {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #e77325;
  color: var(--white);
}

.list-post-new .arrow-list-post:hover {
  background-color: var(--warning);
}


/* RESPONSiVE */
@media (max-width:568px) {
  .recruitment-banner-in {
    padding: 0px 30px;
  }


  .recruitment-list-hot-reponsive {
    display: flex;
    flex-direction: column;
  }

  .title-list-recruitment {
    margin-top: 20px;
  }

  .count-exam-test-lg {
    display: none;
  }

  .count-exam-test-sm {
    display: block;
    margin-top: -10px;
  }

  .recruitment-list-item-name {
    width: 85%;
  }
}


@media (max-width:987px) {
  .col-md-none {
    display: none;
  }

  .recruitment-list-hot-item-box-img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
}