p , ul{
  margin-bottom: 0;
}


/* CONTENT */
.recruitment-filter-box{
  background-color: var(--gray-200);
}

.filter-skill-item{
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: var(--gray-200);
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-skill-box .active{
  background-color: var(--primary);
  color: var(--white);
}

.btn-search-recruitment{
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding-top: 3px;
}

.btn-search-recruitment:hover{
  opacity: 0.8;
}

.image-title{
  width: 30px;
  margin-right: 15px;
  display: inline-block;
}

.recruitment-content {
  background-color: #F8F8F8;
}

.recruitment-list-hot-box {
  border-radius: 10px;
  height: 600px;
  overflow-y: auto;
}

.input__search-keyword--sugg{
  max-height: 250px;
  overflow-y: auto;
}

.recruitment-list-hot-box::-webkit-scrollbar,
.input__search-keyword--sugg::-webkit-scrollbar{
  width: 3px;
  background-color: rgb(235, 232, 232);
}

.recruitment-list-hot-item-box:first-child {
  margin-top: 0px;
}

.recruitment-list-hot-item-box {
  border: 1px solid #E8EAEE;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.recruitment-list-hot-item-box:hover .recruitment-list-hot-item-name {
  color: var(--primary);
  transition: all ease-in-out 0.3s;
}

.recruitment-list-hot-item-box:hover {
  border: 1px solid var(--primary);
  transition: all ease-in-out 0.3s;
}


.recruitment-image-box {
  position: relative;
}

.recruitment-outs-commom{
  position: absolute;
  top: 0;
  right: 10px;
  color: var(--white);
  width: 40px;
  height: 36px;
  line-height: 36px;
}

.recruitment-isHot::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: -7px;
  border-width: 0px 20px 7px;
  border-style: solid;
  border-color: transparent rgba(255, 0, 0, 0.781) transparent rgba(255, 0, 0, 0.781);
}

.recruitment-isNew::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: -7px;
  border-width: 0px 20px 7px;
  border-style: solid;
  border-color: transparent rgba(0, 128, 0, 0.726) transparent rgba(0, 128, 0, 0.726);
}

.recruitment-isHot{
  background-color: rgba(255, 0, 0, 0.781) ;
}
.recruitment-isNew{
  background-color: rgba(0, 128, 0, 0.726);
}

.recruitment-left{
  position: sticky;
  top: 100px;
}

.recruitment-list-hot-item-text {
font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.recruitment-list-hot-item-box-img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.count-exam-test-sm {
  display: none;
}

/* .list-company-support */

.recruitment-list-hot-item-members {
  margin-top: -5px;
}

.recruitment-slill-and-member-number-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recruitment-list-skill {
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recruitment-item-skill {
  padding: 3px 7px;
  background-color: #f3d9cc;
  color: var(--primary);
  font-weight: bold;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 12px;
}


.list-company-support img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
}

.list-company-support li {
  margin-left: 20px;
}

.number-test{
  font-size: 1rem;
}


.recruitment-list-hot-item-name {
  font-size: 17px;
  /* margin-bottom: -2px; */
}

/* LIST RECRUITMENT */
.recruitment-list-item-box {
  transform: translateY(0);
  transition: all ease-in-out 0.3s;
  margin-top: 20px;
}

.recruitment-list-item {
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 20px;
  cursor: pointer;
}

.recruitment-list-item .recruitment-image {
  height: 200px;
  width: 100%;
  border-radius: 6px;
}

.recruitment-list-item-name {
  width: 90%;
}

.recruitment-list-item-box:hover .recruitment-list-item-name {
  color: var(--primary);
}

.recruitment-list-item-box:hover {
  transform: translateY(-5px);
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 7px var(--primary);
}

/* PAYING PAGE RECRUITMENT */
.recruitment-paying-page-list {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.recruitment-paying-page-item a{
  padding: 10px 15px;
  background-color: var(--white);
  cursor: pointer;
  transition: all ease-in 0.1s;
  color: #444;
}

.recruitment-paying-page-item .active{
  background-color: var(--primary);
  color: var(--white);
}

.recruitment-paying-page-item a:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all ease-in 0.3s;
}

/* RESPONSiVE */
@media (max-width:568px) {
  .recruitment-banner-in {
    padding: 0px 30px;
  }


  .recruitment-list-hot-reponsive {
    display: flex;
    flex-direction: column;
  }

  .title-list-recruitment {
    margin-top: 20px;
  }

  .count-exam-test-lg {
    display: none;
  }

  .count-exam-test-sm {
    display: block;
    margin-top: -10px;
  }

  .recruitment-list-item-name {
    width: 85%;
  }
}


@media (max-width:987px) {
  .col-md-none {
    display: none;
  }

  .recruitment-list-hot-item-box-img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
}

.post-item__title {
  line-height: 1.2;
  font-weight: 500;
}

.post-item__info {
  margin: 10px 0;
  display: flex;
  justify-content: start;
}

.post-item__info-item:first-child {
  display: -webkit-box;
  display: inline-block;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
  width: 100%;
}

.post-item__info-item+.post-item__info-item {
  margin-left: 10px;
}

.post-item__info,
.post-item-bottom {
  color: #8E8E95
}

.btn-detail {
  background-color: white;
  border: solid 1px #8E8E95
}

.btn-detail:hover {
  background-color: #0E0759;
  color: white
}


.post-item-bottom .btn {
  font-size: 12px;
  padding: 4px 10px;
  margin-top: 5px;
}