p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.text-collapse-post{
    display: -webkit-box;
  
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

/* COMOMOM */
.page-post-box {
    background-color: #F8F8F8;
}

.header-content-post-first img {
    border-radius: 10px;
    height: 410px;
    object-fit: covers;
}

.header-content-post-name {
    line-height: 1.2;
    -webkit-line-clamp: 2;
}

.header-content-post-auth{
    display: flex;
    justify-content: start;
}

.header-content-post-auth li{
    margin-right: 20px;
    color: var(--text-color);
}

.header-content-post-description{
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 6;
   text-align: justify;
}

.header-content-post-slider{
    margin: 0px -10px;
}

.post-item-img{
    height: 150px;
    border-radius: 10px;
}

.post-item{
    margin: 0px 10px;
}


.list-post-new .prev-arrow {
    left: -10px;
}

.list-post-new .next-arrow {
    right: -10px;
}

.list-post-new .arrow-list-post {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #e77325;
    color: var(--white);
}

.list-post-new .arrow-list-post:hover {
    background-color: var(--warning);
}

/* CONTENT MAIN */

.content-main-cate-header{
    border-bottom: 1px solid #CCC;
}

.content-main-cate-header h3{
    color: #666;
}

.content-main-cate-post-new img{
    border-radius: 10px;
    z-index: -1;
    height: 240px;
    object-fit: cover;
}

.content-main-cate-post-new-info{
    background-color: var(--white);
    padding: 15px;
    /* position: absolute; */
    margin: 0px 20px;
    box-shadow: 0px 0px  7px #888;
    border-radius: 10px;
    top: 80%;
    z-index: 1;
    transform: translateY(-70px);
}

.content-main-cate-post-auth li span{
    font-size: 13px;
}

.content-main-cate-post-description{
    list-style: 1.4;
    margin-top: -10px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 4;
}

.content-main-cate-post-new-name{
    font-weight: 600;
}

/* .content-main-cate-item{
    display: ;
} */


.content-main-cate-item-img-box img{
    border-radius: 10px;
}

.content-main-cate-info-description{
    /* margin-left: -5px; */
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
}

.content-main-cate-info-box{
    margin-left: -10px;
}

.content-main-cate-item:hover{
    cursor: pointer;
}

.content-main-cate-item:hover .content-main-cate-post-new-name{
    color: var(--warning);
}

.content-main-cate-post-new {
    margin-bottom: -40px;
}

/*-------Slider bar */
.content-slider-bar-form{
    background-color: var(--white);
    border: 1px solid var(--warning);
}

.content-slider-bar-form i{
    padding: 10px;
}

.content-slider-bar-input{
    border: none;
}

.content-slider-bar-input:focus{
    outline: none;
}

.title-outstand{
    border-bottom: 1px solid #ccc;
}

.post-outstand-item-img{
    border-radius: 10px;
    object-fit: cover;
    height: 90px;
}

.post-outstand-item-info{
    margin-left: -10px;
}

.post-outstand-item-auth li span{
    font-size: 12px;
 
}

.post-outstand-item-description{
    margin-top: -15px;
    -webkit-line-clamp: 2;

}