<div class="page-post-box  py-3">
    <div class="container ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a routerLink="/bai-viet">Bài viết</a></li>
            </ol>
        </nav>
        <div class="header-post-category">
            <h2 class="header-section__title">Bài viết tuyển dụng</h2>
            <a routerLink="" class="header-section__link">Tất cả</a>
        </div>
        <div class="post-new-latest">
            <div class="post-new-latest__img-section">
                <img src={{PostRecruitmentFirst.thumbnail_url}} alt="" class="post-new-latest__img">
            </div>
            <div class="post-new-latest-content">
                <h3 class="post-new-latest__title">
                    <a routerLink="">{{PostRecruitmentFirst.title}}</a>
                </h3>
                <div class="post-new-latest__info">
                    <div class="post-new-latest__info-item">
                        <i class="fa-solid fa-user"></i>&ensp; {{PostRecruitmentFirst.user.name}}
                    </div>
                    <div class="post-new-latest__info-item">
                        <i class="fa-solid fa-clock"></i>&ensp;{{PostRecruitmentFirst.published_at |
                        formatDate }}
                    </div>
                </div>
                <div class="post-new-latest__bottom">
                    <p class="post-new-latest__short-desc" *ngIf="PostRecruitmentFirst.description "
                        [innerHTML]="PostRecruitmentFirst.description"></p>
                    <a routerLink="" class="btn btn-detail">Chi tiết</a>
                    <div class="post-new-latest__slider-list">
                        <!-- <div class="prev-arrow arrow-list-post slick-arrow">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <ngx-slick-carousel class="carousel list-post-new-slick" [config]="sliderHeaderPost">
                            <a ngxSlickItem class="col-5 post-new-latest__slider-item">
                                <img class="post-new-latest__slider-item-img"
                                    src="http://icdn.dantri.com.vn/zoom/1200_630/2020/11/10/fpt-polytechnic-10-nam-v-2-1-docx-1604981173950.png"
                                    alt="">
                            </a>
                            <a ngxSlickItem class="col-5 post-new-latest__slider-item">
                                <img class="post-new-latest__slider-item-img"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsN6tgdsxaOxevqRWX3mJWX6h_9AChRJd4tj5fM6lBv638bbXHmgcdDEBiTfFuYz8zgoE&usqp=CAU"
                                    alt="">
                            </a>
                            <a ngxSlickItem class="col-5 post-new-latest__slider-item">
                                <img class="post-new-latest__slider-item-img"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsN6tgdsxaOxevqRWX3mJWX6h_9AChRJd4tj5fM6lBv638bbXHmgcdDEBiTfFuYz8zgoE&usqp=CAU"
                                    alt="">
                            </a>
                        </ngx-slick-carousel>
                        <div class="next-arrow arrow-list-post slick-arrow">
                            <i class="fas fa-chevron-right"></i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="post-main">
            <div class="post-main-content">
                <div class="post-main-content-section">
                    <div class="header-section">
                        <h2 class="header-section__title">Bài viết test năng lực</h2>
                        <a routerLink="" class="header-section__link">Tất cả</a>
                    </div>
                    <div class="main-section">
                        <div class="post-item">
                            <app-post-related-item [postItem]="PostCapacityFirst"></app-post-related-item>
                        </div>
                        <div class="post-in-cate-list">
                            <div class="post-in-cate-item" *ngFor=" let postCapacity of ListPostCapacity">
                                <div class="post-in-cate-item__img-section">
                                    <a routerLink="/bai-viet/{{postCapacity.slug}}">
                                        <img src={{postCapacity.thumbnail_url}} alt="" class="post-in-cate-item__img">

                                    </a>
                                </div>
                                <div class="post-in-cate-item-content">
                                    <h3 class="post-in-cate-item-content__title text-collapse">
                                        <a routerLink="/bai-viet/{{postCapacity.slug}}">
                                            {{postCapacity.title}}
                                        </a>
                                    </h3>
                                    <div class="post-in-cate-item-content__info">
                                        <div class="post-in-cate-item-content__info-item">
                                            <i class="fa-solid fa-clock"></i>&ensp;{{postCapacity.published_at |
                                            formatDate}}
                                        </div>
                                    </div>
                                    <div class=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-main-content-section">
                    <div class="header-section">
                        <h2 class="header-section__title">Bài viết cuộc thi</h2>
                        <a routerLink="" class="header-section__link">Tất cả</a>
                    </div>
                    <div class="main-section">
                        <div class="post-item">
                            <app-post-related-item [postItem]="PostContestFirst"></app-post-related-item>
                        </div>
                        <div class="post-in-cate-list">
                            <div class="post-in-cate-item " *ngFor=" let postContes of ListPostContest">
                                <div class="post-in-cate-item__img-section">
                                    <a routerLink="/bai-viet/{{postContes.slug}}">
                                        <img src={{postContes.thumbnail_url}} alt="" class="post-in-cate-item__img">
                                    </a>
                                </div>
                                <div class="post-in-cate-item-content">
                                    <h3 class="post-in-cate-item-content__title text-collapse" data-toggle="tooltip"
                                        title={{postContes.title}}> <a
                                            routerLink="/bai-viet/{{postContes.slug}}">{{postContes.title}}</a>
                                    </h3>
                                    <div class="post-in-cate-item-content__info">
                                        <div class="post-in-cate-item-content__info-item">
                                            <i class="fa-solid fa-clock"></i>&ensp;{{postContes.published_at}}
                                        </div>
                                    </div>
                                    <div class=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside>
                <form action="" class="form-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="form__input" placeholder="Tìm kiếm tag, tên bài viết ...">
                </form>
                <div class="post-hot">
                    <div class="header-section">
                        <h2 class="header-section__title">Bài viết nổi bật</h2>
                    </div>
                    <div class="post-hot-list">
                        <div class="post-hot-item">
                            <div class="post-hot-item__img-section">
                                <img src="https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    alt="" class="post-hot-item__img">
                            </div>
                            <div class="post-hot-item-content">
                                <h3 class="post-hot-item-content__title">Art is the way to express it to</h3>
                                <div class="post-hot-item-content__info">
                                    <div class="post-hot-item-content__info-item">
                                        <i class="fa-solid fa-clock"></i>&ensp;April 19, 2018
                                    </div>
                                    <div class="post-hot-item-content__info-item">
                                        <i class="fa-solid fa-clock"></i>&ensp;April 19, 2018
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>