<div class="page-post-box  py-3">
    <div class="container ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a routerLink="/bai-viet">Bài viết</a></li>
            </ol>
        </nav>
        <div class="row header-content-post-box">
            <div class="col-7 header-content-post-first">
                <img  *ngIf="listPostNewFirst"  class="w-100"
                    [src]="listPostNewFirst.thumbnail_url"
                    alt="">
            </div>
            <div class="col-5 header-content-post-seccond">
                <p *ngIf="listPostNewFirst"  class="fs-5 fw-bold text-collapse-post color-blue header-content-post-name">
                   {{listPostNewFirst.title}}</p>
                <ul *ngIf="listPostNewFirst"  class="header-content-post-auth mt-2">
                    <li><i class="fa-solid fa-user"></i>&ensp;  {{listPostNewFirst.user.name}}</li>
                    <li><i class="fa-solid fa-clock"></i>&ensp;{{listPostNewFirst.published_at | formatDate}}</li>
                </ul>
                <p *ngIf="listPostNewFirst" class="my-2 header-content-post-description text-collapse-post">
                    Năm 2014, Barca bị tòa án
                    Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế
                    PSG phủ nhận hành vi sai trái. Nhưng ba năm sau, Tòa án cấp cao của Tây Ban Nha đã bác
                    đơn kháng cáo của Neymar, cha mẹ anh và hai CLB, mở đường cho vụ án được đưa ra xét xử.
                    World Cup 2022 sẽ khởi tranh từ 21/11, và Neymar hầu tòa chỉ hơn một tháng trước kh ,  PSG phủ nhận hành vi sai trái. Nhưng ba năm sau, Tòa án cấp cao của Tây Ban Nha đã bác
                    đơn kháng cáo của Neymar, cha mẹ anh và hai CLB, mở đường cho vụ án được đưa ra xét xử.
                    World Cup 2022 sẽ khởi tranh từ 21/11, và Neymar hầu tòa chỉ hơn một tháng trước kh
                </p>
                <a class="btn btn-register">Chi tiết</a>
                <div class="header-content-post-slider mt-3 list-post-new   position-relative">
                    <div class="prev-arrow arrow-list-post slick-arrow">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <ngx-slick-carousel class="carousel list-post-new-slick" [config]="sliderHeaderPost">
                        <a ngxSlickItem class="col-5 post-item">
                            <img class="w-100 post-item-img"
                                src="http://icdn.dantri.com.vn/zoom/1200_630/2020/11/10/fpt-polytechnic-10-nam-v-2-1-docx-1604981173950.png"
                                alt="">
                        </a>
                        <a ngxSlickItem class="col-5 post-item">
                            <img class="w-100 post-item-img"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsN6tgdsxaOxevqRWX3mJWX6h_9AChRJd4tj5fM6lBv638bbXHmgcdDEBiTfFuYz8zgoE&usqp=CAU"
                                alt="">
                        </a>
                        <a ngxSlickItem class="col-5 post-item">
                            <img class="w-100 post-item-img"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsN6tgdsxaOxevqRWX3mJWX6h_9AChRJd4tj5fM6lBv638bbXHmgcdDEBiTfFuYz8zgoE&usqp=CAU"
                                alt="">
                        </a>
                        <a ngxSlickItem class="col-5 post-item">
                            <img class="w-100 post-item-img"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsN6tgdsxaOxevqRWX3mJWX6h_9AChRJd4tj5fM6lBv638bbXHmgcdDEBiTfFuYz8zgoE&usqp=CAU"
                                alt="">
                        </a>
                    </ngx-slick-carousel>
                    <div class="next-arrow arrow-list-post slick-arrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-main-box row  my-4">
            <div class="content-main-cate col-8">
                <div class="content-main-cate-header pt-2 d-flex justify-content-between">
                    <h3 class="fw-bold ">Danh mục bài viết</h3>
                    <h3 class="fw-bold ">Tất cả</h3>
                </div>
                <div class="row mt-3">
                    <div class="col-6 content-main-cate-post-new ">
                        <img class="w-100"
                            src="https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-QuyCheTuyenSinh-580x386.png"
                            alt="">
                        <div class="content-main-cate-post-new-info">
                            <h3 class="content-main-cate-post-new-name color-blue">Neymar hầu tòa trước World Cup</h3>
                            <ul class="header-content-post-auth content-main-cate-post-auth">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                                <li class="fs-6"><span><i class="fa-solid fa-clock"></i>&ensp;10:30 20/11/2022</span>
                                </li>
                            </ul>
                            <p class="content-main-cate-post-description text-collapse-post">Năm 2014, Barca bị tòa án
                                Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế
                                PSG phủ nhận hành vi sai trái. Nhưng ba năm sau, Tòa án cấp cao của Tây Ban Nha đã bác
                                đơn kháng cáo của Neymar, cha mẹ anh và hai CLB, mở đường cho vụ án được đưa ra xét xử.
                                World Cup 2022 sẽ khởi tranh từ 21/11, và Neymar hầu tòa chỉ hơn một tháng trước kh</p>
                            <a class="btn btn-register mt-2" href="">Chi tiết</a>
                        </div>
                    </div>
                    <div class="col-6 content-main-list-cate">
                        <div  (click)="getPostWhereCate('post-contest' , '#listPost' ,  100)" class="content-main-cate-item mb-3 row">
                            <div class="col-5 content-main-cate-item-img-box">
                                <img class="w-100"
                                    src="https://photo-cms-plo.zadn.vn/w850/Uploaded/2022/tmuihk/2022_04_20/happy-bee-fpt-polytechnic6-1-5870.png"
                                    alt="">
                            </div>
                            <div class="content-main-cate-info-box col-7">
                                <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                                <p class="content-main-cate-info-description text-collapse-post">Lorem ipsum dolor sit,
                                    amet consectetur adipisicing elit. Ducimus quaerat, molestiae reprehenderit dicta
                                    magnam dolorem, dignissimos nisi modi ad sint cum officiis ratione neque. Doloribus
                                    accusantium vel excepturi veniam dignissimos.</p>
                            </div>

                        </div>
                        <div  (click)="getPostWhereCate('post-capacity' , '#listPost' ,  100)" class="content-main-cate-item mb-3 row">
                            <div class="col-5 content-main-cate-item-img-box">
                                <img class="w-100"
                                    src="https://photo-cms-plo.zadn.vn/w850/Uploaded/2022/tmuihk/2022_04_20/happy-bee-fpt-polytechnic6-1-5870.png"
                                    alt="">
                            </div>
                            <div class="content-main-cate-info-box col-7">
                                <h3 class="content-main-cate-post-new-name color-blue">Bài viết test năng lực</h3>
                                <p class="content-main-cate-info-description text-collapse-post">Lorem ipsum dolor sit,
                                    amet consectetur adipisicing elit. Ducimus quaerat, molestiae reprehenderit dicta
                                    magnam dolorem, dignissimos nisi modi ad sint cum officiis ratione neque. Doloribus
                                    accusantium vel excepturi veniam dignissimos.</p>
                            </div>

                        </div>
                        <div  (click)="getPostWhereCate('post-recruitment' , '#listPost' ,  100)" class="content-main-cate-item mb-3 row">
                            <div class="col-5 content-main-cate-item-img-box">
                                <img class="w-100"
                                    src="https://photo-cms-plo.zadn.vn/w850/Uploaded/2022/tmuihk/2022_04_20/happy-bee-fpt-polytechnic6-1-5870.png"
                                    alt="">
                            </div>
                            <div class="content-main-cate-info-box col-7">
                                <h3 class="content-main-cate-post-new-name color-blue">Bài viết đợt tuyển dụng</h3>
                                <p class="content-main-cate-info-description text-collapse-post">Lorem ipsum dolor sit,
                                    amet consectetur adipisicing elit. Ducimus quaerat, molestiae reprehenderit dicta
                                    magnam dolorem, dignissimos nisi modi ad sint cum officiis ratione neque. Doloribus
                                    accusantium vel excepturi veniam dignissimos.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="list-post-new-box" id="listPost"> 
                    <div class="content-main-cate-header py-2">
                        <h3 class="fw-bold ">Bài viết mới nhất</h3>
                    </div>
                    <div class="row mt-3">
                        <div  *ngFor="let item of posts" class="col-6 content-main-cate-post-new ">
                            <img class="w-100"
                                [src]="item.thumbnail_url"
                                alt="">
                            <div class="content-main-cate-post-new-info">
                                <h3 class="content-main-cate-post-new-name color-blue">Neymar hầu tòa trước World Cup
                                </h3>
                                <ul class="header-content-post-auth content-main-cate-post-auth">
                                    <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span>
                                    </li>
                                    <li class="fs-6"><span><i class="fa-solid fa-clock"></i>&ensp;10:30
                                            20/11/2022</span></li>
                                </ul>
                                <p class="content-main-cate-post-description text-collapse-post">Năm 2014, Barca bị tòa
                                    án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc
                                    biên chế PSG phủ nhận hành vi sai trái. Nhưng ba năm sau, Tòa án cấp cao của Tây Ban
                                    Nha đã bác đơn kháng cáo của Neymar, cha mẹ anh và hai CLB, mở đường cho vụ án được
                                    đưa ra xét xử. World Cup 2022 sẽ khởi tranh từ 21/11, và Neymar hầu tòa chỉ hơn một
                                    tháng trước kh</p>
                                <a class="btn btn-register mt-2" href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-slider-bar col-4">
                <form action="" class="content-slider-bar-form">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="content-slider-bar-input" placeholder="Tìm kiếm tag, tên bài viết ...">
                </form>
                <h3 class="my-2 title-outstand">Bài viết nổi bật</h3>
                <div class="post-outstand-item mt-3 row">
                    <div class="col-4 ">
                        <img class="w-100 post-outstand-item-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBlgx3MYBdQIgldcsy1zc3Ld4thDPwGdCLdg&usqp=CAU"
                            alt="">
                    </div>
                    <div class="col-8 post-outstand-item-info">
                        <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                            <ul class="header-content-post-auth post-outstand-item-auth" style="   margin-top: -5px;">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                            </ul>
                        <p class="post-outstand-item-description text-collapse-post">Năm 2014, Barca bị tòa án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế PSG phủ</p>
                    </div>
                </div>
                <div class="post-outstand-item mt-3 row">
                    <div class="col-4 ">
                        <img class="w-100 post-outstand-item-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBlgx3MYBdQIgldcsy1zc3Ld4thDPwGdCLdg&usqp=CAU"
                            alt="">
                    </div>
                    <div class="col-8 post-outstand-item-info">
                        <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                            <ul class="header-content-post-auth post-outstand-item-auth" style="   margin-top: -5px;">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                            </ul>
                        <p class="post-outstand-item-description text-collapse-post">Năm 2014, Barca bị tòa án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế PSG phủ</p>
                    </div>
                </div>
                <div class="post-outstand-item mt-3 row">
                    <div class="col-4 ">
                        <img class="w-100 post-outstand-item-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBlgx3MYBdQIgldcsy1zc3Ld4thDPwGdCLdg&usqp=CAU"
                            alt="">
                    </div>
                    <div class="col-8 post-outstand-item-info">
                        <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                            <ul class="header-content-post-auth post-outstand-item-auth" style="   margin-top: -5px;">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                            </ul>
                        <p class="post-outstand-item-description text-collapse-post">Năm 2014, Barca bị tòa án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế PSG phủ</p>
                    </div>
                </div>
                <div class="post-outstand-item mt-3 row">
                    <div class="col-4 ">
                        <img class="w-100 post-outstand-item-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBlgx3MYBdQIgldcsy1zc3Ld4thDPwGdCLdg&usqp=CAU"
                            alt="">
                    </div>
                    <div class="col-8 post-outstand-item-info">
                        <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                            <ul class="header-content-post-auth post-outstand-item-auth" style="   margin-top: -5px;">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                            </ul>
                        <p class="post-outstand-item-description text-collapse-post">Năm 2014, Barca bị tòa án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế PSG phủ</p>
                    </div>
                </div>
                <div class="post-outstand-item mt-3 row">
                    <div class="col-4 ">
                        <img class="w-100 post-outstand-item-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBlgx3MYBdQIgldcsy1zc3Ld4thDPwGdCLdg&usqp=CAU"
                            alt="">
                    </div>
                    <div class="col-8 post-outstand-item-info">
                        <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                            <ul class="header-content-post-auth post-outstand-item-auth" style="   margin-top: -5px;">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                            </ul>
                        <p class="post-outstand-item-description text-collapse-post">Năm 2014, Barca bị tòa án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế PSG phủ</p>
                    </div>
                </div>
                <div class="post-outstand-item mt-3 row">
                    <div class="col-4 ">
                        <img class="w-100 post-outstand-item-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBlgx3MYBdQIgldcsy1zc3Ld4thDPwGdCLdg&usqp=CAU"
                            alt="">
                    </div>
                    <div class="col-8 post-outstand-item-info">
                        <h3 class="content-main-cate-post-new-name color-blue">Bài viết cuộc thi</h3>
                            <ul class="header-content-post-auth post-outstand-item-auth" style="   margin-top: -5px;">
                                <li class="fs-6"><span><i class="fa-solid fa-user"></i>&ensp;Nguyen Duc Binh</span></li>
                            </ul>
                        <p class="post-outstand-item-description text-collapse-post">Năm 2014, Barca bị tòa án Tây Ban Nha buộc tội gian lận thuế khi ký hợp đồng với Neymar. Tiền đạo thuộc biên chế PSG phủ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>