.recruitment-info-img-box img {
  height: 100px;
  width: 100%;
  border-radius: 5px;
}

.recruitment-company-box {
  height: 250px;
  overflow-y: auto;
}

.recruitment-company-box::-webkit-scrollbar {
  width: 5px;
}

.recruitment-company-list {
  margin-left: -12px;
}

.mat-list-item {
  margin-top: 25px;
}

.mat-list-item:first-child {
  margin-top: 0px;
}

.recruitment-company-item-img {
  height: 60px;
  width: 90px;
  border-radius: 5px;
  object-fit: cover;
}

.recruitment-company-name {
  margin-left: 10px;
}

.btn-from-capacity {
  padding: 5px 10px;
  border-radius: 5px;
}
