<div class="contest-detail-right-in rounded border">
    <div class="p-2 text-center" *ngIf="status == 'done'">
        <div class="img-detail-box">
            <img src="https://i.ytimg.com/vi/j0TNZH7gppQ/maxresdefault.jpg" class="w-100" alt="">
            <p class=" fs-5 pt-2 text-dark">{{contestDetail.name}}</p>
            <p class="number-team">Số đội tham gia : <span>{{contestDetail.teams.length}}</span></p>
            <div class="text-Secondary d-flex justify-content-center font-size-sml fs-text-contest fs-6">
                <p class="time text-dark">
                    Thời gian :
                </p>

                <div *ngIf="days > 0" class="d-flex">
                    <div class="text-center">
                        <span class="fw-bold text-primary">{{days}}</span>
                        <br>
                    </div>
                    <span class="fw-bold text-primary">:</span>
                    <div class="text-center">
                        <span class="fw-bold text-primary">{{hours}}</span>
                        <br>
                    </div>
                    <span class="fw-bold text-primary">:</span>
                    <div class="text-center">
                        <span class="fw-bold text-primary">{{minutes}}</span>
                        <br>
                    </div>
                    <span class="fw-bold text-primary">:</span>
                    <div class="text-center">
                        <span class="fw-bold text-primary">{{seconds}}</span>
                        <br>
                    </div>
                </div>
                <span *ngIf="days < 0" class="block color-red">Đã hết hạn</span>
            </div>
            <a (click)="openDialog()" class=" btn btn-register w-100">Đăng ký</a>
        </div>
    </div>
    <div class="p-2" *ngIf="status == 'pending'">
        <ngx-skeleton-loader [theme]="{ 'height.px' : 130, 'margin-bottom' : '7px' , 'border-radius': '3px' }"
            appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 20 }" appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 10 }" appearance="line">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ 'height.px' : 30 }" appearance="line">
        </ngx-skeleton-loader>
    </div>
  
</div>