<div class="contest-detail-right-in rounded border text-center">
    <div class="p-2">
        <div class="img-detail-box">
            <img src="https://i.ytimg.com/vi/j0TNZH7gppQ/maxresdefault.jpg" class="w-100" alt="">
            <p class="fw-bold fs-5 pt-2 primary-color">Cuộc thi laravel</p>
            <p>Số đội tham gia : <span>28</span></p>
            <div class="text-Secondary d-flex justify-content-evenly font-size-sml fs-text-contest fs-6">
                <p class="time">
                    Thời gian :
                </p>
                <div class="text-center">
                    <span class="fw-bold text-primary">{{days}}</span>
                    <br>
                </div>
                <span class="fw-bold text-primary">:</span>
                <div class="text-center">
                    <span class="fw-bold text-primary">{{hours}}</span>
                    <br>
                </div>
                <span class="fw-bold text-primary">:</span>
                <div class="text-center">
                    <span class="fw-bold text-primary">{{minutes}}</span>
                    <br>
                </div>
                <span class="fw-bold text-primary">:</span>
                <div class="text-center">
                    <span class="fw-bold text-primary">{{seconds}}</span>
                    <br>
                </div>
            </div>
            <a href="" class="btn btn-register w-100">Đăng ký</a>
        </div>
    </div>
</div>