<div class="p-2">
    <div class="border-bottom">
        <h3 class=" fs-5 primary-color">Các đội của bạn</h3>
        <p style="margin-top: -12px;" class="color-gray">Danh sách đội thi mà bạn được tham gia</p>
    </div>
    <div class="team-user-join-body ">
        <div class="row">
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
            <div class="team-user-join-item col-3 text-center">
                <img class=" team-user-join-item-img"
                    src="https://ephoto360.com/uploads/effect-data/ephoto360.com/i66ln8t31/sabertoohmin5f460748b8791.jpg"
                    alt="">
                <h3 class="team-user-join-name">Team Ngọc Uy</h3>
                <a class="btn-register btn-view-detail text-center mb-3 d-block w-100 rounded">Xem chi tiết</a>
            </div>
        </div>
    </div>