.team-user-join-body {
  max-height: 500px;
  overflow-y: auto;
}

.team-user-join-body::-webkit-scrollbar {
  display: none;
}

.team-user-join-body {
  margin: 0px 0px 20px 50px;
}

.team-user-join-item {
  box-shadow: 0 0 4px var(--gray);
  margin-top: 20px;
  border-radius: 5px;
  margin-right: 60px;
}

.team-user-join-item-img {
  width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 50px;
  display: block;
  margin: 20px auto 10px auto;
}

.btn-view-detail {
  width: 100%;
  padding: 5px 0px;
  cursor: pointer;

}
