<div class="container-recruitment-detail">
    <div class="recruitment-header-banner">
        <img src="./../../../assets/img/d777e81c8070422e1b61.jpg" alt="" class="recruitment-header-banner-img w-100">
        <div class="recruitment-banner-header-coating">

        </div>
        <img *ngIf="recruitmentDetail"  [src]="recruitmentDetail.image"
        class="recruitment-detail-img" alt="">
    </div>
    <div   class="container recruitment-detail-info-box">
        <p  *ngIf="recruitmentDetail" class="color-text">{{recruitmentDetail.start_time | formatDate}} - {{recruitmentDetail.end_time | formatDate}}</p>
        <div class="row" *ngIf="recruitmentDetail">
            <div class="col-9">
                <h1 class="color-blue fw-bold mb-2">Đợt tuyển dụng mới nhất abc xyz mới nhất Backend Developer</h1>
                <ul class="recruitment-list-skill d-flex ">
                    <li class="recruitment-item-skill">PHP</li>
                    <li class="recruitment-item-skill">HTML</li>
                </ul>
                <div class="" [innerHTML]="recruitmentDetail.description"></div>
            </div>
            <div class="col-3" *ngIf="recruitmentDetail">
                <app-capacity-related-item  *ngFor="let capacity of recruitmentCapacity" [capacityItem]="capacity"></app-capacity-related-item>
            </div>
        </div>
    </div>
</div>