<div class="container-recruitment-detail">
    <div class="recruitment-header-banner">
        <img src="./../../../assets/img/d777e81c8070422e1b61.jpg" alt="" class="recruitment-header-banner-img w-100">
        <div class="recruitment-banner-header-coating">
        </div>
        <img *ngIf="recruitmentDetail"  [src]="recruitmentDetail.image"
        class="recruitment-detail-img" alt="">
    </div>
    <div class="container mt-2">
        <marquee width="100%" class="recruitment-detail-marquee_info" direction="left" height="30px">
            Phần tiếp theo của bài giới thiệu công ty, bạn cần nêu rõ tầm nhìn, sứ mệnh doanh nghiệp. Đây là phần rất quan trọng trong bài giới thiệu doanh nghiệp. Trước khi viết bạn phải nắm rõ khái niệm thế nào là tầm nhìn, sứ mệnh
            </marquee>
    </div>
    <div   class="container recruitment-detail-info-box">
        <div class="row" *ngIf="recruitmentDetail">
            <div class="col-9 ">
                <div class=" recruitment-detail-info-left">
                    <h1 class="color-blue fw-bold ">Đợt tuyển dụng mới nhất abc xyz mới nhất Backend Developer</h1>
                    <p  *ngIf="recruitmentDetail" class="color-text mb-2">{{recruitmentDetail.start_time | formatDate}} - {{recruitmentDetail.end_time | formatDate}}</p>
                <ul class="recruitment-list-skill d-flex ">
                    <li *ngFor="let skill of recruitmentDetail.skill" class="recruitment-item-skill">
                        {{skill.short_name}}</li>
                </ul>
                <h4 class="fw-bold color-blue">Số người tham gia: {{recruitmentDetail.user.length}}</h4>
                <div *ngIf="recruitmentDetail.enterprise.length > 0"
                    class="d-flex  justify-content-start align-items-center">
                    <p class="fw-bold color-blue">Doanh nghiệp :</p>
                    <ul class="list-company-support mt-2 d-flex align-items-center">
                        <li *ngFor="let enterpriseItem  of recruitmentDetail.enterprise"><img
                                [src]="enterpriseItem.logo" alt=""
                                [ngbTooltip]="enterpriseItem.name"></li>
                    </ul>
                </div>
                <div class="" [innerHTML]="recruitmentDetail.description"></div>
                </div>
                
            </div>
            <div class="col-3">
                <p class="color-text mb-2">Danh sách bài test ({{recruitmentDetail.contest.length}})</p>
                <div *ngIf="recruitmentDetail">
                    <app-capacity-related-item class="mb-2" *ngFor="let capacity of recruitmentCapacity" [capacityItem]="capacity"></app-capacity-related-item>
                </div>
            </div>
        </div>
        <div  *ngIf="listPostResult"  class="list-post-box mt-3" >
            <h3 class="fw-bold title text-uppercase mb-2 text-left color-blue">Tìm hiểu doanh nghiệp</h3>
            <div class="title-line">
            </div>
            <app-list-post [listPost]="listPostResult"></app-list-post>
        </div>
    </div>
</div>