.test-capacity_wrapper {
  margin: 32px 0;
}
.banner {
  margin-bottom: 16px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--my-rounded-2);
}

.test-capacity_list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  margin-top: 32px;
}

/* // FILTER */
.recruitment-filter-box{
    background-color: var(--gray-200);
  }
  
  .filter-skill-item{
    padding: 10px 20px;
    font-size: 0.9rem;
    background-color: var(--gray-200);
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-skill-box .active{
    background-color: var(--primary);
    color: var(--white);
  }
  
  .btn-search-capacity{
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    padding-top: 3px;
  }
  
  .btn-search-capacity:hover{
    opacity: 0.8;
  }

  .image-title{
    width: 30px;
    margin-right: 15px;
    display: inline-block;
  }
  
  .recruitment-content {
    background-color: #F8F8F8;
  }
  
  .recruitment-list-hot-box {
    border-radius: 10px;
  }
  
  .recruitment-list-hot-item-box:first-child {
    margin-top: 0px;
  }
  
  .recruitment-list-hot-item-box {
    border: 1px solid #E8EAEE;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  
  .recruitment-list-hot-item-box:hover .recruitment-list-hot-item-name {
    color: var(--primary);
    transition: all ease-in-out 0.3s;
  }
  
  .recruitment-list-hot-item-box:hover {
    border: 1px solid var(--primary);
    transition: all ease-in-out 0.3s;
  }
  
  .recruitment-image-box{
    position: relative;
  }
  
  .recruitment-outs-commom{
    position: absolute;
    top: 0;
    right: 10px;
    color: var(--white);
    width: 40px;
    height: 36px;
    line-height: 36px;
  }
  
  .recruitment-isHot::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: -7px;
    border-width: 0px 20px 7px;
    border-style: solid;
    border-color: transparent rgba(255, 0, 0, 0.781) transparent rgba(255, 0, 0, 0.781);
  }
  
  .recruitment-isNew::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: -7px;
    border-width: 0px 20px 7px;
    border-style: solid;
    border-color: transparent rgba(0, 128, 0, 0.726) transparent rgba(0, 128, 0, 0.726);
  }
  
  .recruitment-isHot{
    background-color: rgba(255, 0, 0, 0.781) ;
  }
  .recruitment-isNew{
    background-color: rgba(0, 128, 0, 0.726);
  }
  
  .recruitment-left{
    position: sticky;
    top: 100px;
  }
  
  .recruitment-list-hot-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
  
  .recruitment-list-hot-item-box-img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }
  
  .count-exam-test-sm {
    display: none;
  }
  

.filter-skill-item {
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: var(--gray-200);
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-skill-box .active {
  background-color: var(--primary);
  color: var(--white);
}

.count-exam-test-sm {
  display: none;
}


.test-capacity__keyword {
  display: inline-block;
  margin: 20px 0px 0px 0px;
}


 
  .capacity-text-majors{
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 309px; 
    overflow: hidden;
  }
.test-capacity__keyword-item {
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  padding: 0px 10px;
  display: inline-block;
}

.test-capacity__keyword-title {
  display: inline-block;
  margin-left: 4px;
}

.test-capacity__keyword-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.test-capacity__keyword-icon {
  font-size: 20px;
  font-weight: bold;
  color: #FF0000
}


.no-results {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0px
}

.btn-wrapper{
  display: flex;
  gap: 4px;
}

.btn-wrapper button{
  width: 131px;
}