<div class="test-capacity_wrapper">
  <div class="container">
    <div class="">
      <div class="">
        <img class="banner"
          src="https://static.vecteezy.com/system/resources/previews/001/871/599/original/be-the-best-and-champion-trophy-for-number-one-prize-for-winner-illustration-concept-can-be-use-for-landing-page-template-ui-ux-web-mobile-app-poster-banner-website-free-vector.jpg"
          alt="" />
      </div>
    </div>
    <div class="">
      <!-- <div class="">
        <h2 class="test-capacity_title-head">Danh Sách Test Năng Lực</h2>
      </div> -->
      <div class="">
        <form class="my-box-filter my-box-filter-3" [formGroup]="formFilter" (submit)="filterCapacity()">
          <input type="text" class="my-input" (keyup)="setValueKeyword($event)" placeholder="Tìm kiếm..."
            formControlName="filterName" />
          <div ngbDropdown class="d-inline-block w-100">
            <input type="text" (keyup)="
                    filterSelect(majors, $any($event.target).value, 'major')
                  " formControlName="filterMajor" class="my-input" placeholder="Chuyên ngành" id="dropdownBasic1"
              ngbDropdownToggle />
            <div ngbDropdownMenu class="w-100" aria-labelledby="dropdownBasic1">
              <div *ngIf="!majors" class="d-flex justify-content-center">
                <app-loading-item class="py-2"></app-loading-item>
              </div>
              <a *ngFor="let item of majors" (click)="setValueFilterMajor(item)" class="capacity-text-majors"
                ngbDropdownItem>{{ item.name }}</a>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block w-100">
            <input type="text" (keyup)="
                    filterSelect(skills, $any($event.target).value, 'skill')
                  " formControlName="filterSkill" class="my-input w-100" placeholder="Kĩ năng" id="dropdownBasic1"
              ngbDropdownToggle />
            <div ngbDropdownMenu class="w-100" aria-labelledby="dropdownBasic1">
              <div *ngIf="!skills" class="d-flex justify-content-center">
                <app-loading-item class="py-2"></app-loading-item>
              </div>
              <a *ngFor="let item of skills" (click)="setValueSkill(item)" class="capacity-text-majors" ngbDropdownItem>{{
                item.name }}</a>
            </div>
          </div>
          <div class="btn-wrapper">
            <button type="button" class="my-btn-secondary my-btn-s" (click)="resetFilterCapacity()">
              Làm mới
            </button>
            <button [disabled]="!statusSubmit" class="my-btn-primary my-btn-s">
              Tìm kiếm
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
        <ul class="d-flex flex-wrap filter-skill-box">
          <li class="test-capacity__keyword my-h5">Đề xuất cho bạn:</li>
          <li *ngFor="let item of keywordTrending" (click)="setValueKeywordTrending(item.keyword)"
            class="test-capacity__keyword-item">
            <i class="fa-solid fa-fire test-capacity__keyword-icon"></i>
            <span class="test-capacity__keyword-title">{{ item.keyword }}</span>
          </li>
        </ul>
        <div class="no-results" *ngIf="statusNotResultReturn">
          Không tìm thấy kết quả nào
        </div>
      </div>
      <div class="">
        <!-- skeleton -->
        <ul class="capacity__related-list row" *ngIf="!statusCapacity">
          <div class="col col-lg-3 col-md-4 col-sm-12 col-12" *ngFor="let _ of [].constructor(6)">
            <div>
              <ngx-skeleton-loader [theme]="{ height: '150px' }"></ngx-skeleton-loader>

              <ngx-skeleton-loader [theme]="{ margin: '0 0 4px' }"></ngx-skeleton-loader>

              <ngx-skeleton-loader [theme]="{ margin: '0 0 4px', width: '50%', display: 'block' }">
              </ngx-skeleton-loader>
              <ngx-skeleton-loader [theme]="{ margin: '0 0 4px', width: '70%', display: 'block' }">
              </ngx-skeleton-loader>

              <ngx-skeleton-loader [theme]="{ height: '40px', margin: '6px 0 0' }"></ngx-skeleton-loader>
            </div>
          </div>
        </ul>
        <!-- skeleton -->
      </div>
      <div class="test-capacity_list">
        <app-capacity-related-item *ngFor="let capacity of listCapacity" [capacityItem]="capacity">
        </app-capacity-related-item>
      </div>
    </div>
  </div>
</div>