<div class="test-capacity_wrapper">
    <div class="container py-4">
        <div class="">
            <div class="pb-4">
                <a routerLink="" class="router--home">Trang chủ</a> <span class="router--index"> / Test năng lực</span>
            </div>
            <div class="">
                <img class="banner"
                    src="https://images.unsplash.com/photo-1649859398731-d3c4ebca53fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                    alt="">
            </div>
        </div>
        <div class="">
            <div class="">
                <h2 class="test-capacity_title-head ">Danh Sách Test Năng Lực</h2>
            </div>
            <div class="">
                <div class="container py-4">
                    <form class="recruitment-filter-box py-3 rounded row" [formGroup]="formFilter" (submit)="filterCapacity()">
                        <div class="col-4">
                            <input type="text" class="form-control" (keyup)="setValueKeyword($event)" placeholder="Tìm kiếm ..."
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-3">
                            <div ngbDropdown class="d-inline-block w-100">
                                <input type="text" (keyup)="filterSelect(majors ,$any($event.target).value ,'major')"
                                    formControlName="filterMajor" class="form-control w-100" placeholder="Chuyên ngành"
                                    id="dropdownBasic1" ngbDropdownToggle>
                                <div ngbDropdownMenu class="w-100" aria-labelledby="dropdownBasic1">
                                    <div *ngIf="!majors" class="d-flex justify-content-center">
                                        <app-loading-item class="py-2"></app-loading-item>
                                    </div>
                                    <a *ngFor="let item of majors" (click)="setValueFilterMajor(item)" class="text-collapse"
                                        ngbDropdownItem>{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div ngbDropdown class="d-inline-block w-100">
                                <input type="text" formControlName="filterStatus" class="form-control" placeholder="Trạng thái"
                                    id="dropdownBasic1" ngbDropdownToggle>
                                <div class="w-100" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <a ngbDropdownItem *ngFor="let item of statusFilter"
                                        (click)="setValueStatus(item.name)">{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn-search-recruitment w-100 h-100">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="test-capacity_list-item ">
                <div class="test-capacity__item" *ngFor="let capacity of listCapacity">
                    <app-capacity-related-item [capacityItem]="capacity"></app-capacity-related-item>
                </div>
            </div>
        </div>
    </div>
</div>