.banner {
  margin-top: 32px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--my-rounded-2);
}

.test-capacity__item {
  background-color: #F8F8F8;
  border-radius: 0.75rem
}

.test-capacity_title-head {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.test-capacity_item {
  margin-left: 0.5rem;
  margin-top: 1rem;
  grid-column: span 3 / span 3;
}

.test-capacity_list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.75rem
}

/* // FILTER */
.recruitment-filter-box {
  background-color: var(--gray-200);
}

.filter-skill-item {
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: var(--gray-200);
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-skill-box .active {
  background-color: var(--primary);
  color: var(--white);
}

.count-exam-test-sm {
  display: none;
}


.test-capacity__keyword {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  ;
  margin: 20px 0px 0px 0px
}


.test-capacity__keyword-item {
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  padding: 0px 10px;
  display: inline-block;
}

.test-capacity__keyword-title {
  display: inline-block;
  margin-left: 10px;
}

.test-capacity__keyword-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.test-capacity__keyword-icon {
  font-size: 20px;
  font-weight: bold;
  color: #FF0000
}


.no-results {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0px
}