/* COMMOM */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@1&family=Open+Sans:ital,wght@1,300;1,400&display=swap');

.font-size-sml {
  font-size: 15px;
  color: var(--text-color);
}

/* Chuyện chuyên ngành  */
nz-select {
  width: 250px;
}

.color-yellow {
  color: var(--color-yellow)
}

.font-size-ml {
  font-size: 19px;
  color: var(--text-color);
}


.title {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.title-line {
  /* margin: px 0px; */
  margin-bottom: 20px;
  width: 100px;
  margin-top: -3px;
  height: 3px;
  margin: 0 auto;
  background-color: var(--primary-color-sub);
}


/* -------- */

.contest-list {
  margin-left: 22px;
}

.slick-list-contest {
  position: relative;
}

.contest-list .arrow-list-contest {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 12px;
  color: var(--primary-color);
  border-radius: 50px;
  background-color: #f4f2f2;
  transition: 0.3s;
}

.contest-list .arrow-list-contest:hover {
  color: var(--white);
  background-color: var(--primary-color);
  transition: all ease-in-out 0.3s;
}

.prev-arrow {
  transform: translateY(130px);
  left: 4%;
}

.next-arrow {
  transform: translateY(-195px);
  right: 4%;
}

/* Rating */
.subject-item {
  font-size: 13px;
}

.contest-img img {
  object-fit: cover;
  height: 200px;
}

/* STATISTICAL */
.section_plan {
  height: 320px;
  background-color: #091529;
}

.section_plan-title {
  padding-top: 30px;
  color: #ffff;
}


.section_plan-bag-text {
  font-size: 20px;
}

.section_plan-item {
  background-color: #1c2b3a;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0px;
  font-size: 40px;
  box-shadow: 0 15px 30px rgba(2, 2, 2, 0.15);
  margin-right: 40px;
}

.section_plan-bag-number {
  font-size: 2rem;
}


/* LIST STUDENT */

.contest-item {
  margin-right: 20px;
}

/* LIST STUDENT POINT HIGHT */
.list-student-point-box {
  background: linear-gradient(to bottom, #081327, #122035);
  min-height: 500px;
}

.list-student-top-rank-box {
  max-height: 400px;
}

/*  */
.student-point-select-major {
  margin: 0 auto;
  position: relative;
  width: 25%;
}

.student-point-select-major:hover .student-point-dropdown {
  display: block;
  opacity: 1;
  transition: all ease-in-out 0.3s;

}


/* .student-point-select-major::before {
  content: '';
  width: 100%;
  height: 5px;
  background-color: red;
  top: 10;
} */

.student-point-select-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  background: linear-gradient(45deg, #EE5A24, #F79F1F);
  border-radius: 5px;
  color: #f5f6fa;
  cursor: pointer;
}

.student-point-dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all ease-in-out 0.3s;
  max-height: 200px;
  overflow-y: auto;
}

.student-point-dropdown::-webkit-scrollbar {
  width: 2px;
  color: #ffff;
}


.assess-compacity-name {
  padding-left: 40px;
  font-size: 20px;
}

.student-point-dropdown-item {
  padding: 7px 15px;
  color: #e8ebeb;
  background: linear-gradient(45deg, #EE5A24, #F79F1F);
}

.student-point-dropdown-item:hover {
  background-color: #f7b990;
  cursor: pointer;
}

/*  */
.list-student-point-hight {
  min-height: 350px;
}

.student-point-avatar {
  max-width: 120px;
  min-height: 120px;
  margin: 0px auto;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary-color);
}

.student-point-item {
  background-color: var(--white);
  margin-right: 10px;
  border-radius: 20px;
  z-index: -1;
  box-shadow: 0px 0px 6px var(--gray);
}

.student-top-one {
  transform: translateY(-30px);
}

.student-point-item-in {
  padding: 20px 0px;
}

.student-name {
  margin: 10px 0px;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  font-size: 19px;
}

.student-rank {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #EE5A24, #F79F1F);
  ;
  border-radius: 50px;
  color: var(--white);
  margin: 0 auto;
  line-height: 40px;
  /* margin: 10px 0px; */
  margin-top: 10px;
}

.student-ponit-number i {
  color: var(--color-yellow);
}

.student-ponit-number span {
  font-weight: bold;
  color: var(--title-blue);
}

.slick-slide-student .slick-slide {
  transform: scale(0.8);
  transition: all linear 0.3s;
  opacity: 0.3;
}

.slick-slide-student .slick-slide.slick-current {
  transform: scale(1);
  transition: all linear 0.3s;
  opacity: 1;
}


.prev-student-arrow {
  transform: translateY(290px);
  left: 5%;
}

.next-student-arrow {
  transform: translateY(-300px);
  right: 5%;
}

.list-student-point-box .arrow-list-student {
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  color: #925648;
  border-radius: 50px;
  transition: 0.3s;
}

.list-student-point-box .arrow-list-student:hover {
  color: var(--white);
}

.title-student-point {
  font-size: 22px;
}

.btn-review-more {
  color: var(--white);
  padding: 7px 0;
  text-decoration: none;
  background: linear-gradient(45deg, #EE5A24, #F79F1F);
  width: 15%;
  border-radius: 6px;
  transition: all ease-in-out 0.4s;
}

.btn-review-more:hover {
  box-shadow: 0px 0px 10px #F79F1F;
  transition: all ease-in-out 0.4s;
}

.skill-contest-item {
  padding: 5px 7px;
  background-color: var(--primary-color);
  color: #ffff;
  margin-right: 10px;
  border-radius: 5px;
}

/* DOANH NGHIỆP */


.assess-content-box {
  width: 100%;
  min-height: 500px;
  box-shadow: 0px 0px 10px var(--gray);
  border-radius: 20px;
  z-index: -1;
}

.arrow-list-compacity {
  position: absolute;
  font-size: 27px;
  cursor: pointer;
  color: #1e272e;
  border-radius: 50px;
  transition: 0.3s;
  background-color: var(--white);
  padding: 10px 15px;
  box-shadow: 0px 0px 10px var(--gray);
}

.prev-compacity-arrow {
  transform: translateY(232px);
  left: 0%;
  z-index: 10;
}

.next-compacity-arrow {
  transform: translateY(-270px);
  right: 0%;
}

.assess-compacity-logo {
  width: 300px;
  max-height: 250px;
  object-fit: cover;
}

.assess-content-left {
  padding-left: 70px;
}

.assess-compacity-content {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Times', serif;
  color: #222f3e;
  font-style: italic;
}

.assess-compacity-content::before {
  content: '\201c';
  top: 10px;
  margin-right: 5px;
  left: -40px;
}

.assess-compacity-content::after {
  content: '\201d';
  bottom: -30px;
  margin-left: 5px;
}



.assess-compacity-content::before,
.assess-compacity-content::after {
  font-size: 2rem;
}

.assess-compacity-name {
  font-family: 'Gelasio', serif;
  font-weight: bold;

}


/* Loadinggae */

.loading-student-rank-box {
  height: 400px;
}

.loading-student-rank {
  display: flex;
  width: 4em;
  height: 4em;
  border: 3px solid transparent;
  border-top-color: var(--primary-color-sub);
  border-bottom-color: var(--primary-color-sub);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.loading-student-rank:before {
  content: '';
  display: block;
  margin: auto;
  width: 0.75em;
  height: 0.75em;
  border: 3px solid var(--primary-color-sub);
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

/*  RESPONSIVE */
@media (max-width:568px) {
  .assess-enterprise-wrapper {
    height: 700px;
  }
}


@media (max-width:987px) {}
