<app-banner></app-banner>
<div class="section section-bg--1">
    <div class="container">
        <h2 class="section__title my-h3">
            <i class="section__title-icon fa-solid fa-clock-rotate-left"></i>
            Vị trí tuyển dụng gấp
        </h2>
        <div class="section-content">
            <div class="recruitment-position-list">
                <div class="recruitment-position-item">
                    <button class="my-btn-primary my-btn-l">
                        Abcasdsadasd
                    </button>
                    <button class="my-btn-secondary my-btn-m">
                        Abcasdasdasd
                    </button>
                    <button class="my-btn btn-success my-btn-s">
                        Abcasdasdsad
                    </button>
                    Hello Abcd nhé!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title my-h3">
            <i class="section__title-icon fa-solid fa-ranking-star"></i>
            Các cuộc thi
        </h2>
        <div class="section-content">
            <div class="contest-list">
                <div class="contest-item">
                    <div class="contest-item__img-section">
                        <a routerLink="">
                            <img class="contest-item__img"
                                src="https://img.freepik.com/free-vector/flat-song-contest-horizontal-banner-template_23-2149346399.jpg?w=2000"
                                alt="">
                        </a>
                        <button class="my-btn my-add-favorite__btn added">
                            <i class="my-add-favorite__icon fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="contest-item-content">
                        <div class="contest-item-content-row">
                            <h3 class="contest-item__title">
                                <a class="contest-item__title-link" routerLink="" data-toggle="tooltip"
                                    data-placement="top" title="Title nhéeeeeeeeeeeeeeeee">
                                    Tuyển dụng thực tập sinh phần mềm abc cho nhá ok luôn được không em
                                </a>
                            </h3>
                            <ul class="my-countdown">
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Ngày</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giờ</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Phút</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giây</span>
                                </li>
                            </ul>
                        </div>
                        <div class="contest-item-content-row">
                            <div class="contest-item__info">
                                <div class="contest-item__info-item">
                                    <i class="fa-regular fa-user"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    đội thi
                                </div>
                                <div class="contest-item__info-item">
                                    <i class="fa-solid fa-list-ul"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    vòng thi
                                </div>
                            </div>
                            <a routerLink="">
                                <button class="my-btn-primary my-btn-xs">
                                    Đăng ký ngay
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contest-item">
                    <div class="contest-item__img-section">
                        <a routerLink="">
                            <img class="contest-item__img"
                                src="https://img.freepik.com/free-vector/flat-song-contest-horizontal-banner-template_23-2149346399.jpg?w=2000"
                                alt="">
                        </a>
                        <button class="my-btn my-add-favorite__btn added">
                            <i class="my-add-favorite__icon fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="contest-item-content">
                        <div class="contest-item-content-row">
                            <h3 class="contest-item__title">
                                <a class="contest-item__title-link" routerLink="" data-toggle="tooltip"
                                    data-placement="top" title="Title nhéeeeeeeeeeeeeeeee">
                                    Tuyển dụng thực tập sinh phần mềm abc cho nhá ok luôn được không em
                                </a>
                            </h3>
                            <ul class="my-countdown">
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Ngày</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giờ</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Phút</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giây</span>
                                </li>
                            </ul>
                        </div>
                        <div class="contest-item-content-row">
                            <div class="contest-item__info">
                                <div class="contest-item__info-item">
                                    <i class="fa-regular fa-user"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    đội thi
                                </div>
                                <div class="contest-item__info-item">
                                    <i class="fa-solid fa-list-ul"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    vòng thi
                                </div>
                            </div>
                            <a routerLink="">
                                <button class="my-btn-primary my-btn-xs">
                                    Đăng ký ngay
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contest-item">
                    <div class="contest-item__img-section">
                        <a routerLink="">
                            <img class="contest-item__img"
                                src="https://img.freepik.com/free-vector/flat-song-contest-horizontal-banner-template_23-2149346399.jpg?w=2000"
                                alt="">
                        </a>
                        <button class="my-btn my-add-favorite__btn added">
                            <i class="my-add-favorite__icon fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="contest-item-content">
                        <div class="contest-item-content-row">
                            <h3 class="contest-item__title">
                                <a class="contest-item__title-link" routerLink="" data-toggle="tooltip"
                                    data-placement="top" title="Title nhéeeeeeeeeeeeeeeee">
                                    Tuyển dụng thực tập sinh phần mềm abc cho nhá ok luôn được không em
                                </a>
                            </h3>
                            <ul class="my-countdown">
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Ngày</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giờ</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Phút</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giây</span>
                                </li>
                            </ul>
                        </div>
                        <div class="contest-item-content-row">
                            <div class="contest-item__info">
                                <div class="contest-item__info-item">
                                    <i class="fa-regular fa-user"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    đội thi
                                </div>
                                <div class="contest-item__info-item">
                                    <i class="fa-solid fa-list-ul"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    vòng thi
                                </div>
                            </div>
                            <a routerLink="">
                                <button class="my-btn-primary my-btn-xs">
                                    Đăng ký ngay
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contest-item">
                    <div class="contest-item__img-section">
                        <a routerLink="">
                            <img class="contest-item__img"
                                src="https://img.freepik.com/free-vector/flat-song-contest-horizontal-banner-template_23-2149346399.jpg?w=2000"
                                alt="">
                        </a>
                        <button class="my-btn my-add-favorite__btn added">
                            <i class="my-add-favorite__icon fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="contest-item-content">
                        <div class="contest-item-content-row">
                            <h3 class="contest-item__title">
                                <a class="contest-item__title-link" routerLink="" data-toggle="tooltip"
                                    data-placement="top" title="Title nhéeeeeeeeeeeeeeeee">
                                    Tuyển dụng thực tập sinh phần mềm abc cho nhá ok luôn được không em
                                </a>
                            </h3>
                            <ul class="my-countdown">
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Ngày</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giờ</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Phút</span>
                                </li>
                                <li class="my-countdown-item text-center">
                                    <div class="my-countdown-item-box h4"> 10</div>
                                    <span class="my-countdown-item-text">Giây</span>
                                </li>
                            </ul>
                        </div>
                        <div class="contest-item-content-row">
                            <div class="contest-item__info">
                                <div class="contest-item__info-item">
                                    <i class="fa-regular fa-user"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    đội thi
                                </div>
                                <div class="contest-item__info-item">
                                    <i class="fa-solid fa-list-ul"></i>&ensp;
                                    <span class="info-item__number">
                                        10
                                    </span>
                                    vòng thi
                                </div>
                            </div>
                            <a routerLink="">
                                <button class="my-btn-primary my-btn-xs">
                                    Đăng ký ngay
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contest-view">
                <a class="contest-view-link" routerLink="">
                    <button class="my-btn-secondary my-btn-m">Xem tất cả <i class="fa-solid fa-arrow-right"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title section__title--center my-h3">Sinh viên có thành thích xuất sắc tháng 10</h2>
        <div class="section-content">
        </div>
    </div>
</div> -->
<div class="section section-bg--3">
    <div class="container">
        <h2 class="section__title my-h3">Tính năng vượt trội khác</h2>
        <div class="section-content">
        </div>
    </div>
</div>
<div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title section__title--center my-h3">Tin tức - sự kiện</h2>
        <div class="section-content">
            <div class="post-event-list grid gy-1" *ngIf="!listPostEvent">
                <ngx-skeleton-loader [theme]="{ 'height.px' : 450, 'margin-bottom' : '7px' , 'border-radius': '10px' }"
                    appearance="line">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ 'height.px' : 450, 'margin-bottom' : '7px' , 'border-radius': '10px' }"
                    appearance="line">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader [theme]="{ 'height.px' : 450, 'margin-bottom' : '7px' , 'border-radius': '10px' }"
                    appearance="line">
                </ngx-skeleton-loader>
            </div>
            <div class="post-event-list">
                <div class="post-item " *ngFor="let item of listPostEvent">
                    <app-post-related-item [postItem]="item"></app-post-related-item>
                </div>
            </div>
            <div class="post-event-list grid gy-1">

            </div>
        </div>
    </div>
</div>
<div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title section__title--center my-h3">Kết nối với các doanh nghiệp lớn</h2>
        <div class="section-content">

        </div>
    </div>
</div>