h3{
  margin-bottom:0 ;
}
/* LIST CONTEST */
.contest-list {
  margin-left: 22px;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.contest-item {
  margin: 0px 10px; 
}

.contest-list .arrow-list-contest {
  cursor: pointer;
  padding: 8px 12px;
  color: var(--primary);
  border-radius: 50px;
  background-color: #f4f2f2;
  transition: 0.3s;
}

.contest-list .arrow-list-contest:hover {
  color: var(--white);
  background-color: var(--primary);
  transition: all ease-in-out 0.3s;
}


/* STATISTICAL */
.section_plan {
  background-color: #081327;
}

.section_plan-title {
  padding-top: 30px;
  color: #ffff;
}


.section_plan-bag-text {
  font-size: 20px;
}

.section_plan-item {
  background-color: #1c2b3a;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0px;
  font-size: 40px;
  box-shadow: 0 15px 30px rgba(2, 2, 2, 0.15);
  margin-right: 40px;
}

.section_plan-bag-number {
  font-size: 2rem;
}

/* LIST STUDENT POINT HIGHT */
.list-student-point-box {
  background: linear-gradient(to bottom, #081327, #122035);
  min-height: 600px;
}

.list-student-point-hight{
  min-height: 350px;
}

.alert-message{
  margin-top: 15%;
}

.loading-student-rank {
  display: flex;
  width: 4em;
  height: 4em;
  border: 3px solid transparent;
  border-top-color: var(--primary);
  border-bottom-color: var(--primary);
  border-radius: 50%;
  margin-top: 14%;
  animation: spin 1.5s linear infinite;
}

.loading-student-rank:before {
  content: '';
  display: block;
  margin: auto;
  width: 0.75em;
  height: 0.75em;
  border: 3px solid var(--primary);
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}


.select-box{
  width: 300px;
  position: relative;
}

.select-major {
  padding: 7px 10px;
  height: 40px;
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

.select-box::before{
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  border-top: 7px solid #444;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.slider-control {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: var(--primary);
}

.slider-control:hover i {
  opacity: 1;
}

.slider-control .rank{
  font-size: 2rem;
  opacity: 0.5;
}

.list-student-top-rank-box {
  max-height: 400px;
}

.select-major:focus {
  outline: none;
}

.student-point-avatar {
  width: 120px;
  height: 120px;
  margin: 0px auto;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary);
}

.student-point-item {
  background-color: var(--white);
  margin-right: 20px;
  border-radius: 20px;
  z-index: -1;
  box-shadow: 0px 0px 6px var(--gray);
  cursor: pointer;
}

.student-top-one {
  transform: translateY(-30px);
}

.student-point-item-in {
  padding: 30px 0px;
}

.student-name {
  margin: 10px 0px;
  font-size: 20px;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  font-size: 19px;
  color: var(--title-blue)
}

.student-rank {
  width: 40px;
  height: 40px;
  background: var(--primary);
  ;
  border-radius: 50px;
  color: var(--white);
  margin: 0 auto;
  line-height: 40px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.student-ponit-number i {
  color: var(--yellow-400);
}

.student-ponit-number span {
  font-weight: bold;
  color: var(--title-blue);
}

.slick-slide-student-more,
.slick-slide-student-three,
.slick-slide-student-first,
.slick-slide-student-two {
  margin-left: -50px;
}


/* MODE MORE  STUDENT */
.slick-slide-student-more .slick-slide {
  transform: scale(0.8);
  transition: all linear 0.3s;
  opacity: 0.3;
}

.slick-slide-student-more .slick-slide.slick-current {
  transform: scale(1);
  transition: all linear 0.3s;
  opacity: 1;
}

/* MODE ONE STUDENT */
.slick-slide-student-first {
  transform: translateX(-380px);
}

.slick-slide-student-first .slick-slide.slick-current {
  transform: scale(1);
  transition: all linear 0.3s;
  opacity: 1;
}

/* MODE TWO STUDENT */
.slick-slide-student-two {
  transform: translateX(-200px);
}

.slick-slide-student-two .slick-slide.slick-current {
  transform: scale(1);
  transition: all linear 0.3s;
  opacity: 1;
}


/* MODE THREE STUDENT */
.slick-slide-student-three .slick-slide {
  transform: scale(1);
  transition: all linear 0.3s;
  opacity: 1;
}

.list-student-point-box .arrow-list-student {
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  color: #925648;
  border-radius: 50px;
  transition: 0.3s;

}

.list-student-point-box .arrow-list-student:hover {
  color: var(--white);
}

.title-student-point {
  font-size: 22px;
  margin-bottom: 0px;
}

.btn-review-more {
  color: var(--white);
  padding: 7px 0;
  text-decoration: none;
  background: linear-gradient(45deg, #EE5A24, #F79F1F);
  width: 15%;
  border-radius: 6px;
  transition: all ease-in-out 0.4s;
  margin-top: 10px;
}

.btn-review-more:hover {
  box-shadow: 0px 0px 10px var(--yellow-500);
  transition: all ease-in-out 0.4s;
}


/* ASSESS OF CAPACITY  */
.avatar-company{
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position:top;
  cursor: pointer;
  opacity: 0.3;
}

.assess-content-wrapper{
  display: none;
}

.assess-company .active{
  display: block;
}

.assess-company-box .display{
  opacity: 1;
  border: 2px solid var(--primary);
}

.assess-content{
  border-left: 5px solid var(--primary);
  padding: 0px 60px 0px 15px;
  font-family: 'Noto Serif', serif;
  text-align: justify;
}

.assess-content::before{
  content: '\201C';
}

.assess-content::after{
  content: '\201D';
}

/* ----PARTNER COMPANY */

.company-item{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.next-parner , .prev-parner{
  font-size: 0.7rem;
  z-index: 10;
}

.slider-control .parner{
  font-size: 1.5rem;
  opacity: 0.5;
}


/*  RESPONSIVE */
@media (max-width:568px) {
  .assess-compacity-wraper {
    display: none;
  }

  .contest-loading-mobile {
    display: block;
  }

  .contest-loading-desktop,
  .contest-loading-tablet {
    display: none;
  }


  .prev-arrow {
    left: -50px;
  }

  .next-arrow {
    right: -35px;
  }

  /*Phần lịch sử cuộc thi */
  .section_plan-box {
    display: flex;
    flex-direction: column;
  }

  .section_plan-item {
    width: 200px;
    margin: 0px auto;
  }

  .section_plan {
    height: 600px;
  }

  .btn-review-more {
    width: 30%;
  }
}





  @media (max-width:987px) {

    .contest-loading-desktop,
    .contest-loading-mobile {
      display: none;
    }

    .contest-loading-tablet {
      display: block;
    }

    /* Phần lịch sử website */
    .section_plan-item .section_plan-bag-number,
    .section_plan-item .section_plan-bag-text {
      font-size: 20px;
      font-weight: bold;
    }

    .assess-compacity-wraper {
      display: none;
    }
  }