<app-banner></app-banner>
<div class="section section-bg--1">
    <div class="container">
        <h2 class="section__title my-h3">
            <i class="section__title-icon fa-solid fa-clock-rotate-left"></i>
            Vị trí tuyển dụng gấp
        </h2>
        <div class="section-content">
            <div class="recruitment-position-list">
                <div class="recruitment-position-item">
                    <button class="my-btn-primary my-btn-l">
                        Abcasdsadasd
                    </button>
                    <button class="my-btn-secondary my-btn-m">
                        Abcasdasdasd
                    </button>
                    <button class="my-btn btn-success my-btn-s">
                        Abcasdasdsad
                    </button>
                    Hello Abcd nhé!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title section__title--center my-h3">Kết nối với các doanh nghiệp lớn</h2>
        <div class="section-content">

        </div>
    </div>
</div>
<div class="section section-bg--1">
    <div class="container">
        <h2 class="section__title my-h3">
            <i class="section__title-icon fa-solid fa-ranking-star"></i>
            Các cuộc thi
        </h2>
        <div class="section-content">
            <div class="recruitment-position-list">
                <div class="recruitment-position-item">
                    <button class="my-btn-primary my-btn-l">
                        Abcasdsadasd
                    </button>
                    <button class="my-btn-secondary my-btn-m">
                        Abcasdasdasd
                    </button>
                    <button class="my-btn btn-success my-btn-s">
                        Abcasdasdsad
                    </button>
                    Hello Abcd nhé!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title my-h3">Sinh viên có thành thích xuất sắc tháng 10</h2>
        <div class="section-content">
        </div>
    </div>
</div>
<div class="section section-bg--3">
    <div class="container">
        <h2 class="section__title my-h3">Tính năng vượt trội khác</h2>
        <div class="section-content">
        </div>
    </div>
</div>
<div class="section section-bg--2">
    <div class="container">
        <h2 class="section__title my-h3">Tin tức - sự kiện</h2>
        <div class="section-content">
        </div>
    </div>
</div>