.section {
  padding: 64px 0;
}

.section:last-child{
  padding-top: -64px;
  padding-bottom: 64px;
}

.section-bg--1 {
  background: var(--my-bg-color);
}

.section-bg--2 {
  background: var(--my-bg-white);
}

.section-bg--3 {
  background: var(--my-primary-50);
}

.section__title {
  color: var(--my-secondary);
  margin-bottom: 32px;
}

.section__title--center {
  text-align: center;
}

.section__title-icon {
  color: var(--my-primary);
  background: -webkit-linear-gradient(rgb(232, 84, 84), rgb(255, 195, 195), #FF6638);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------------------------- recruitment-position ---------------------- */
.recruitment-position-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.post-link__item {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: var(--gray-300);
  margin: 0px 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.post-control-prev {
  margin-left: -30px;
}

.post-control-next i {
  margin-right: -50px;
}


.list-post-control {
  border: none;
  font-size: 2rem;
  color: var(--primary);
  opacity: 0.7;
}

.list-post-control:hover {
  opacity: 1;
}

.post-link__list .active {
  background-color: var(--primary);
}

.list-post-new-slick {
  position: relative;
}

/*------------- Contest ------------------------------------------------------ */
.contest-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.contest-item {
  background: var(--my-white);
  border-radius: var(--my-rounded);
  overflow: hidden;
  border: 1px solid var(--my-dark-gray);
}

.contest-view {
  text-align: center;
  margin-top: 32px;
}

.contest-view .contest-view-link {
  display: inline-block;
}

/* -------- img --------- */
.contest-item__img-section {
  position: relative;
}

.contest-item__img {
  object-fit: cover;
  width: 100%;
  height: 115px;
  border-radius: var(--my-rounded)
}

/* ------------------------- content --------- */
.contest-item-content {
  padding: 8px;
}

.contest-item-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contest-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contest-item__title-link {
  color: initial;
}


.contest-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--my-darkest-gray);
}

.contest-item__info-item+.contest-item__info-item {
  margin-left: 8px;
}

.contest-item__info-item i {
  color: var(--my-secondary);
}

.info-item__number {
  font-weight: bold;
  color: var(--my-secondary);
}

/* -------------- countdown ---------- */
.my-countdown {
  display: flex;
  /* flex-grow important */
  flex-grow: 4;
  justify-content: center;
  margin-bottom: 0;
  /* width: 100%; */
  width: fit-content
}

.my-countdown-item {
  color: var(--my-darkest-gray);
}

.my-countdown-item+.my-countdown-item {
  padding-left: 4px;
}

.my-countdown-item-box {
  background-color: transparent;
  color: var(--primary);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

.my-countdown-item-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}



.my-countdown {
  margin-top: 0;
}


/*------------- POST EVENT ---------- */
@media (min-width: 768px) {
  .post-event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}

@media (min-width: 1280px) {
  .post-event-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }
}

/* ------------------- connect recruitment ----------- */
.recruitment-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recruitment-item {
  width: 150px;
}

.recruitment-item__img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 60px;
  max-height: 100px;
  object-fit: cover;
}

/* ----------- outstanding advantages --------- */
.outstanding-advantages-section {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-gap: 24px;
}

.advantage-show-container {
  box-shadow: 0px 0px 7px var(--gray);
  border-radius: 16px;
  overflow: hidden;
}

.advantage-show-container .advantage-show__header {
  width: 100%;
  max-width: 100%;
  height: 32px;
  background: var(--my-primary);
  display: flex;
  justify-content: start;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1;
}


@keyframes fade {
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}


.advantage-show__dots-red{
  background-color: red;
}

.advantage-show__dots-yellow{
  background-color: yellow;
}

.advantage-show__dots-green{
  background-color: green;
}

.advantage-show__dots-item{
   width: 10px;
   height: 10px;
   border-radius: 50px;
   margin-right: 10px;
}

.advantage-show-container .advantage-show__dots{
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 20px;
}

.advantage-show-container .advantage-show__content {
  display: flex;
  flex-direction: column;
  height: 380px;
  background: var(--my-white);
  padding: 20px;
}

.advantage-show__content .advantage-show__img {
  display: inline-block;
  height: 100%;
  object-fit: cover;
  width: 100%;
  margin: auto;
  border-radius: var(--my-rounded-2);
}

.advantage-show-text {
  display: flex;
  align-items: center;
}

.advantage-list {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-gap: 24px;
}

.advantage__tag {
  display: block;
  padding: 16px;
  border-radius: var(--my-rounded-2);
  font-weight: var(--fw);
  font-size: var(--fs);
  line-height: var(--lh);
}

.advantage__tag--1.active {
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 8px 16px #FFC0C0;
  background-color: var(--my-white);
}

.advantage__tag--1 i {
  color: #FFC0C0;
}

.advantage__tag--2.active {
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 8px 16px #FFD9C0;
  background-color: var(--my-white);
}

.advantage__tag--2 i {
  color: #FFD9C0;
}

.advantage__tag--3.active {
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 8px 16px #FAF0D7;
  background-color: var(--my-white);

}

.advantage__tag--3 i {
  color: #FAF0D7;
}

.advantage__tag--4.active {
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 8px 16px #8CC0DE;
  background-color: var(--my-white);

}

.advantage__tag--4 i {
  color: #8CC0DE;
}



@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .banner-img-box {
    width: 100%;
    height: 300px;
  }

  .contest-list {
    grid-template-columns: 1fr;
  }

  .recruitment-position-list{
    grid-template-columns: 1fr;
  }

  .outstanding-advantages-section {
    grid-template-columns: 1fr;
  }

  .advantage__tag{
    width: 100%;
    padding: 20px;
  }

  .post-loading{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 740px){
  .banner-img-box {
    width: 100%;
    height: 200px;
  }

  

  .recruitment-position-list{
    grid-template-columns: 1fr;
  }

  .outstanding-advantages-section {
    grid-template-columns: 1fr;
  }

  .contest-list {
    grid-template-columns: 1fr;
  }

  .advantage__tag{
    width: 100%;
    padding: 20px;
  }

  .post-loading{
    margin-top: 100px;
  }
}



