<div class="page-post-box  py-3">
    <div class="container ">
        <div class="header-post-category">
            <ul class="post__nav-list">
                <li (click)="onChangeDataPost($event,'post-contest')" class="post__nav-item contest active">
                  <a class="post__nav-link">Cuộc Thi</a>
                </li>
                <li (click)="onChangeDataPost($event, 'post-capacity')" class="post__nav-item capacity ">
                  <a class="post__nav-link">Test Năng Lực</a>
                </li>
                <li (click)="onChangeDataPost($event, 'post-recruitment')" class="post__nav-item recruitment">
                  <a class="post__nav-link">Tuyển Dụng</a>
                </li>
              </ul>
        </div>
        <div class="post-main">
            <div class="post-main-content">
                <div class="post-main-content-section">
                    <div class="main-section" *ngIf="!ListPost">
                      <app-post-load-item></app-post-load-item>
                      <app-post-load-item></app-post-load-item>
                      <app-post-load-item></app-post-load-item>
                      <app-post-load-item></app-post-load-item>
                      <app-post-load-item></app-post-load-item>
                    </div>
                    <div class="main-section">
                        <div class="post-item" *ngFor="let post of ListPost">
                            <app-post-related-item [postItem]="post"></app-post-related-item>
                        </div>
                    </div>
                </div>
            </div>
           <app-aside-post></app-aside-post>
        </div>
    </div>
</div>