.contest-detail-header {
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 50px;
}

/* ---- */

.contest-detail-box {
  min-height: 1000px;
  padding-top: 60px;
}



/* Danh sánh các nhà tài trợ */
.img-company-box {
  height: 150px;
  width: 150px;
  display: block;
  margin: 0px auto;
  object-fit: cover;
}

.img-company-box img {
  object-fit: cover;
}

.name-company {
  font-size: 1rem;
  color: var(--midnight-blue);

}

/* Idea contest */
.idea-contest {
  border: rgb(168, 164, 164) solid 1px;
  height: 100px;
  border-radius: 5px;
}

.idea-contest:focus {
  outline: none;
}

.social-network {}

.social-network-item {
  margin-right: 20px;
}

.social-network-link {
  padding: 10px;
  border-radius: 50px;
  background-color: aqua;
}
