<div class="margin-header contest-detail-box container my-5">
    <div class="contest-detail-header">
        <div class=" contest-detail-left ">
            <div class="contest-detail-left-header">
                <div class="p-3" *ngIf="status == 'done'">
                    <p class="fw-bold fs-5 color-blue">Cuộc thi : {{contestDetail.name}}</p>
                    <p class="color-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">{{contestDetail.date_start |
                            formatDate}}</span></p>
                    <p class="color-gray fs-text fw-bold">Kết thúc : <span
                            class="fw-normal">{{contestDetail.register_deadline |
                            formatDate}}</span></p>
                    <p class="fw-bold color-gray p-justify fs-text">Nội dung : <span
                            class="fw-normal">{{contestDetail.description}}</span></p>
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="fw-bold fs-text color-gray">Tổng số đội :
                        </p>
                        &nbsp;
                        &nbsp;
                        <p class="" *ngIf="contestDetail.teams.length == 0">Chưa có team nào !</p>
                        <div class="" *ngIf="contestDetail.teams.length > 0">
                            <app-list-avatar-user [listTeam]="contestDetail.teams">
                            </app-list-avatar-user>
                        </div>
                    </div>
                </div>
                <div *ngIf="status == 'pending'" class="p-3">
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 'margin-bottom' : '10px' , 'width' : '50%' }"
                        appearance="line">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 10, 'margin-bottom' : '10px'}" appearance="line">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 10, 'margin-bottom' : '10px'  }" appearance="line">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 30, 'margin-bottom' : '10px'  }" appearance="line">
                    </ngx-skeleton-loader>
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <ngx-skeleton-loader [theme]="{ 'height.px' : 20, 'margin-bottom' : '10px' }"
                                appearance="line">
                            </ngx-skeleton-loader>
                        </div>
                        <div class="col-7">
                            <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }"
                                appearance="circle">
                            </ngx-skeleton-loader>
                            <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }"
                                appearance="circle">
                            </ngx-skeleton-loader>
                            <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }"
                                appearance="circle">
                            </ngx-skeleton-loader>
                            <ngx-skeleton-loader [theme]="{ 'height.px' : 40, 'margin-bottom' : '10px' }"
                                appearance="circle">
                            </ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
            </div>
            <app-round [contestDetail]="contestDetail" [status]="status">
            </app-round>
            <!-- <div class="supporters-box">
                <h5 class="fw-bold fs-5 color-blue">Các nhà tài trợ</h5>
                <div class="supporters-arrow-left arrow-list-supporter ">
                    <i class="fas fa-long-arrow-left"></i>
                </div>
                <ngx-slick-carousel class="carousel row slick-list-supporter row" [config]="sliderSupporter">
                    <div ngxSlickItem class="col-4">
                        <img alt="">
                    </div>
                </ngx-slick-carousel>
                <div class="supporters-arrow-right arrow-list-supporter ">
                    <i class="fas fa-long-arrow-right"></i>
                </div>
            </div> -->
            <h5 class="fw-bold fs-5 color-blue">Tin tức cuộc thi</h5>
            <p class="color-gray p-justify fs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>
            <p class="color-gray p-justify fs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>
            <img src="https://caodang.fpt.edu.vn/wp-content/uploads/IMG_5572-ok.jpg" alt="" class="w-100">
            <p class="color-gray p-justify fs-text mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>
            <img src="https://caodang.fpt.edu.vn/wp-content/uploads/IMG_1668.jpg" class="w-100" alt="">
            <p class="color-gray p-justify fs-text mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolorum,
                ad nesciunt. Earum necessitatibus,
                perspiciatis dicta eaque magni, eveniet neque autem obcaecati commodi voluptas veritatis. Rem quam
                beatae alias
                laboriosam tenetur.</p>

            <h5 class="fw-bold fs-5 color-blue mt-3">Phản hồi</h5>
            <div class="idea-contest-box mt-3">
                <form action="">
                    <textarea placeholder="Phàn hổi của bạn ..." name="" id=""
                        class="w-100 idea-contest p-2"></textarea>
                    <div class="">
                        <ul class=""></ul>
                        <button class="btn btn-register float-end mt-3">Phản hồi</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="contest-detail-right">
            <div class="contest-detail-right-in rounded border">
                <div class="p-2 text-center" *ngIf="status == 'done'">
                    <div class="img-detail-box">
                        <img [src]="contestDetail.img" class="w-100" alt="">
                        <p class="fw-bold fs-5 pt-2 text-dark">{{contestDetail.name}}</p>
                        <h3 class="number-team ">Số đội tham gia : <span>{{contestDetail.teams.length}}</span>
                        </h3>
                        <ul class="contest-detail-right-countdown">
                            <li class="contest-detail-right-countdown-item"><span
                                    class="contest-detail-right-countdown-number days">{{days}}</span>
                            </li>
                            <li class="contest-detail-right-countdown-item"><span
                                    class="contest-detail-right-countdown-number hours">{{hours}}</span></li>
                            <li class="contest-detail-right-countdown-item"><span
                                    class="contest-detail-right-countdown-number minutes">{{minutes}}</span></li>
                            <li class="contest-detail-right-countdown-item"><span
                                    class="contest-detail-right-countdown-number seconds">{{seconds}}</span></li>
                        </ul>
                        <!-- contest-detail-register-btn  btn-register-disable w-100 -->
                        <a (click)="openFormRegister()"
                            [ngClass]="statusCheckDate == true ? 'btn contest-detail-register-btn  btn-register w-100' : 'btn btn-register-disable w-100'">{{nameBtnRegister}}</a>
                    </div>
                </div>
                <div class="p-2" *ngIf="status == 'pending'">
                    <ngx-skeleton-loader
                        [theme]="{ 'height.px' : 150, 'margin-bottom' : '7px' , 'border-radius': '3px' }"
                        appearance="line">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 20 }" appearance="line">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 30 ,'width.px' : '80%' , 'margin-top' : '10px' } "
                        appearance="line">
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ 'height.px' : 40 }" appearance="line">
                    </ngx-skeleton-loader>
                </div>
            </div>
            <div class="mt-3">
                <img src="https://caodang.fpt.edu.vn/wp-content/uploads/%C4%91%E1%BB%8Bnh-h%C6%B0%E1%BB%9Bng.png" alt=""
                    class="w-100">
            </div>
            <h3 class="fw-bold fs-5 color-blue my-4">Top sinh viên</h3>
            <div class="list-student-rank-box border text-center">
                <header>
                    <h3 class="list-student-rank-title fw-bold pt-3 primary-color">Thiết kế website</h3>
                    <div class=" form-input">
                        <i class="fas fa-search"></i>
                        <input type="text" id="filter" placeholder="Tên nhóm ..." />
                    </div>
                </header>
                <div class="student-rank-list">
                    <div class="student-rank-item d-flex justify-content-between align-items-center">
                        <img src="
                        https://avatarfiles.alphacoders.com/645/thumb-64509.png" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name mt-2">Team ngọc toàn</p>
                        <span class="student-rank-cup color-top-one">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/Vladimir_2.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name  mt-2">Team ngọc uy</p>
                        <span class="student-rank-cup color-top-two">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/XinZhao_4.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name  mt-2">Team Văn trọng</p>
                        <span class="student-rank-cup color-top-three">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/XinZhao_4.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name mt-2">Team Đức Bình</p>
                        <span class="student-rank-cup color-top-all">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/XinZhao_4.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name  mt-2">Team Đức Bình</p>
                        <span class="student-rank-cup color-top-all">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/XinZhao_4.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name  mt-2">Team Đức Bình</p>
                        <span class="student-rank-cup color-top-all">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/XinZhao_4.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name  mt-2">Team Đức Bình</p>
                        <span class="student-rank-cup color-top-all">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>
                    <div class="student-rank-item d-flex justify-content-between align-items-center mt-2">
                        <img src="
                        https://en.ephoto360.com/uploads/worigin/media/avatar-lol-name/thumb/XinZhao_4.jpg" alt=""
                            class="student-rank-avatar d-block">
                        <p class="student-rank-name mt-2">Team Đức Bình</p>
                        <span class="student-rank-cup color-top-all">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </div>

                </div>
                <footer class="student-rank-footer">
                    <a href="" class="student-rank-more">Xem thêm</a>
                </footer>
            </div>
            <h3 class="fw-bold fs-5 color-blue mt-4">Sinh viên xuất sắc</h3>
            <img class="stdent-very-good"
                src="https://lh6.googleusercontent.com/-4fiEqQAA0-4/VTb-7_RbA2I/AAAAAAAAM6U/3s--XsaPfMY/w441-h553-no/dang%2Bhuynh%2Bpoly.jpg"
                alt="">
            <h3 class="fw-bold fs-5 color-blue mt-4">Cuộc thi liên quan</h3>
            <div class="related-contest-list" *ngIf="statusContestRelated == true">
                <div *ngFor="let item of contestRelated"
                    class="related-contest-item d-flex justify-content-start align-items-center">
                    <img [src]="
                          item.img" alt="" class="related-contest-image">
                    <div class="related-contest-info">
                        <h3 class="related-contest-name fw-bold">{{ item.name}}</h3>
                        <p class="related-contest-time">Thời gian còn : <span> 2 ngày</span></p>
                        <a class="btn btn-register related-contest-detail">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="related-contest-list" *ngIf="statusContestRelated == false">
                <div class="related-contest-item d-flex justify-content-start align-items-center">
                    <div class="load-item">
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '90px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                    <div class="related-contest-info mt-1">
                        <ngx-skeleton-loader [theme]=" { 'width' : '150px' , 'height' : '20px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '120px' , 'height' : '10px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '30px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div class="related-contest-item mt-3 d-flex justify-content-start align-items-center">
                    <div class="load-item">
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '90px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                    <div class="related-contest-info mt-1">
                        <ngx-skeleton-loader [theme]=" { 'width' : '150px' , 'height' : '20px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '120px' , 'height' : '10px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '30px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div class="related-contest-item mt-3 d-flex justify-content-start align-items-center">
                    <div class="load-item">
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '90px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                    <div class="related-contest-info mt-1">
                        <ngx-skeleton-loader [theme]=" { 'width' : '150px' , 'height' : '20px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '120px' , 'height' : '10px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '30px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div class="related-contest-item mt-3 d-flex justify-content-start align-items-center">
                    <div class="load-item">
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '90px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                    <div class="related-contest-info mt-1">
                        <ngx-skeleton-loader [theme]=" { 'width' : '150px' , 'height' : '20px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '120px' , 'height' : '10px' }" appearance="line">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]=" { 'width' : '100px' , 'height' : '30px' }" appearance="line">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>