.profile-user-body {
  padding-bottom: 100px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 15px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 95px;
  z-index: 1;
  top: 0px;
  right: 45px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.register-avatar-team {
  width: 100%;
  max-height: 205px;
  object-fit: cover;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* ------- */

.register-input-text {
  width: 350px;
  height: 45px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  padding: 0px 15px;
}

.register-input-text:focus {
  outline-color: #ff5622;
}

.register-input-box {
  position: relative;
}

.register-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  user-select: none;
  color: #555;
  pointer-events: none;
  transition: 0.25s ease;
}

.register-input-text:not(:placeholder-shown)+.register-label,
.register-input-text:focus+.register-label {
  top: 0;
  padding: 0px 10px;
  display: inline-block;
  background-color: white;
  color: #ff5622;
}
