.contest-item {
  background: var(--my-white);
  border-radius: var(--my-rounded);
  overflow: hidden;
  border: 1px solid var(--my-dark-gray);
}

.contest-view {
  text-align: center;
  margin-top: 32px;
}

.contest-view .contest-view-link {
  display: inline-block;
}

/* -------- img --------- */
.contest-item__img-section {
  position: relative;
}

.contest-item__img {
  object-fit: cover;
  width: 100%;
  height: 115px;
  border-radius: var(--my-rounded)
}

/* -------- button favorite --------- */
.contest-item__btn-favorite {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* ------------------------- content --------- */
.contest-item-content {
  padding: 8px;
}

.contest-item-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contest-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 2;
}

.contest-item__title-link {
  color: initial;
}

.contest-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--my-darkest-gray);
}

.contest-item__info-item+.contest-item__info-item {
  margin-left: 8px;
}

.contest-item__info-item i {
  color: var(--my-secondary);
}

.info-item__number {
  font-weight: bold;
  color: var(--my-secondary);
}

/* -------------- countdown ---------- */
.my-countdown {
  display: flex;
  /* flex-grow important */
  flex-grow: 1;
  justify-content: flex-end;
  margin-bottom: 0;
  /* width: 100%; */
  width: fit-content
}

.my-countdown-item {
  color: var(--my-darkest-gray);
}

.my-countdown-item+.my-countdown-item {
  padding-left: 4px;
}

.my-countdown-item-box {
  background-color: transparent;
  color: var(--primary);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

.my-countdown-item-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}


.contest-item{
  margin-bottom: 20px;
}

.my-countdown {
  margin-top: 0;
}
