.contest-item {
  background: var(--my-white);
  border-radius: var(--my-rounded);
  overflow: hidden;
  border: 1px solid var(--my-dark-gray);
  z-index: -1;
}

.contest-view {
  text-align: center;
  margin-top: 32px;
}

.contest-view .contest-view-link {
  display: inline-block;
}

/* -------- img --------- */
.contest-item__img-section {
  position: relative;
}

.contest-item__img {
  object-fit: cover;
  width: 100%;
  height: 115px;
  border-radius: var(--my-rounded)
}

/* -------- button favorite --------- */
.contest-item__btn-favorite {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* ------------------------- content --------- */
.contest-item-content {
  padding: 8px;
}

.contest-item-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contest-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 2;
}

.contest-item__title-link {
  color: initial;
  font-weight: bold;
}

.contest-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--my-darkest-gray);
}

.contest-item__info-item+.contest-item__info-item {
  margin-left: 8px;
}

.contest-item__info-item i {
  color: var(--my-secondary);
}

.info-item__number {
  font-weight: bold;
  color: var(--my-secondary);
}
