.row>* {
  padding-right: 0px !important;

}

.contest-item-img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
  pointer-events: none;
}

.contest-name {
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0px -13px 0px;
  color: #444;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  max-width: 100%;
}

.contest-register-dealine,
.contest-count-team {
  font-size: 15px;
  font-style: 500;
}

.contest-count-team .count-team {
  font-size: 13px;
  padding: 3px;
  max-width: 9px;
  background: var(--primary-color);
  border-radius: 5px;
}

.fs-name-time {
  font-size: 13px;
}

.contest-btn-register {
  font-size: 17px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.contest-btn-disable {
  font-size: 17px;
  padding: 6px 0px;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: none;
  opacity: 0.7;
}
