<ul class="d-flex">
    <li *ngFor="let item of avatarTeam" class="avatar-item"><img class="avatar" [src]=" item.image" alt="">
    </li>
    <li class="avatar-item" *ngIf="lengthTeam > 4">
        <a (click)="openVerticallyCentered(content)">
            <p class="icon-list-round"><i class="far fa-plus"></i>{{viewMore}}</p>
        </a>
    </li>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h3 class="modal-title fs-5 fw-bold">{{titleModelName}}</h3>
            <button type=" button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <div *ngFor="let item of listTeam" class="member-item d-flex justify-content-start  align-items-center">
                <div class="img-avatar-round my-2">
                    <img [src]="item.image" alt="" class="w-100 h-100">
                </div>
                &nbsp;
                &nbsp;
                <p class="mt-2">{{item.name}}</p>
            </div>
            <div *ngIf="!avatarTeam.length" class="text-center">
                <p> <i class="fas fa-user-lock block fs-5 color-blue"></i></p>
                Chưa có thành viên nào!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
</ul>