p,
h3,
h4,
h6,
h1,
h2,
h5 {
  margin-bottom: 0px;
}

.wraper {
  background-color: var(--bg-content);
}

.fixed-nav {
  position: fixed;
  top: 68px;
  width: 100%;
  z-index: 10;
}

.banner {
  height: 350px;
}

.contest__nav {
  background-color: var(--primary);
  height: 45px;
  line-height: 45px;
}

.contest__nav-list {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contest__nav-item {
  padding: 0px 25px;
  position: relative;
}

.btn__search-contest {
  margin-top: 3px;
}

.contest__nav-item:first-child {
  padding-left: 0;
}

.contest__nav-link {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.contest__nav-list .active::after {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid var(--bg-content);
  top: 80%;
  transform: translateX(-60px);
}

.contest__list {
  min-height: 500px;
}

.contest__content-aside--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-major-back {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--gray-200);
  cursor: pointer;
  border-radius: 50px;
}

.contest__content-aside--inner {
  position: static;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px var(--gray-200);
  border-radius: 10px;
  padding: 15px;
}

.contest__content-form--search {
  margin: 10px 0px;
  font-size: 15px;
}

.input-search::placeholder {
  font-size: 14px;
}

.btn__search-major {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.contest__content-aside-major--item {
  height: 40px;
  line-height: 40px;
  background-color: var(--gray-200);
  margin-bottom: 10px;
  border-radius: 4px;
  color: var(--gray-600);
  cursor: pointer;
  padding-left: 10px;
}

.contest__content-aside-major .active {
  background-color: var(--primary);
  color: var(--white);
}

.contest__content-aside-major {
  overflow-y: auto;
  max-height: 400px;
  padding-right: 5px;
}

.contest__content-aside-major::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(235, 232, 232);
}

.input-search-contest::placeholder {
  font-size: 15px;
}

.contest__content-aside-major::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
