<div class="container my-4">
    <div class="row">
        <div class="col-3 slider-bar">
            <h3 class="title-major fw-bold fs-4 color-title">Chuyên ngành</h3>
            <ul class="list-major-contest mt-3">
                <li class="list-unstyled major-contest-item"><a href=""
                        class="major-contest-link text-decoration-none fw-bold fs-6 w-100 rounded d-inline-block text-dar active">Thiết
                        kế đồ
                        họa</a>
                </li>
                <li class="list-unstyled major-contest-item"><a href=""
                        class="major-contest-link rounded text-decoration-none  w-100 fw-bold fs-6 d-inline-block">Thiết
                        kế
                        web</a>
                </li>
                <li class="list-unstyled major-contest-item"><a href=""
                        class="major-contest-link rounded  text-decoration-none  w-100 fw-bold fs-6 d-inline-block">Ứng
                        dụng
                        phần mềm</a>
                </li>
                <li class="list-unstyled major-contest-item "><a href=""
                        class="major-contest-link rounded  text-decoration-none  w-100 fw-bold fs-6 d-inline-block">Marketing</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="form-search">
                <fa-icon class="color-title  fs-5 p-1" [icon]="['fas' , 'search']"></fa-icon>
                <input type="text" class="color-title w-50 px-2 input-search border-0" placeholder="Tìm kiếm">
            </div>
            <h5 class="mt-4 fw-bold">Đang diễn ra</h5>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="paying-contest float-end ">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link " href="#">
                                <fa-icon class="" [icon]="['fas' , 'angle-double-left']"></fa-icon>
                            </a></li>
                        <li class="page-item"><a class="page-link " href="#">1</a></li>
                        <li class="page-item"><a class="page-link " href="#">2</a></li>
                        <li class="page-item"><a class="page-link " href="#">3</a></li>
                        <li class="page-item"><a class="page-link " href="#">
                                <fa-icon class="" [icon]="['fas' , 'angle-double-right']"></fa-icon>
                            </a></li>
                    </ul>
                </nav>
            </div>
            <h5 class="mt-4 fw-bold">Sắp diễn ra</h5>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <div class="text-Secondary mt-3 d-flex justify-content-evenly a font-size-sml fs-text-contest">
                            <p class="time">
                                Thời gian :
                            </p>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{days}}</span>
                                <br>
                                <span class="fs-name-time"> Days </span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{hours}}</span>
                                <br>
                                <span class="fs-name-time"> Hours</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{minutes}}</span>
                                <br>
                                <span class="fs-name-time"> Minutes</span>
                            </div>
                            <span class="fw-bold text-primary">:</span>
                            <div class="text-center">
                                <span class="fw-bold text-primary">{{seconds}}</span>
                                <br>
                                <span class="fs-name-time">Seconds</span>
                            </div>
                        </div>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register w-100">Đăng ký</a>
                    </div>
                </div>
            </div>
            <h5 class="mt-4 fw-bold">Đã kết thúc</h5>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <span class="text-Secondary d-block font-size-sml fs-text-contest">Thời gian : </span>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register-end w-100">Hết thời gian</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <span class="text-Secondary d-block font-size-sml fs-text-contest">Thời gian : </span>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <p class="btn btn-register-end  w-100">Hết thời gian</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <span class="text-Secondary d-block font-size-sml fs-text-contest">Thời gian : </span>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <p class="btn btn-register-end w-100">Hết thời gian</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <span class="text-Secondary d-block font-size-sml fs-text-contest">Thời gian : </span>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register-end w-100">Hết thời gian</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <span class="text-Secondary d-block font-size-sml fs-text-contest">Thời gian : </span>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register-end w-100">Hết thời gian</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12 mb-3">
                    <div class="contest-img">
                        <img src="./../../../assets/img/8669a9bde3c52c9b75d4.jpg"
                            class="card-img-top rounded img-fluid">
                    </div>

                    <div class="mt-3">
                        <h5 class=" font-size-ml text-dark fs-6 fw-bold">Cuộc thi Tiktok Challenge</h5>
                        <span class="text-Secondary d-block font-size-sml fs-text-contest">Thời gian : </span>
                        <p class="font-size-sml mt-3 fs-text-contest">Số người tham gia
                            <span class="bg-primary p-1 rounded text-white">23</span>
                        </p>
                        <a class="btn btn-register-end w-100">Hết thời gian</a>
                    </div>
                </div>
            </div>
            <div class="paying-contest float-end ">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link " href="#">
                                <fa-icon class="" [icon]="['fas' , 'angle-double-left']"></fa-icon>
                            </a></li>
                        <li class="page-item"><a class="page-link " href="#">1</a></li>
                        <li class="page-item"><a class="page-link " href="#">2</a></li>
                        <li class="page-item"><a class="page-link " href="#">3</a></li>
                        <li class="page-item"><a class="page-link " href="#">
                                <fa-icon class="" [icon]="['fas' , 'angle-double-right']"></fa-icon>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>