/* COMMOM */
h1, h2 , h3 , h4 , h5 , h6 , p , ul{
  margin-bottom: 0;
}

.p-justify {
  text-align: justify;
}

.round-info-box .round-info-item{
  margin-bottom: 15px;
}

.contest-detail-box {
  background-color: #F8F8F8;
}

.new-page-img img {
  width: 100% !important;
}

.content-contest {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.content-round-page {
  border-radius: 6px;
  padding: 2px 20px;
}

.example-button-item:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s ease-in;
}

.contest-detail-header {
  display: grid;
  grid-template-columns: 74% 23%;
  grid-gap: 30px;
}

.related-contest-list {
  margin-top: -5px;
}

.contest-detail-left-name-contest {
  background-color: var(--warning);
  color: white;
}

.contest-detail-left-header {
  margin: 0 0 !important;
}


.contest-detail-left-header,
.list-team-in,
.contest-detail-right-in,
.contest-detail-section,
.content-round-page {
  border-radius: 8px;
  box-shadow: 0px 0px 7px var(--gray-200);
  background-color: #ffff;
}


/*  */

.contest-detail-left-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 10px;
  margin: 0px -12px !important;
  object-fit: cover;
  height: 290px;
}

.contest-date-open-end {
  font-size: 20px;
  padding-right: 10px;
}


/* Danh sánh các nhà tài trợ */
.arrow-list-supporter {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50px;
  color: var(--primary);
  transition: 0.3s;
}


.supporters-arrow-left {
  left: 5%;
  transform: translateY(60px);
  z-index: 10;
}

.supporters-arrow-right {
  right: 31%;
  transform: translateY(-110px);
}

.slick-list-supporter {
  position: relative;
  z-index: -1;
}

.btn-join-exam-box{
  margin-bottom: 10px;
}

.btn-join-exam{
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
}

.btn-join-exam:hover{
  opacity: 0.9;
  transition: 0.6s;
}

.name-company {
  font-size: 1rem;
  color: var(--midnight-blue);

}

/* Idea contest */
.idea-contest {
  border: rgb(168, 164, 164) solid 1px;
  height: 100px;
  border-radius: 5px;
}

.idea-contest:focus {
  outline: none;
}

/* List student point rank */
.list-student-rank-title {
  font-style: 22px;

}

.form-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px 20px;
}

.form-input input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 10px;
  width: 100%;
}

.form-input i {
  color: #555;
  padding-left: 10px;
}

.student-rank-list {
  margin-top: 15px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 0px 20px;
}

.student-rank-name {
  color: #444;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.student-rank-list .student-rank-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px;
}

.student-rank-cup i {
  font-size: 20px;
}

.color-top-one {
  color: #f1c40f;
}

.color-top-two {
  color: #7f8c8d;
}

.color-top-three {
  color: #d35400;
}

.color-top-all {
  color: #273c75;
}

.student-rank-footer {
  height: 40px;
  box-shadow: 0 2px 2px #ccc;
}

.student-rank-more {
  padding: 10px 40px;
  line-height: 40px;
  color: var(--primary);
}

.student-rank-more:hover {
  opacity: 0.7;
}


/* List  */
.related-contest-item {
  margin-top: 30px;
}

.related-contest-item .related-contest-image {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50px;
}

.related-contest-item .related-contest-name {
  font-size: 15px;
  font-weight: 600;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  max-width: 100%;
}

.related-contest-info .related-contest-name {
  margin-top: -3px;
}

.related-contest-info {
  margin-left: 15px;
  margin-top: -7px;
}

.related-contest-info .related-contest-time {
  margin-top: -18px;
}

.related-contest-info .related-contest-detail {
  margin-top: -2px;
}

.related-contest-info .related-contest-detail {
  padding: 3px 10px;
}



/* COUNT DOWN */


.contest-detail-right-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.img-detail-box img {
  object-fit: cover;
  height: 170px;
  width: 170px;
  border-radius: 5px;
}

.contest-detail-right-countdown {
  display: flex;
  justify-content: center;
  /* margin: 20px 10px; */
  margin-bottom: -0.2rem !important;
}

.contest-detail-right-countdown-box {
  width: 20%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contest-detail-right-countdown-item {
  text-align: center;
  padding: 10px 5px;
  background-color: var(--primary);
  width: 100%;
  margin: 0px 5px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
}

.contest-detail-right-in {
  position: sticky;
  top: 100px
}

.contest-detail-right-countdown-box p {
  color: rgba(20, 20, 20, 0.333);
  margin-left: 10px;
}
