<div class="list-round-box mt-4">
  <p  *ngIf="statusContest == true" class="fw-bold my-2 fs-5 color-blue">Danh sách vòng thi</p>
  <div  *ngIf="statusContest == true" class="title-line margin-0"></div>
  <mat-accordion *ngIf="statusContest == true">
    <p hidden *ngFor="let item of contestDetail.rounds">
      {{ checkStatusRound(item.start_time, item.end_time, item.id) }}
    </p>
    <mat-expansion-panel
      *ngFor="let item of contestDetail.rounds"
      [expanded]="step === item.id"
      class="round-header mb-3"
    >
      <mat-expansion-panel-header class="test">
        <mat-panel-title class="row">
          <div class="d-flex justify-content-start align-items-center col-10">
            <div class="img-avatar-round my-2">
              <img [src]="item.image" class="w-100 h-100" />
            </div>
            &nbsp;
            <p style="margin-left: 15px;" class="text-collapse color-blue">{{ item.name }}</p>
          </div>
          <p hidden>
            {{ checkStatusRound(item.start_time, item.end_time, item.id) }}
          </p>
          <div class="col-2 text-center">
            <h3
              [ngStyle]="{ color: statusRound == 1 ? '#c0392b' : '#27ae60' }"
              class="mr-2 "
            >
              {{ checkStatusRound(item.start_time, item.end_time, item.id) }}
            </h3>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="my-2 round-content">
        <p class="color-gray color-blue fs-text fw-bold">
          <i class="fas -3 fa-clock contest-date-open-end"></i>
          &nbsp;
          <span class="fw-normal"
            >{{ item.start_time | formatDate }} -
            {{ item.end_time | formatDate }}</span
          >
        </p>

        <p class="fw-bold color-gray p-justify fs-text">
          Nội dung :
          <span
            class="fw-normal"
            [innerHTML]="contestDetail.description"
          ></span>
        </p>
        <div class="d-flex justify-content-start align-items-center">
          <p class="fw-bold fs-text color-gray">Số đội :</p>
          &nbsp;
          <p class="" *ngIf="item.teams.length == 0">Chưa có team nào !</p>
          <div class="my-2" *ngIf="item.teams.length > 0">
            <app-list-avatar-user
              [titleModelName]="'Danh sách các đội'"
              [listTeam]="item.teams"
            >
            </app-list-avatar-user>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <p class="fw-bold fs-text color-gray">Ban giám khảo :</p>
            &nbsp;
            <!-- {{item.teams.length}} -->
            <p class="" *ngIf="item.judges.length == 0">
              Chưa có ban giám khảo nào !
            </p>
            <div class="my-2" *ngIf="item.judges.length > 0">
              <app-list-avatar-user
                [titleModelName]="'Danh sách ban giám khảo'"
                [listTeam]="getImageJudges(item.judges)"
              >
              </app-list-avatar-user>
            </div>
          </div>
          <div class="">
            <a class="my-btn-primary my-btn-xs" [routerLink]="['./vong', item.id]"
              >Chi tiết</a
            >
          </div>
        </div>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="statusContest == false">
    <ngx-skeleton-loader
      count="6"
      [theme]="{ 'height.px': 40, 'margin-bottom': '7px' }"
      appearance="line"
    >
    </ngx-skeleton-loader>
  </div>
  <div
    class="text-center"
    *ngIf="statusContest == true && contestDetail.rounds.length == 0"
  >
    <div class="d-flex justify-content-center">
      <img
        src="
        https://img.freepik.com/free-vector/tiny-people-examining-operating-system-error-warning-web-page-isolated-flat-illustration_74855-11104.jpg?t=st=1650442354~exp=1650442954~hmac=8f7b8e030616e950ec8b0bb7b1a388560f06cee34fa16654fc95a2f9faad5635&w=740"
        alt=""
        class="image-warn-round"
      />
    </div>
    <h2 class="color-red fw-bold">
      Chưa có vòng thi nào !!!
      <img
        src="https://cdn-icons.flaticon.com/png/512/2335/premium/2335167.png?token=exp=1650443988~hmac=83275e887fb90c71605ec0b09dfc7078"
        alt=""
        style="height: 30px; margin-bottom: 5px"
      />
    </h2>
  </div>
</div>
