<div class="list-round-box mt-4">
    <p class="fw-bold fs-5 primary-color">Danh sách vòng thi</p>
    <mat-accordion>
        <mat-expansion-panel class="round-header mb-3">
            <mat-expansion-panel-header class="test">
                <mat-panel-title class="round-item">
                    <div class="img-avatar-round my-2">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-badge-and-knight.webp" alt=""
                            class="w-100 h-100">
                    </div>
                    &nbsp;
                    Vòng 1
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="mt-2 round-content">
                <p class="color-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="color-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="fw-bold color-gray p-justify fs-text">Nội dung : <span class="fw-normal">Lorem ipsum dolor
                        sit
                        amet
                        consectetur
                        adipisicing
                        elit. Laudantium
                        distinctio quae vero
                        tempora consequuntur quaerat saepe inventore, libero vitae quisquam recusandae labore error
                        minus
                        accusantium accusamus neque sequi aut laboriosam.</span></p>
                <p class="fw-bold fs-text color-gray">Số đội : <span class="fw-normal"> 10 đội</span> <a
                        class="fw-normal" href="" class="fw-normal"> Chi
                        tiết</a></p>
                <p class="fw-bold fs-text color-gray">Bam giảm khảo :<span class="fw-normal">Nguyễn Đức Anh Tuấn , Trần
                        Hữu
                        Thiện...<a href="" class="color-blue">Chi
                            tiết
                        </a></span></p>
                <a class="btn btn-register float-end" routerLink="./../vong-thi">Chi tiết</a>

            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel class="round-header mb-3">
            <mat-expansion-panel-header class="test">
                <mat-panel-title class="round-item">
                    <div class="img-avatar-round my-2">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-badge-and-knight.webp" alt=""
                            class="w-100 h-100">
                    </div>
                    &nbsp;
                    Vòng 2
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2 round-content">
                <p class="text-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="text-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="fw-bold p-justify fs-text">Nội dung : <span class="fw-normal">Lorem ipsum dolor
                        sit
                        amet
                        consectetur
                        adipisicing
                        elit. Laudantium
                        distinctio quae vero
                        tempora consequuntur quaerat saepe inventore, libero vitae quisquam recusandae labore error
                        minus
                        accusantium accusamus neque sequi aut laboriosam.</span></p>

            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="round-header mb-3">
            <mat-expansion-panel-header class="test">
                <mat-panel-title class="round-item">
                    <div class="img-avatar-round my-2">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-badge-and-knight.webp" alt=""
                            class="w-100 h-100">
                    </div>
                    &nbsp;
                    Vòng 3
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2 round-content">
                <p class="text-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="text-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="fw-bold p-justify fs-text">Nội dung : <span class="fw-normal">Lorem ipsum dolor
                        sit
                        amet
                        consectetur
                        adipisicing
                        elit. Laudantium
                        distinctio quae vero
                        tempora consequuntur quaerat saepe inventore, libero vitae quisquam recusandae labore error
                        minus
                        accusantium accusamus neque sequi aut laboriosam.</span></p>

            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="round-header mb-3">
            <mat-expansion-panel-header class="test">
                <mat-panel-title class="round-item">
                    <div class="img-avatar-round my-2">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-badge-and-knight.webp" alt=""
                            class="w-100 h-100">
                    </div>
                    &nbsp;
                    Vòng 4
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2 round-content">
                <p class="text-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="text-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="fw-bold p-justify fs-text">Nội dung : <span class="fw-normal">Lorem ipsum dolor
                        sit
                        amet
                        consectetur
                        adipisicing
                        elit. Laudantium
                        distinctio quae vero
                        tempora consequuntur quaerat saepe inventore, libero vitae quisquam recusandae labore error
                        minus
                        accusantium accusamus neque sequi aut laboriosam.</span></p>

            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="round-header mb-3">
            <mat-expansion-panel-header class="test">
                <mat-panel-title class="round-item">
                    <div class="img-avatar-round my-2">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-badge-and-knight.webp" alt=""
                            class="w-100 h-100">
                    </div>
                    &nbsp;
                    Vòng 5
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2 round-content">
                <p class="text-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="text-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="fw-bold p-justify fs-text">Nội dung : <span class="fw-normal">Lorem ipsum dolor
                        sit
                        amet
                        consectetur
                        adipisicing
                        elit. Laudantium
                        distinctio quae vero
                        tempora consequuntur quaerat saepe inventore, libero vitae quisquam recusandae labore error
                        minus
                        accusantium accusamus neque sequi aut laboriosam.</span></p>

            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="round-header mb-3">
            <mat-expansion-panel-header class="test">
                <mat-panel-title class="round-item">
                    <div class="img-avatar-round my-2">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-badge-and-knight.webp" alt=""
                            class="w-100 h-100">
                    </div>
                    &nbsp;
                    Vòng 6
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2 round-content">
                <p class="text-gray fs-text fw-bold">Bắt đầu : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="text-gray fs-text fw-bold">Kết thúc : <span class="fw-normal">10h 45 29-3-2022</span></p>
                <p class="fw-bold p-justify fs-text">Nội dung : <span class="fw-normal">Lorem ipsum dolor
                        sit
                        amet
                        consectetur
                        adipisicing
                        elit. Laudantium
                        distinctio quae vero
                        tempora consequuntur quaerat saepe inventore, libero vitae quisquam recusandae labore error
                        minus
                        accusantium accusamus neque sequi aut laboriosam.</span></p>

            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>