<div class="post-item">
    <div class="post-item-img-section">
        <a routerLink="/bai-viet/{{postItem.slug}}" data-toggle="tooltip"
                                        data-placement="top" title={{postItem.title}}>
            <img class="post-item__img" src={{postItem.thumbnail_url}} alt="">
        </a>
        <div class="post-item-content post-item-content--new-in-cate my-shadow-2">
            <h3 class="post-item__title">
                <a data-toggle="tooltip" data-placement="top" title={{postItem.title}}
                class="post-item__title-link" routerLink="/bai-viet/{{postItem.slug}}">{{postItem.title}}</a>
            </h3>
            <div class="post-item__info">
                <div class="post-item__info-item" data-toggle="tooltip" data-placement="bottom"
                    title={{postItem.user.name}}>
                    <i class="fa-solid fa-user"></i>&ensp; {{postItem.user.name}}
                </div>
                <div class="post-item__info-item">
                    <i class="fa-solid fa-clock"></i>&ensp;{{postItem.published_at |
                    formatDatePost }}
                </div>
            </div>
            <div class="post-item-bottom">
                <div class="short-desc" *ngIf="postItem.description" [innerHTML]="postItem.description"></div>
                <a routerLink="/bai-viet/{{postItem.slug}}">
                    <button class="my-btn-secondary my-btn-ss">
                        Chi tiết
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>