p,
h1,
h2,
h3,
h4,
h5, 

h3>a {
    color: var(--my-black);
    transition-duration: .3s;
}

h3:hover>a {
    color: var(--my-primary)
}
.text-collapse-post {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

/* ------ */
.page-post-box {
    background: #f6f8fa
}

.post-new-latest {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 44px;

}

.post-new-latest__img-section .post-new-latest__img {
    border-radius: 10px;
    width: 100%;
    height: 420px;
    object-fit: cover;
}

/* ------------------------------------- */
.post-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 44px;
    margin-top: 32px;
}

.post-main-content-section:first-child {
    margin: 0;
}

.post-main-content-section {
    margin-top: 32px;
}

.post-main-content .post-main-content-section .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 32px;
}

.title-category-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.header-section .header-section__link {
    color: #8E8E95
}

.post-main-content-section .main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px
}

/* --------- */
.post-in-cate-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-in-cate-item {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 16px;
}

.post-in-cate-item__img-section .post-in-cate-item__img {
    width: 100%;
    border-radius: 10px;
    height: 125px;
    object-fit: cover;
}

/* .post-in-cate-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.post-in-cate-item-content__info {
    color: #8E8E95;
    display: flex;
    margin-top: 20px;
}

/* ------------------- post item ------------ */
.post-item-img-section {
    position: relative;
}

.post-item__img {
    width: 100%;
    border-radius: 10px;
    height: 260px;
    object-fit: cover;
}

.post-item-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    background: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    max-height: 250px;
}

.post-item__title {
    line-height: 1.2;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-item__title-link {
    color: var(--my-black)
}

.post-item__info {
    margin: 10px 0;
    display: flex;
    justify-content: start;
}

.post-item__info-item:first-child {
    display: -webkit-box;
    display: inline-block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 145px;
    width: 100%;
}

.post-item__info-item+.post-item__info-item {
    /* margin-left: 2px; */
}

.post-item__info,
.post-item-bottom {
    color: #8E8E95
}

.btn-detail {
    background-color: white;
    border: solid 1px #8E8E95
}

.btn-detail:hover {
    background-color: #0E0759;
    color: white
}


.post-item-bottom .btn {
    font-size: 12px;
    padding: 4px 10px;
    margin-top: 5px;
}

.short-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.short-desc p {
    margin: 0 !important;
}
.post-item-bottom button {
    background: transparent;
    margin-top: 8px;
    border: 1px solid var(--my-secondary);
    color: var(--my-secondary);
}

.post-item-bottom button:hover {
    background-color: var(--my-secondary);
    color: var(--white);
}