<div class="post-item-search">
    <div class="post-item-search__img-section">
        <img src="https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="" class="post-item-search__img">
    </div>
    <div class="post-item-search-content">
        <h3 class="post-item-search-content__title" title="">
            <!-- {{item.title}} --> abc
        </h3>
        <div class="post-item-search-content__info">
            <div class="post-item-search-content__info-item">
                <i class="fa-solid fa-clock"></i>&ensp;April 19, 2018 ácas
            </div>
        </div>
    </div>
</div>