.post-item-search {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 8px;
}

.post-item-search {
    margin-top: 10px;
}

.post-item-search .post-item-search__img-section {
    position: relative;
}

/* .post-item-search .post-item-search__tag {
    position: absolute;
    top: 10%;
    right: -3%;
    background: white;
    padding: 2px 3px;
    font-size: 10px;
    border-radius: 3px;
    line-height: 1.2;
    background: 0.1;
}

.post-item-search .post-item-search__tag--1 {
    background: #bbf7d0;
    color: #16a34a;
}

.post-item-search .post-item-search__tag--2 {
    background: #dbeafe;
    color: #2563eb;
}

.post-item-search .post-item-search__tag--3 {
    background: #ffe4e6;
    color: #f43f5e;
} */

.post-item-search .post-item-search__img-section .post-item-search__img {
    border-radius: 5px;
}

.post-item-search .post-item-search-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-item-search .post-item-search-content .post-item-search-content__title {
    line-height: 1;
    font-size: 14px;
}

.post-item-search-content__info {
    color: #8E8E95;
    display: flex;
    font-size: 12px
}

.post-item-search-content__info-item+.post-item-search-content__info-item {
    margin-left: 10px;
}